# Chinese (Mainland) Option Data - Market Data - Evaluation Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Valuation Data

In [2]:
dai.query("""
SELECT *
FROM cn_option_valuation
WHERE date = '2026-02-13'
AND instrument = '10009633.SHO'
""").df()

,instrument,date,lower_limit,upper_limit,delta,gamma,rho,theta,underlying_implied_vol,vega
0,10009633.SHO,2026-02-13,0.2252,0.8574,1.0,0.0,0.287,-0.077,NaN,0.0

## 2. Risk Measurement Data

In [3]:
dai.query("""
SELECT *
FROM cn_option_risk
WHERE date = '2026-02-13'
AND instrument = '10009633.SHO'
""").df()

     instrument trading_code       date  delta  theta  gamma  vega    rho
0  10009633.SHO     10009633 2026-02-13    1.0 -0.077    0.0   0.0  0.287