# Chinese (Mainland) Option Data - Market Data - Price-Volume Data

In [7]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Daily Price-Volume & Trading Data

In [8]:
dai.query("""
SELECT *
FROM cn_option_bar1d
WHERE date = '2026-02-13'
AND instrument = '10009633.SHO'
""").df()

,instrument,trading_code,date,exchange,pre_settle,pre_close,open,high,low,close,settle,volume,amount,open_interest,in_out_money
0,10009633.SHO,10009633,2026-02-13,SSE,0.5413,0.5413,0.5181,0.5232,0.483,0.4865,0.4865,89,467467.0,1592,1.877318

## 2. Intraday Price-Volume & Trading Data

### 2.1 Intraday Price Data

In [9]:
dai.query("""
SELECT *
FROM cn_option_bar1m
WHERE date BETWEEN '2026-02-13 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND instrument = '10009633.SHO'
""").df()

,date,instrument,open,close,high,low,volume,amount,open_interest
0,2026-02-13 09:25:00,10009633.SHO,0.5413,0.5413,0.5413,0.5413,0,0.0,0
1,2026-02-13 09:31:00,10009633.SHO,0.5413,0.5413,0.5413,0.5413,0,0.0,0
2,2026-02-13 09:32:00,10009633.SHO,0.5413,0.5413,0.5413,0.5413,0,0.0,0
...,...,...,...,...,...,...,...,...,...
238,2026-02-13 14:58:00,10009633.SHO,0.4865,0.4865,0.4865,0.4865,0,0.0,1604
239,2026-02-13 14:59:00,10009633.SHO,0.4865,0.4865,0.4865,0.4865,0,0.0,1604
240,2026-02-13 15:00:00,10009633.SHO,0.4865,0.4865,0.4865,0.4865,0,0.0,1604

### 2.2 Intraday VIX Data

In [13]:
dai.query("""
SELECT *
FROM cn_option_vix_bar1m
WHERE date BETWEEN '2026-02-13 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND instrument = '159901.VIX'
""").df()

,date,instrument,underlying,exchange,name,high,open,low,close,volume,open_interest
0,2026-02-13 09:25:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,21.438442,21.438442,21.438442,21.438442,64,43948
1,2026-02-13 09:31:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,22.381496,21.477413,20.919042,20.867361,1025,49421
2,2026-02-13 09:32:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,21.112070,20.867653,20.697205,20.964210,757,51219
...,...,...,...,...,...,...,...,...,...,...,...
238,2026-02-13 14:58:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,22.214058,22.214058,22.214058,22.214058,2,91395
239,2026-02-13 14:59:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,22.214374,22.214374,22.214374,22.214374,0,91395
240,2026-02-13 15:00:00,159901.VIX,159901.SZ,SZSE,SZ100ETFVIX,22.252593,22.214690,21.890695,21.929138,50,91419