# Chinese (Mainland) Stock Data - Market Data - Status Data

In [15]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Daily Status Data

### 1.1 Daily Pre-market Status

In [16]:
dai.query("""
SELECT *
FROM cn_stock_static_data
WHERE date = '2026-02-13'
AND instrument = '600519.SH'
""").df()

,date,instrument,name,trading_day,pre_close,upper_limit,lower_limit,adjust_factor,security_status,suspended,st_status,exchange,exdr,in_delist,price_tick,crd_buy_flag,crd_sell_flag,public_float_share,day_trading
0,2026-02-13,600519.SH,贵州茅台,20260213,1486.6,1635.26,1337.94,8.446992,0,0,0,SSE,0,0,0.01,1,1,1252270215,0

### 1.2 Daily Special Status

In [17]:
dai.query("""
SELECT *
FROM cn_stock_status
WHERE date = '2026-02-13'
AND instrument = '600519.SH'
""").df()

,date,instrument,st_status,is_risk_warning,suspended,price_limit_status,exdr
0,2026-02-13,600519.SH,0,0,0,2,0

## 2. Historical Special Status

### 2.1 Historical ST Status

In [18]:
dai.query("""
SELECT *
FROM cn_stock_st
WHERE instrument = '000004.SZ'
""").df()

  instrument                                  special_treatment
0  000004.SZ  *ST:20060421;摘*:20070525;*ST:20090421;摘*:20100...

### 2.2 Historical Suspend Status

In [19]:
dai.query("""
SELECT *
FROM cn_stock_suspend
WHERE instrument = '000004.SZ'
""").df()

          date instrument  suspend_period       suspend_reason
0   2005-05-20  000004.SZ               1               召开股东大会
1   2006-04-20  000004.SZ               1  股票交易实行退市风险警示的特别处理公告
2   2006-05-25  000004.SZ               1               召开股东大会
..         ...        ...             ...                  ...
330 2022-05-05  000004.SZ               1             实行其他风险警示
331 2023-06-27  000004.SZ               1             撤销其他风险警示
332 2025-04-29  000004.SZ               1                 重大事项

[333 rows x 4 columns]

### 2.3 Historical Suspend Status

In [20]:
dai.query("""
SELECT *
FROM cn_stock_name_change
WHERE instrument = '000004.SZ'
""").df()

   instrument start_date   end_date   name
0   000004.SZ 2005-01-04 2005-08-17   北大高科
1   000004.SZ 2005-08-18 2006-04-20   国农科技
2   000004.SZ 2006-04-21 2006-08-17  *ST国农
..        ...        ...        ...    ...
11  000004.SZ 2023-06-28 2025-04-29   国华网安
12  000004.SZ 2024-09-03        NaT
13  000004.SZ 2025-04-30        NaT  *ST国华

[14 rows x 4 columns]