# Chinese (Mainland) Stock Data - Market Data - Money Flow Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

In [2]:
dai.query("""
SELECT *
FROM cn_stock_moneyflow_ns
WHERE date BETWEEN '2026-01-11' AND '2026-01-12'
""").df()

,date,ggt_sh,ggt_sz,south,hgt,sgt,north
0,2026-01-11 09:00:00,0.00,0.000000,0.00,NaN,NaN,NaN
1,2026-01-11 09:01:00,0.00,0.000000,0.00,NaN,NaN,NaN
2,2026-01-11 09:02:00,0.00,0.000000,0.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...
368,2026-01-11 16:08:00,3429895.25,186012.656250,2416953.25,NaN,NaN,NaN
369,2026-01-11 16:09:00,3437203.25,165986.234375,2473019.25,NaN,NaN,NaN
370,2026-01-11 16:10:00,3437203.25,165986.234375,2473019.25,NaN,NaN,NaN