In [19]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
from cn_general_tool import *

In [20]:
sd, ed = get_sd_ed('2000-11-25', '2024-11-25')

In [21]:
sql = """
SELECT
    date,
    instrument,
    close,
    m_avg(close, 5) AS ma_short,
    m_avg(close, 40) AS ma_long,
    IF(ma_short > ma_long AND m_lag(ma_short, 1) < m_lag(ma_long, 1), 1, 0) AS signal_buy,
    IF(ma_short < ma_long AND m_lag(ma_short, 1) > m_lag(ma_long, 1), 1, 0) AS signal_sell,
FROM cc_binance_spot_bar1d
WHERE instrument = 'RARETRY'
QUALIFY (signal_buy = 1 OR signal_sell = 1)
ORDER BY date
"""

In [22]:
df = get_dai_df(sql, sd, ed)
df

         date instrument  close  ma_short   ma_long  signal_buy  signal_sell
0  2024-02-10    RARETRY  3.651    3.3134  3.267325           1            0
1  2024-04-06    RARETRY  5.294    5.3946  5.537200           0            1
2  2024-05-29    RARETRY  3.945    3.9354  3.934475           1            0
3  2024-05-30    RARETRY  3.835    3.9108  3.915300           0            1
4  2024-05-31    RARETRY  3.882    3.9072  3.903000           1            0
5  2024-06-10    RARETRY  3.630    3.8152  3.913175           0            1
6  2024-07-21    RARETRY  3.156    3.1238  3.117025           1            0
7  2024-07-23    RARETRY  2.769    3.0554  3.080525           0            1
8  2024-08-15    RARETRY  3.431    2.9594  2.768300           1            0
9  2024-09-08    RARETRY  5.005    4.9408  4.965975           0            1
10 2024-09-09    RARETRY  5.571    5.0592  5.038100           1            0
11 2024-09-11    RARETRY  4.839    5.1282  5.165325           0            1
12 2024-11-08    RARETRY  4.120    4.0806  4.047600           1            0