In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
from cn_general_tool import *

In [2]:
sql = """
SELECT *
FROM cn_macro_cpi_yearly
"""

In [3]:
dai.query(sql).df()

,year,cpi,citizen_cpi,rural_cpi,cpi_1978,citizen_cpi_1978,rural_cpi_1978
0,2004,103.9,103.3,104.8,455.8,495.2,335.6
1,2005,101.8,101.6,102.2,464.0,503.1,343.0
2,2006,101.5,101.5,101.5,471.0,510.6,348.1
3,2007,104.8,104.5,105.4,493.6,533.6,366.9
4,2008,105.9,105.6,106.5,522.7,563.5,390.7
5,2009,99.3,99.1,99.7,519.0,558.4,389.5
6,2010,103.3,103.2,103.6,536.1,576.3,403.5
7,2011,105.4,105.3,105.8,565.0,606.8,426.9
8,2012,102.6,102.7,102.5,579.7,623.2,437.6
9,2013,102.6,102.6,102.8,594.8,639.4,449.9
10,2014,102.0,102.1,101.8,606.7,652.8,458.0
11,2015,101.4,101.5,101.3,615.2,662.6,464.0
12,2016,102.0,102.1,101.9,627.5,676.5,472.8
13,2017,101.6,101.7,101.3,637.5,688.0,478.9
14,2018,102.1,102.1,102.1,650.9,702.4,489.0
15,2019,102.9,102.8,103.2,669.8,722.1,504.6
16,2020,102.5,102.3,103.0,686.5,738.7,519.7
17,2021,100.9,101.0,100.7,692.7,746.1,523.3
18,2022,102.0,102.0,102.0,706.6,761.0,533.8
19,2023,100.2,100.3,100.1,708.0,NaN,NaN