# Chinese (Mainland) Stock Industry Data - Information Data - Component Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Industry Component Data

In [2]:
dai.query("""
SELECT *
FROM cn_stock_industry_component
WHERE date = '2026-02-13'
AND industry = 'sw2021'
""").df()

,date,instrument,industry,industry_name,industry_instrument,industry_level1_code,industry_level1_name,industry_level2_code,industry_level2_name,industry_level3_code,industry_level3_name
0,2026-02-13,000001.SZ,sw2021,股份制银行Ⅲ,480301,480000,银行,480300,股份制银行Ⅱ,480301,股份制银行Ⅲ
1,2026-02-13,000002.SZ,sw2021,住宅开发,430101,430000,房地产,430100,房地产开发,430101,住宅开发
2,2026-02-13,000004.SZ,sw2021,横向通用软件,710402,710000,计算机,710400,软件开发,710402,横向通用软件
...,...,...,...,...,...,...,...,...,...,...,...
5481,2026-02-13,920982.BJ,sw2021,医美耗材,770301,770000,美容护理,770300,医疗美容,770301,医美耗材
5482,2026-02-13,920985.BJ,sw2021,光伏电池组件,630502,630000,电力设备,630500,光伏设备,630502,光伏电池组件
5483,2026-02-13,920992.BJ,sw2021,医疗设备,370502,370000,医药生物,370500,医疗器械,370502,医疗设备

## 2. Stock Industry Component Change

In [3]:
dai.query("""
SELECT *
FROM cn_stock_industry_change
WHERE date = '2026-01-30'
AND industry = 'sw2021'
""").df()

,date,instrument,industry,industry_level,industry_code,industry_name,change_flag
0,2026-01-30,603268.SH,sw2021,1,650000,国防军工,1
1,2026-01-30,603268.SH,sw2021,1,360000,轻工制造,0
2,2026-01-30,603268.SH,sw2021,2,650400,航海装备Ⅱ,1
...,...,...,...,...,...,...,...
9,2026-01-30,603718.SH,sw2021,2,110800,动物保健Ⅱ,0
10,2026-01-30,603718.SH,sw2021,3,370503,医疗耗材,1
11,2026-01-30,603718.SH,sw2021,3,110801,动物保健Ⅲ,0