# Chinese (Mainland) Stock Industry Data - Information Data - Component Information

In [2]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Industry Component Data

In [3]:
dai.query("""
SELECT *
FROM cn_stock_industry_component
WHERE date = '2026-02-13'
AND industry = 'sw2021'
AND instrument = '600519.SH'
""").df()

,date,instrument,industry,industry_name,industry_instrument,industry_level1_code,industry_level1_name,industry_level2_code,industry_level2_name,industry_level3_code,industry_level3_name
0,2026-02-13,600519.SH,sw2021,白酒Ⅲ,340501,340000,食品饮料,340500,白酒Ⅱ,340501,白酒Ⅲ

## 2. Stock Industry Component Change

In [4]:
dai.query("""
SELECT *
FROM cn_stock_industry_change
WHERE date = '2026-01-30'
AND industry = 'sw2021'
""").df()

,date,instrument,industry,industry_level,industry_code,industry_name,change_flag
0,2026-01-30,603268.SH,sw2021,1,650000,国防军工,1
1,2026-01-30,603268.SH,sw2021,1,360000,轻工制造,0
2,2026-01-30,603268.SH,sw2021,2,650400,航海装备Ⅱ,1
...,...,...,...,...,...,...,...
9,2026-01-30,603718.SH,sw2021,2,110800,动物保健Ⅱ,0
10,2026-01-30,603718.SH,sw2021,3,370503,医疗耗材,1
11,2026-01-30,603718.SH,sw2021,3,110801,动物保健Ⅲ,0