# Chinese (Mainland) Stock Industry Data - Market Data - Price-Volume Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Industry Price-Volume Data

### 1.1 Post-Adjusted Daily Price-Volume Record

In [2]:
# CS Industry Classification
dai.query("""
SELECT *
FROM cn_stock_industry_bar1d
WHERE date = '2026-02-13'
AND instrument = '101010'
""").df()

,date,instrument,method,pre_close,open,close,high,low,volume,deal_number,amount,change_ratio,turn
0,2026-02-13,101010,1,94.297364,93.022188,92.619391,93.513221,92.040169,803147469,462255,6.596239e+09,-0.017794,0.026506
1,2026-02-13,101010,2,35.834151,35.119241,34.706415,35.242921,34.439176,803147469,462255,6.596239e+09,-0.031471,0.026506
2,2026-02-13,101010,3,35.049914,34.453398,33.977618,34.541165,33.739624,803147469,462255,6.596239e+09,-0.030593,0.026506

In [3]:
# SW Industry Classification
dai.query("""
SELECT *
FROM cn_stock_industry_sw_bar1d
WHERE date = '2026-02-13'
AND instrument = '801010.SWI'
""").df()

,date,instrument,pre_close,open,close,high,low,volume,amount,change_ratio,turn
0,2026-02-13,801010.SWI,2872.42,2875.824,2858.126,2893.141,2855.993,1.826678e+09,1.638987e+10,-0.004976,0.018849

### 1.2 Pre-Adjusted Daily Price-Volume Record

In [4]:
# CS Industry Classification
dai.query("""
SELECT *
FROM cn_stock_industry_real_bar1d
WHERE date = '2026-02-13'
AND instrument = '101010'
""").df()

,date,instrument,method,pre_close,open,close,high,low,volume,deal_number,amount,change_ratio,turn
0,2026-02-13,101010,1,11.551667,11.285000,11.210000,11.361667,11.091667,803147469,462255,6.596239e+09,-0.029577,0.026506
1,2026-02-13,101010,2,15.277017,14.897381,14.683911,14.947979,14.550644,803147469,462255,6.596239e+09,-0.038823,0.026506
2,2026-02-13,101010,3,10.855327,10.619603,10.385708,10.627500,10.295187,803147469,462255,6.596239e+09,-0.043262,0.026506

## 2. Stock Industry Valuation Data

In [5]:
# CS & SW Industry Classification
dai.query("""
SELECT *
FROM cn_stock_industry_valuation
WHERE date = '2026-02-13'
""").df()

,date,instrument,industry,industry_level,industry_code,industry_name,component_nums,pe_trailing,pe_ttm,pb
0,2026-02-13,100000,cs,1,100000,石油石化,34,16.81,18.19,0.15
1,2026-02-13,101000,cs,2,101000,石油开采Ⅱ,6,12.31,13.14,0.11
2,2026-02-13,102000,cs,2,102000,石油化工,18,24.81,27.63,0.20
...,...,...,...,...,...,...,...,...,...,...
428,2026-02-13,770100,sw2021,2,770100,个护用品,10,28.49,32.26,0.88
429,2026-02-13,770200,sw2021,2,770200,化妆品,10,29.56,31.72,1.43
430,2026-02-13,770300,sw2021,2,770300,医疗美容,2,0.00,0.00,0.00