# Chinese (Mainland) Stock Index Data - Information Data - Component Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Index Component Data

### 1.1 Stock Daily Index Member

In [2]:
dai.query("""
SELECT *
FROM cn_stock_index_component
WHERE date = '2026-02-13'
AND instrument = '000300.SH'
""").df()

          date instrument   name member_code member_name
0   2026-02-13  000300.SH  沪深300   000001.SZ        平安银行
1   2026-02-13  000300.SH  沪深300   000002.SZ         万科A
2   2026-02-13  000300.SH  沪深300   000063.SZ        中兴通讯
..         ...        ...    ...         ...         ...
297 2026-02-13  000300.SH  沪深300   688472.SH         阿特斯
298 2026-02-13  000300.SH  沪深300   688506.SH        百利天恒
299 2026-02-13  000300.SH  沪深300   688981.SH        中芯国际

[300 rows x 5 columns]

### 1.2 Stock Daily Index Weight

In [3]:
dai.query("""
SELECT *
FROM cn_stock_index_weight
WHERE date = '2026-02-13'
AND instrument = '000300.SH'
""").df()

          date instrument   name member_code member_name   weight
0   2026-02-13  000300.SH  沪深300   000001.SZ        平安银行  0.00409
1   2026-02-13  000300.SH  沪深300   000002.SZ         万科A  0.00129
2   2026-02-13  000300.SH  沪深300   000063.SZ        中兴通讯  0.00483
..         ...        ...    ...         ...         ...      ...
297 2026-02-13  000300.SH  沪深300   688472.SH         阿特斯  0.00088
298 2026-02-13  000300.SH  沪深300   688506.SH        百利天恒  0.00089
299 2026-02-13  000300.SH  沪深300   688981.SH        中芯国际  0.00957

[300 rows x 6 columns]

### 1.3 Stock Index Member Change

In [4]:
dai.query("""
SELECT *
FROM cn_stock_index_change
WHERE date = '2025-12-15'
AND instrument = '000300.SH'
""").df()

         date instrument   name member_code member_name inout_flag
0  2025-12-15  000300.SH  沪深300   000800.SZ        一汽解放          0
1  2025-12-15  000300.SH  沪深300   001289.SZ        龙源电力          0
2  2025-12-15  000300.SH  沪深300   002129.SZ       TCL中环          0
..        ...        ...    ...         ...         ...        ...
19 2025-12-15  000300.SH  沪深300   603833.SH        欧派家居          0
20 2025-12-15  000300.SH  沪深300   603893.SH         瑞芯微          1
21 2025-12-15  000300.SH  沪深300   688599.SH        天合光能          0

[22 rows x 6 columns]

## 2. Stock Concept Index Component

In [5]:
dai.query("""
SELECT *
FROM cn_stock_index_concept_component
WHERE date = '2026-02-13'
AND instrument = '300013.BI'
""").df()

         date instrument name member_code member_name
0  2026-02-13  300013.BI  煤化工   600821.SH        金开新能
1  2026-02-13  300013.BI  煤化工   600844.SH        金煤科技
2  2026-02-13  300013.BI  煤化工   600985.SH        淮北矿业
..        ...        ...  ...         ...         ...
97 2026-02-13  300013.BI  煤化工   600792.SH        云煤能源
98 2026-02-13  300013.BI  煤化工   600803.SH        新奥股份
99 2026-02-13  300013.BI  煤化工   600808.SH        马钢股份

[100 rows x 5 columns]