# Chinese (Mainland) Stock Data - Information Data - Shares Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 10)
pd.set_option('display.max_column', None)

## 1. Shares Data

### 1.1 Daily Shares Data

In [2]:
dai.query("""
SELECT *
FROM cn_stock_shares
WHERE date = '2026-02-13'
AND instrument = '600519.SH'
""").df()

,date,instrument,total_shares,a_float_shares,free_float_shares,total_float_shares
0,2026-02-13,600519.SH,1.252270e+09,1.252270e+09,543137592.0,1.252270e+09

### 1.2 Historical Shares Data

#### 1.2.1 Shares Allotment

In [3]:
dai.query("""
SELECT *
FROM cn_stock_allotment
WHERE instrument = '600601.SH'
ORDER BY date DESC, instrument
LIMIT 1
""").df()

,date,instrument,publish_date,allotment_price,allotment_rate,allotment_shares,register_date,exright_date,allot_listdate
0,2010-07-12,600601.SH,2010-06-29,2.2,0.3,517946002,2010-07-01,2010-07-12,2010-07-19

#### 1.2.2 Shares Capital

In [4]:
dai.query("""
SELECT *
FROM cn_stock_capital
WHERE instrument = '600519.SH'
ORDER BY publish_date DESC, instrument
LIMIT 1
""").df()

,instrument,publish_date,change_date,reason,total_shares,float_a,float_b,restricted_a,restricted_b,prefer_shares,shares_hk,shares_aboard,shares_a_total,shares_b_total,float_total,rest_total
0,600519.SH,2015-07-10,2015-07-20,27,1.256198e+09,1.256198e+09,0.0,0.0,0.0,NaN,0.0,0.0,1.256198e+09,0.0,1.256198e+09,0.0

## 2. Dividend & Repurchase Data

### 2.1 Dividend Data

In [5]:
dai.query("""
SELECT *
FROM cn_stock_dividend
WHERE instrument = '600519.SH'
ORDER BY date DESC, instrument
LIMIT 1
""").df()

,date,instrument,report_date,publish_date,bonus_rate,conversed_rate,cash_before_tax,cash_after_tax,register_date,ex_date
0,2025-12-19,600519.SH,2025-09-30,2025-11-06,NaN,NaN,23.957,23.957,2025-12-18,2025-12-19

### 2.2 Repurchase Data

In [6]:
dai.query("""
SELECT *
FROM cn_stock_repurchase_te_raw
WHERE instrument = '002968.SZ'
""").df()

,instrument,ann_date,end_date,proc,exp_date,vol,amount,high_limit,low_limit
0,002968.SZ,20240618,20240614,完成,None,1450000.0,15188696.6,13.68,7.14

### 2.3 Stock Pledge Data

#### 2.3.1 Stock Pledge Statistics

In [7]:
dai.query("""
SELECT *
FROM cn_stock_pledge_stat_te_raw
WHERE instrument = '000001.SZ'
""").df()

,instrument,end_date,pledge_count,unrest_pledge,rest_pledge,total_share,pledge_ratio
0,000001.SZ,20140307,10,465.18,0.0,952074.57,0.05
1,000001.SZ,20140314,12,6185.18,0.0,952074.57,0.65
2,000001.SZ,20140321,12,6185.18,0.0,952074.57,0.65
3,000001.SZ,20140328,12,6185.18,0.0,952074.57,0.65
4,000001.SZ,20140404,11,6177.18,0.0,952074.57,0.65
...,...,...,...,...,...,...,...
527,000001.SZ,20240628,4,333.88,0.0,1940591.82,0.02
528,000001.SZ,20240705,4,333.88,0.0,1940591.82,0.02
529,000001.SZ,20240712,4,333.88,0.0,1940591.82,0.02
530,000001.SZ,20240719,4,333.88,0.0,1940591.82,0.02
531,000001.SZ,20240726,4,333.88,0.0,1940591.82,0.02

#### 2.3.2 Stock Pledge Detail

In [8]:
dai.query("""
SELECT *
FROM cn_stock_pledge_detail_te_raw
WHERE instrument = '000014.SZ'
""").df()

,instrument,ann_date,holder_name,pledge_amount,start_date,end_date,is_release,release_date,pledgor,holding_amount,pledged_amount,p_total_ratio,h_total_ratio,is_buyback
0,000014.SZ,20060927,深圳市沙河实业(集团)有限公司,1936.3698,20050119,20051119,None,20060926,深圳发展银行深圳华侨城支行,NaN,NaN,NaN,NaN,None
1,000014.SZ,20170616,中科汇通(深圳)股权投资基金有限公司,0.0100,20151127,20180125,1,20170613,光大证券股份有限公司,2322.0155,2321.9955,NaN,11.51,1
2,000014.SZ,20171111,中科汇通(深圳)股权投资基金有限公司,2321.9955,20151127,20180125,1,20171109,光大证券股份有限公司,2322.0055,0.0000,NaN,11.51,1
3,000014.SZ,20171216,中科汇通(深圳)股权投资基金有限公司,300.0000,20171114,20181114,1,20171214,海通证券股份有限公司,2322.0055,2022.0055,NaN,11.51,0
4,000014.SZ,20171221,中科汇通(深圳)股权投资基金有限公司,600.0000,20171114,20181114,1,20171218,海通证券股份有限公司,1422.0055,1422.0055,2.97,7.05,0
5,000014.SZ,20180106,中科汇通(深圳)股权投资基金有限公司,922.0055,20171114,20181114,0,None,海通证券股份有限公司,1313.4855,922.0055,4.57,6.51,0

## 3. Valuation Data

In [9]:
dai.query("""
SELECT *
FROM cn_stock_valuation
WHERE date = '2026-02-13'
AND instrument = '600519.SH'
""").df()

,date,instrument,total_market_cap,float_market_cap,dividend_yield_ratio,pe_ttm,pe_leading,pe_trailing,pb,ps_ttm,ps_leading,ps_trailing,pcf_net_ttm,pcf_net_leading,pcf_op_ttm,pcf_op_leading
0,2026-02-13,600519.SH,1.859997e+12,1.859997e+12,0.034761,20.660356,21.585455,21.570647,7.000232,10.223953,10.656656,10.680794,430.986022,-133.26781,21.567906,36.521322

## 4. Shareholder Information

### 4.1 Shareholder Number & Changes

In [10]:
dai.query("""
SELECT *
FROM cn_stock_shareholder
WHERE instrument = '600519.SH'
ORDER BY publish_date DESC, instrument
LIMIT 1
""").df()

,publish_date,instrument,end_date,total_shareholder,total_shareholder_chg,a_shareholder,a_shareholder_chg,avg_share_per_account_total,avg_share_per_account_total_chg,avg_share_ratio_per_account_total,avg_share_ratio_per_account_total_chg,avg_share_per_account_float,avg_share_per_account_float_chg,avg_share_ratio_per_account_float,avg_share_ratio_per_account_float_chg
0,2025-10-30,600519.SH,2025-09-30,238512.0,0.080913,238512.0,0.080913,5266.811733,-0.074856,0.000004,-0.074856,5266.811733,-0.074856,0.000004,-0.074856

In [11]:
dai.query("""
SELECT *
FROM cn_stock_shareholder_change
WHERE instrument = '600519.SH'
ORDER BY end_date DESC, instrument
LIMIT 1
""").df()

,end_date,instrument,total_shareholder,total_shareholder_chg_1q,total_shareholder_chg_2q,total_shareholder_chg_3q,total_shareholder_chg_4q,a_shareholder,a_shareholder_chg_1q,a_shareholder_chg_2q,a_shareholder_chg_3q,a_shareholder_chg_4q,avg_share_per_account_total,avg_share_per_account_total_chg_1q,avg_share_per_account_total_chg_2q,avg_share_per_account_total_chg_3q,avg_share_per_account_total_chg_4q,avg_share_ratio_per_account_total,avg_share_ratio_per_account_total_chg_1q,avg_share_ratio_per_account_total_chg_2q,avg_share_ratio_per_account_total_chg_3q,avg_share_ratio_per_account_total_chg_4q,avg_share_per_account_float,avg_share_per_account_float_chg_1q,avg_share_per_account_float_chg_2q,avg_share_per_account_float_chg_3q,avg_share_per_account_float_chg_4q,avg_share_ratio_per_account_float,avg_share_ratio_per_account_float_chg_1q,avg_share_ratio_per_account_float_chg_2q,avg_share_ratio_per_account_float_chg_3q,avg_share_ratio_per_account_float_chg_4q
0,2025-09-30,600519.SH,238512.0,0.080913,0.239474,0.239474,0.147277,238512.0,0.080913,0.239474,0.239474,0.147277,5266.811733,-0.074856,-0.193206,-0.193206,-0.128371,0.000004,-0.074856,-0.193206,-0.193206,-0.128371,5266.811733,-0.074856,-0.193206,-0.193206,-0.128371,0.000004,-0.074856,-0.193206,-0.193206,-0.128371

### 4.2 Top Shareholders & Top Float Shareholders

In [12]:
dai.query("""
SELECT *
FROM cn_stock_shareholder_top10
WHERE instrument = '600519.SH'
ORDER BY publish_date DESC, instrument
LIMIT 1
""").df()

,instrument,publish_date,end_date,rank,holder_name,holding_shares,holding_pct,share_type
0,600519.SH,2025-12-30,2025-12-26,1,中国贵州茅台酒厂(集团)有限责任公司,681282935.0,0.544,流通A股

In [13]:
dai.query("""
SELECT *
FROM cn_stock_top10_float_shareholder
WHERE instrument = '600519.SH'
ORDER BY publish_date DESC, instrument, rank
LIMIT 10
""").df()

,date,instrument,rank,publish_date,holder_name,holding_shares,holding_pct_total,holding_pct_float,share_type
0,2025-11-19,600519.SH,1,2025-11-26,中国贵州茅台酒厂(集团)有限责任公司,680424580.0,0.5434,0.5434,流通A股
1,2025-11-19,600519.SH,2,2025-11-26,香港中央结算有限公司,59707368.0,0.0477,0.0477,流通A股
2,2025-11-19,600519.SH,3,2025-11-26,贵州省国有资本运营有限责任公司,56996777.0,0.0455,0.0455,流通A股
3,2025-11-19,600519.SH,4,2025-11-26,贵州茅台酒厂(集团)技术开发有限公司,27849688.0,0.0222,0.0222,流通A股
4,2025-11-19,600519.SH,5,2025-11-26,中国工商银行-上证50交易型开放式指数证券投资基金,11775123.0,0.0094,0.0094,流通A股
5,2025-11-19,600519.SH,6,2025-11-26,中国工商银行股份有限公司-华泰柏瑞沪深300交易型开放式指数证券投资基金,10694550.0,0.0085,0.0085,流通A股
6,2025-11-19,600519.SH,7,2025-11-26,中央汇金资产管理有限责任公司,10397104.0,0.0083,0.0083,流通A股
7,2025-11-19,600519.SH,8,2025-11-26,中国证券金融股份有限公司,8039447.0,0.0064,0.0064,流通A股
8,2025-11-19,600519.SH,9,2025-11-26,中国建设银行股份有限公司-易方达沪深300交易型开放式指数发起式证券投资基金,7696091.0,0.0061,0.0061,流通A股
9,2025-11-19,600519.SH,10,2025-11-26,中国工商银行股份有限公司-华夏沪深300交易型开放式指数证券投资基金,5760454.0,0.0046,0.0046,流通A股

## 5. Share Lock-up Expiration

In [14]:
dai.query("""
SELECT *
FROM cn_stock_share_float_TS_raw
WHERE instrument = '001282.SZ'
""").df()

,instrument,ann_date,float_date,float_share,float_ratio,holder_name,share_type
0,001282.SZ,2024-07-02,2026-05-25,2282000.0,1.4379,孙仁豪,首发原始股