# Chinese (Mainland) Stock Data - Information Data - Basic Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock & Company Information

### 1.1 Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM cn_stock_basic_info
WHERE instrument = '600519.SH'
""").df()

,instrument,name,full_name,en_name,used_name,instrument_b,name_b,instrument_hk,name_hk,exchange,list_sector,security_type,industry,office_addr,regster_addr,register_captial,nums_employees,nums_managers,law_firm,account_firm,profile,estab_date,list_date,delist_date,online_list,ipo_price,ipo_nums,ipo_pe,ipo_parvalue,net_amount_funds,offline_dtor,dtor,f_open,f_high,f_close,f_turnover,corp_nature,corp_scale
0,600519.SH,贵州茅台,贵州茅台酒股份有限公司,"Kweichow Moutai Co.,Ltd.",贵州茅台→G茅台,None,None,None,None,上海证券交易所,1,上交所主板A股,制造业-酒、饮料和精制茶制造业,贵州省仁怀市茅台镇,贵州省仁怀市茅台镇,125619.78,31413.0,15.0,北京市金杜律师事务所,天职国际会计师事务所(特殊普通合伙),"贵州茅台酒股份有限公司(以下简称“公司”)成立于1999年11月20日,由中国贵州茅...",1999-11-20,2001-08-27,NaT,2001-07-31,31.39,71500000.0,23.93,1.0,2.202174e+09,NaN,1.13057,34.51,37.78,35.55,56.8277,省属国资控股,大型企业

### 1.2 Stock Name Changes

In [14]:
dai.query("""
SELECT *
FROM cn_stock_namechange_TS_raw
WHERE instrument = '000001.SZ'
ORDER BY start_date
""").df()

  instrument   name start_date   end_date change_reason
0  000001.SZ   深发展A 1991-04-03 2006-10-08            其他
1  000001.SZ  S深发展A 2006-10-09 2007-06-19         未股改加S
2  000001.SZ   深发展A 2007-06-20 2012-08-01          完成股改
3  000001.SZ   平安银行 2012-08-02        NaT            改名

## 2. Company Management Information

### 2.1 Managers Information

In [9]:
dai.query("""
SELECT *
FROM cn_stock_company_manager_info
WHERE instrument = '000001.SZ'
""").df()

,ann_date,instrument,name,gender,lev,title,edu,national,birthday,begin_date,end_date
0,2020-02-14,000001.SZ,项有志,M,高管,首席财务官,博士,中国,1964,20170913,None
1,2020-04-15,000001.SZ,王群,F,监事,职工监事,本科,中国,1968,20170629,None
2,2020-05-15,000001.SZ,骆向东,M,监事,外部监事,硕士,中国,1953,20140121,20200514
...,...,...,...,...,...,...,...,...,...,...,...
6,2021-07-02,000001.SZ,叶素兰,F,董事会成员,非执行董事,本科,中国,1956,20100617,20210702
7,2021-08-06,000001.SZ,张小璐,F,董事会成员,非执行董事,硕士,中国,196803,20210805,None
8,2021-10-21,000001.SZ,艾春荣,M,委员会成员,审计委员会委员,博士,中国,196203,20211020,None

### 2.2 Managers Salary & Shareholding

In [10]:
dai.query("""
SELECT *
FROM cn_stock_company_manager_reward_holdvol
WHERE instrument = '000001.SZ'
""").df()

,ann_date,instrument,end_date,name,title,reward,hold_vol
0,2008-03-20,000001.SZ,20071231,米高奥汉仑(Michael O’Hanlon),独立董事,980000.0,0.0
1,2008-08-21,000001.SZ,20080630,胡跃飞,"董事,副总经理",NaN,1142.0
2,2009-03-20,000001.SZ,20081231,罗伯特.巴内姆,独立董事,810000.0,0.0
...,...,...,...,...,...,...,...
31,2022-03-10,000001.SZ,20211231,周强,董事会秘书,3064500.0,0.0
32,2023-03-09,000001.SZ,20221231,周强,董事会秘书,2604800.0,0.0
33,2024-03-15,000001.SZ,20231231,蔡方方,董事,NaN,0.0