# Chinese (Mainland) Economic Data - Employment Data

In [10]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Employment

In [11]:
dai.query("""
SELECT *
FROM cn_macro_employment_yearly
""").df()

,year,workforce,employ,primary_industry_employ,secondary_industry_employ,tertiary_industry_employ,urban_employ,state_owned_urban_employ,collective_urban_employ,stock_cooperate_urban_employ,joint_ownership_urban_employ,limited_urban_employ,stock_urban_employ,private_urban_employ,hkmt_urban_employ,foreign_urban_employ,individual_urban_employ,rural_employ,private_rural_employ,individual_rural_employ
0,2004,75290.0,74264.0,34829.816,16709.400,22724.784,27293.0,6709.925100,897.159900,192.000000,44.000000,1436.000000,625.000000,2994.0000,470.000000,563.000000,2521.0,46971.0,2023.5,2065.9
1,2005,76120.0,74647.0,33441.856,17765.986,23439.158,28389.0,6488.199000,809.932900,188.000000,45.000000,1750.000000,699.000000,3458.4308,557.000000,688.000000,2778.0,46258.0,2365.6,2123.0
2,2006,76315.0,74978.0,31940.628,18894.456,24142.916,29630.0,6430.473500,763.630100,178.000000,45.000000,1920.000000,741.000000,3954.0000,611.000000,796.000000,3012.0,45348.0,2632.0,2147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,78024.0,74652.0,17072.000,21712.000,35868.000,46773.0,5633.078846,261.674131,61.761975,22.340032,6525.789009,1789.216853,NaN,1175.196033,1219.833263,NaN,27879.0,NaN,NaN
18,2022,76863.0,73351.0,17663.000,21105.000,34583.000,45931.0,5612.152249,235.122068,57.933733,19.270387,6505.667074,1684.183165,NaN,1113.737577,1163.944035,NaN,27420.0,NaN,NaN
19,2023,NaN,74041.0,16882.000,21520.000,35639.000,47032.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27009.0,NaN,NaN

## 2. Unemployment

In [12]:
dai.query("""
SELECT *
FROM cn_macro_urban_unemploy_yearly
""").df()

    year  unemploy  unemploy_rate
0   2004     827.0           4.20
1   2005     839.0           4.20
2   2006     847.0           4.10
..   ...       ...            ...
17  2021    1040.0           3.96
18  2022    1203.0            NaN
19  2023    1074.0            NaN

[20 rows x 3 columns]

## 3. Wages

### 3.1 Wages

In [13]:
dai.query("""
SELECT *
FROM cn_macro_urban_employ_wage_yearly
""").df()

,year,wage,state_owned_wage,collective_wage,others_wage,wage_index,state_owned_wage_index,collective_wage_index,others_wage_index,avg_wage,employ_avg_wage,state_owned_avg_wage,collective_avg_wage,others_avg_wage,avg_wage_index,employ_avg_wage_index,state_owned_avg_wage_index,collective_avg_wage_index,others_avg_wage_index,actual_avg_index,employ_actual_wage_index,state_owned_actual_avg_wage_index,collective_actual_avg_wage_index,others_actual_avg_wage_index
0,2004,17615.000000,11038.200000,876.200000,5700.600000,114.908412,111.363109,101.049475,125.271393,15920.0,16024.0,16445.0,9723.0,16519.0,113.966640,114.100000,114.535451,112.704300,111.291518,110.325886,110.454985,110.876525,109.103873,107.736223
1,2005,20627.065730,12291.700000,906.400000,7429.000000,117.099631,111.356018,103.446702,130.319615,18200.0,18364.0,18978.0,11176.0,18362.0,114.321608,114.600000,115.402858,114.943947,111.156850,112.521268,112.795276,113.585490,113.133806,109.406348
2,2006,24262.323070,13920.626290,983.792700,9357.904080,117.623530,113.252246,108.538471,125.964519,20856.0,21001.0,21706.0,12866.0,21004.0,114.593407,114.359617,114.374539,115.121689,114.388411,112.899908,112.669573,112.684275,113.420384,112.697942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,180817.525218,64547.855187,1920.008707,114349.661324,110.169342,108.250733,104.246319,111.390028,106837.0,110221.0,115583.0,74491.0,103182.0,109.712566,109.659543,106.890652,108.603295,111.282234,108.626303,108.600000,105.832329,107.528015,110.180430
18,2022,190820.220941,69000.168207,1809.274980,120010.777754,105.531928,106.897693,94.232645,104.950707,114029.0,117177.0,123623.0,77868.0,109895.0,106.731750,106.310957,106.956040,104.533434,106.505980,104.638971,104.226429,104.858863,102.483758,104.417627
19,2023,197416.700000,NaN,NaN,NaN,103.456908,NaN,NaN,NaN,120698.0,NaN,NaN,NaN,NaN,105.848512,NaN,NaN,NaN,NaN,105.531916,NaN,NaN,NaN,NaN

### 3.2 Wages by Industry

In [14]:
# Total Wage
dai.query("""
SELECT *
FROM cn_macro_urban_industry_wage_yearly
""").df()

,year,wage,agro,mining,mfg,utility,construction,transport,it,sale,hotel,financial,estate,lease,scientific_research,public_facility_management,services,education,social_security,entertain_wage,public_admin
0,2004,17615.000000,351.15724,831.84185,4316.44061,646.78144,1081.27447,1144.72140,404.32372,770.51954,221.22808,866.74656,243.25370,351.37772,514.62063,226.12656,71.84477,2346.18587,902.27322,251.54983,2072.72819
1,2005,20627.065730,368.65081,1031.24673,5056.62724,741.82231,1324.67621,1279.50378,491.82788,831.95536,249.80960,1047.65804,293.00566,449.78882,613.95088,257.34500,85.12768,2690.81408,1047.80915,275.81204,2489.63446
2,2006,24262.323070,403.33504,1259.56912,6035.77386,858.00161,1612.06319,1471.53963,587.40948,919.99830,280.04675,1292.92488,338.36544,565.56125,736.91131,289.82950,102.50126,3127.81628,1226.09317,314.85317,2839.72983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,180817.525218,471.38679,3742.27431,35232.76659,4784.36308,14514.96709,8793.44912,10289.03467,8560.64338,1414.05348,13063.70475,4852.65092,6923.33632,6770.57685,1668.78392,555.28057,21754.32850,13673.03337,1778.12526,21974.76624
18,2022,190820.220941,463.69384,4162.76084,36978.38697,4994.90488,14015.87188,9014.56317,11769.45808,9184.05719,1407.99296,13260.22316,4713.57003,7817.54963,7424.18416,1747.41891,590.30526,23320.17849,14903.68871,1797.58832,23253.82446
19,2023,197416.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Average Wage
dai.query("""
SELECT *
FROM cn_macro_urban_industry_avg_wage_yearly
""").df()

,year,wage,agro,mining,mfg,utility,construction,transport,it,sale,hotel,financial,estate,lease,scientific_research,public_facility_management,services,education,social_security,entertain_wage,public_admin
0,2004,15920.0,7497.0,16774.0,14251.0,21543.0,12578.0,18071.0,33449.0,13012.0,12618.0,24299.0,18467.0,18723.0,23351.0,12884.0,13680.0,16085.0,18386.0,20522.0,17372.0
1,2005,18200.0,8207.0,20449.0,15934.0,24750.0,14112.0,20911.0,38799.0,15256.0,13876.0,29229.0,20253.0,21233.0,27155.0,14322.0,15747.0,18259.0,20808.0,22670.0,20234.0
2,2006,20856.0,9269.0,24125.0,18225.0,28424.0,16164.0,24111.0,43435.0,17796.0,15236.0,35495.0,22238.0,24510.0,31644.0,15630.0,18030.0,20918.0,23590.0,25847.0,22546.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,106837.0,53819.0,108467.0,92459.0,125332.0,75762.0,109851.0,201506.0,107735.0,53631.0,150843.0,91143.0,102537.0,151776.0,65802.0,65193.0,111392.0,126828.0,117329.0,111361.0
18,2022,114029.0,58976.0,121522.0,97528.0,132964.0,78295.0,115345.0,220418.0,115408.0,53995.0,174341.0,90346.0,106500.0,163486.0,68256.0,65478.0,120422.0,135222.0,121151.0,117440.0
19,2023,120698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.3 Wages by Registered Type

In [16]:
dai.query("""
SELECT *
FROM cn_macro_registered_avg_wage_yearly
""").df()

,year,avg_wage,state_owned_avg_wage,collective_avg_wage,stock_cooperate_avg_wage,joint_ownership_avg_wage,limited_avg_wage,stock_avg_wage,others_avg_wage,hkmt_avg_wage,foreign_avg_wage
0,2004,15920.0,16445.0,9723.0,11710.0,15218.0,15103.0,18136.0,10211.0,16237.0,22250.0
1,2005,18200.0,18978.0,11176.0,13808.0,17476.0,17010.0,20272.0,11230.0,17833.0,23625.0
2,2006,20856.0,21706.0,12866.0,15190.0,19883.0,19366.0,24383.0,13262.0,19678.0,26552.0
...,...,...,...,...,...,...,...,...,...,...,...
17,2021,106837.0,115583.0,74491.0,90241.0,92825.0,93209.0,121594.0,76342.0,114034.0,126019.0
18,2022,114029.0,123623.0,77868.0,92467.0,99976.0,98206.0,131720.0,78376.0,124841.0,137199.0
19,2023,120698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN