In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_a101 import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

In [3]:
alpha_a101_f0001(sd, ed, get_factor_df_function=get_factor_df_fund)

           date instrument  alpha_a101_f0001
0    2024-11-25  159001.SZ         -0.458515
1    2024-11-25  159003.SZ          0.400655
2    2024-11-25  159005.SZ          0.200509
3    2024-11-25  159150.SZ          0.200509
4    2024-11-25  159300.SZ          0.200509
...         ...        ...               ...
1459 2024-11-25  588860.SH         -0.195415
1460 2024-11-25  588880.SH          0.200509
1461 2024-11-25  588890.SH          0.200509
1462 2024-11-25  588900.SH         -0.195415
1463 2024-11-25  588990.SH          0.200509

[1464 rows x 3 columns]