In [6]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
from cn_general_tool import *

In [7]:
sql = """
WITH 
data_base AS (
    SELECT DISTINCT date
    FROM cn_future_bar1m
    WHERE '2024-11-19 00:00:00' <= date AND date < '2024-11-20 00:00:00'
)
SELECT 
    date,
    ROW_NUMBER(date) AS date_index_minute,
FROM data_base
ORDER BY date
"""

df = dai.query(sql).df()

In [8]:
df["dt_12_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour // 12) * 12:02}")
df["dt_08_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  8) *  8:02}")
df["dt_06_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  6) *  6:02}")
df["dt_04_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  4) *  4:02}")
df["dt_03_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  3) *  3:02}")
df["dt_02_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  2) *  2:02}")
df["dt_01_hour"]   = df["date"].dt.strftime("%Y%m%d%H")
df["dt_30_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 30) * 30:02}")
df["dt_20_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 20) * 20:02}")
df["dt_15_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 15) * 15:02}")
df["dt_10_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 10) * 10:02}")
df["dt_05_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute //  5) *  5:02}")
df["dt_01_minute"] = df["date"].dt.strftime("%Y%m%d%H%M")

In [9]:
df

,date,date_index_minute,dt_12_hour,dt_08_hour,dt_06_hour,dt_04_hour,dt_03_hour,dt_02_hour,dt_01_hour,dt_30_minute,dt_20_minute,dt_15_minute,dt_10_minute,dt_05_minute,dt_01_minute
0,2024-11-19 00:00:00,1,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,202411190000,202411190000,202411190000,202411190000,202411190000,202411190000
1,2024-11-19 00:01:00,2,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,202411190000,202411190000,202411190000,202411190000,202411190000,202411190001
2,2024-11-19 00:02:00,3,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,202411190000,202411190000,202411190000,202411190000,202411190000,202411190002
3,2024-11-19 00:03:00,4,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,202411190000,202411190000,202411190000,202411190000,202411190000,202411190003
4,2024-11-19 00:04:00,5,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,2024111900,202411190000,202411190000,202411190000,202411190000,202411190000,202411190004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,2024-11-19 23:55:00,611,2024111912,2024111916,2024111918,2024111920,2024111921,2024111922,2024111923,202411192330,202411192340,202411192345,202411192350,202411192355,202411192355
611,2024-11-19 23:56:00,612,2024111912,2024111916,2024111918,2024111920,2024111921,2024111922,2024111923,202411192330,202411192340,202411192345,202411192350,202411192355,202411192356
612,2024-11-19 23:57:00,613,2024111912,2024111916,2024111918,2024111920,2024111921,2024111922,2024111923,202411192330,202411192340,202411192345,202411192350,202411192355,202411192357
613,2024-11-19 23:58:00,614,2024111912,2024111916,2024111918,2024111920,2024111921,2024111922,2024111923,202411192330,202411192340,202411192345,202411192350,202411192355,202411192358
614,2024-11-19 23:59:00,615,2024111912,2024111916,2024111918,2024111920,2024111921,2024111922,2024111923,202411192330,202411192340,202411192345,202411192350,202411192355,202411192359