# Germany Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. DE Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM de_stock_basic_info
WHERE instrument = 'C6D0.F' 
""").df()

,instrument,name,type,exchange_id,local_symbol,conid,under_conid,isin,cusip,currency,country,is_prime_exch_id,is_new_pdt,assoc_entity_id
0,C6D0.F,ALLARITY THERAPEUTICS INC,STK,FWB,C6D0,727785558,None,US0167445008,016744500,EUR,DE,T,F,e4600976

## 2. DE Stock Price-Volume & Trading Data

### 2.1 DE Stock Trading Record

In [3]:
dai.query("""
SELECT *
FROM de_stock_instruments
WHERE date = '2025-01-31'
AND instrument = 'C6D0.F' 
""").df()

        date instrument                       name
0 2025-01-31     C6D0.F  ALLARITY THERAPEUTICS INC

### 2.2 DE Stock Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM de_stock_bar1d
WHERE date = '2025-01-31'
AND instrument = 'C6D0.F' 
""").df()

,instrument,date,name,open,high,low,close,volume,dividends,stock_splits
0,C6D0.F,2025-01-31,ALLARITY THERAPEUTICS INC,41491.199219,41491.199219,41491.199219,41491.199219,0,0.0,0.0