# Chinese (Mainland) Option Data - Information Data - Basic Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Basic Information Data

In [2]:
dai.query("""
SELECT *
FROM cn_option_basic_info
WHERE instrument = '10009633.SHO'
""").df()

,instrument,trading_code,underlying,exchange,english_name,short_name,name,is_trading,multiplier,call_put,strike_type,strike_price,strike_month,list_price,list_date,delist_date,last_edate,last_ddate,maturity_date,quote_unit,price_tick
0,10009633.SHO,10009633,510050.SH,SSE,510050C2603A02700,50ETF购3月2630A,华夏上证50ETF期权2603认购2.63,1,10265.0,C,E,2.63,202603,0.3063,2025-07-24,2026-03-25,2026-03-25,2026-03-26,2026-03-25,人民币元,0.0001

## 2. Contract Change Data

In [3]:
dai.query("""
SELECT *
FROM cn_option_contract_info_change
WHERE instrument = '10009633.SHO'
""").df()

,instrument,date,old_english_name,new_english_name,old_name,new_name,old_strike_price,new_strike_price,old_multiplier,new_multiplier,change_reason
0,10009633.SHO,2025-12-17,510050C2603M02700,510050C2603A02700,50ETF购3月2700,50ETF购3月2630A,2.7,2.63,10000.0,10265.0,除息