# Chinese (Mainland) ETF Data - Market Data - Price-Volume Data

In [15]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Daily Price-Volume & Trading Data

### 1.1 Daily Trading Record

In [16]:
dai.query("""
SELECT *
FROM cn_fund_instruments
WHERE date = '2026-02-13'
AND instrument = '588990.SH'
""").df()

        date instrument name
0 2026-02-13  588990.SH  科芯片

### 1.2 Post-Adjusted Price-Volume Data

In [17]:
dai.query("""
SELECT *
FROM cn_fund_bar1d
WHERE date = '2026-02-13'
AND instrument = '588990.SH'
""").df()

,instrument,date,name,adjust_factor,pre_close,open,high,low,close,volume,amount,deal_number,change_ratio,turn,upper_limit,lower_limit,iopv
0,588990.SH,2026-02-13,科芯片,1.001827,2.786081,2.779068,2.820143,2.734988,2.783076,9441800,26385524.5,1191,-0.001079,0.048733,3.343097,2.229065,2.776

### 1.3 Pre-Adjusted Price-Volume Data

In [18]:
dai.query("""
SELECT *
FROM cn_fund_real_bar1d
WHERE date = '2026-02-13'
AND instrument = '588990.SH'
""").df()

,instrument,date,name,adjust_factor,pre_close,open,high,low,close,volume,amount,deal_number,change_ratio,turn,upper_limit,lower_limit,iopv
0,588990.SH,2026-02-13,科芯片,1.001827,2.781,2.774,2.815,2.73,2.778,9441800,26385524.5,1191,-0.001079,0.048733,3.337,2.225,2.776

## 2. Intraday Price-Volume & Trading Data

In [19]:
dai.query("""
SELECT *
FROM cn_fund_bar1m
WHERE date BETWEEN '2026-02-13 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND instrument = '588990.SH'
""").df()

,date,instrument,adjust_factor,open,high,low,close,volume,amount,iopv
0,2026-02-13 09:25:00,588990.SH,1.001827,2.774,2.774,2.774,2.774,5500,15257.0,2.759
1,2026-02-13 09:31:00,588990.SH,1.001827,2.774,2.774,2.730,2.753,17700,48932.9,2.755
2,2026-02-13 09:32:00,588990.SH,1.001827,2.759,2.775,2.759,2.775,589100,1628513.5,2.771
...,...,...,...,...,...,...,...,...,...,...
238,2026-02-13 14:58:00,588990.SH,1.001827,2.777,2.777,2.775,2.775,12500,34687.5,2.776
239,2026-02-13 14:59:00,588990.SH,1.001827,2.775,2.776,2.774,2.776,21700,60221.8,2.776
240,2026-02-13 15:00:00,588990.SH,1.001827,2.776,2.778,2.776,2.778,21000,58337.0,2.776