# Chinese (Mainland) Economic Data - CPI Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. CPI Data

### 1.1 CPI Yearly Data

In [2]:
dai.query("""
SELECT *
FROM cn_macro_cpi_yearly
""").df()

,year,cpi,citizen_cpi,rural_cpi,cpi_1978,citizen_cpi_1978,rural_cpi_1978
0,2004,103.9,103.3,104.8,455.8,495.2,335.6
1,2005,101.8,101.6,102.2,464.0,503.1,343.0
2,2006,101.5,101.5,101.5,471.0,510.6,348.1
...,...,...,...,...,...,...,...
17,2021,100.9,101.0,100.7,692.7,746.1,523.3
18,2022,102.0,102.0,102.0,706.6,761.0,533.8
19,2023,100.2,100.3,100.1,708.0,NaN,NaN

### 1.2 CPI Monthly Data

In [3]:
dai.query("""
SELECT *
FROM cn_macro_cpi
""").df()

      month index_type    cpi  city_cpi  rural_cpi
0    200501         同期  101.9     101.4      102.8
1    200501         同比  101.9     101.4      102.8
2    200501         环比  100.6       NaN        NaN
..      ...        ...    ...       ...        ...
756  202601         同期    NaN       NaN        NaN
757  202601         同比    NaN       NaN        NaN
758  202601         环比    NaN       NaN        NaN

[759 rows x 5 columns]

## 2. CCI Data

In [4]:
dai.query("""
SELECT *
FROM cn_macro_cci
""").df()

      month index_type  index     yoy     mom
0    200701         信心  112.4  0.0190 -0.0062
1    200701         满意  109.5 -0.0054 -0.0073
2    200701         预期  114.2  0.0344 -0.0061
..      ...        ...    ...     ...     ...
681  202512         信心   89.5  0.0359 -0.0089
682  202512         满意   87.9  0.0452 -0.0124
683  202512         预期   90.5  0.0296 -0.0077

[684 rows x 5 columns]

## 3. PPI Data

### 3.1 PPI Yearly Data

In [5]:
dai.query("""
SELECT *
FROM cn_macro_ppi_yearly
""").df()

,year,ppi,prod_material_ppi,mining_ppi,raw_material_ppi,processing_ppi,consumer_goods_ppi,food_ppi,clothing_ppi,daily_necessities_ppi,durable_goods_ppi
0,2004,106.1,107.8000,118.8000,110.200,104.8000,101.2000,105.2000,100.9000,101.9000,96.2000
1,2005,104.9,106.8000,125.8000,109.800,102.2000,99.8000,100.9000,100.8000,101.9000,96.8000
2,2006,103.0,103.9000,114.1000,106.600,101.1000,100.2000,100.5000,101.3000,100.8000,98.0000
...,...,...,...,...,...,...,...,...,...,...,...
17,2021,108.1,110.7000,134.4000,115.800,106.6000,100.4000,101.4000,99.8000,100.5000,99.4000
18,2022,104.1,104.9364,116.5487,110.343,101.4752,101.4664,102.6651,101.8051,101.5715,100.0631
19,2023,97.0,96.1000,92.3000,95.600,96.7000,99.9000,100.2000,101.1000,100.5000,98.9000

### 3.2 PPI Monthly Data

In [6]:
dai.query("""
SELECT *
FROM cn_macro_ppi
""").df()

      month index_type     ppi  production_ppi  living_ppi
0    200501         同比  105.81           107.8      100.25
1    200501         环比     NaN             NaN         NaN
2    200501         同期     NaN             NaN         NaN
..      ...        ...     ...             ...         ...
726  202503         同比   97.50            97.2       98.50
727  202503         环比   99.60            99.6       99.60
728  202503         同期   97.70            97.4       98.70

[729 rows x 5 columns]

## 4. PMI Data

In [7]:
dai.query("""
SELECT *
FROM cn_macro_pmi
""").df()

      month   pmi  service_pmi  summary_pmi
0    200501  54.7          NaN          NaN
1    200502  54.5          NaN          NaN
2    200503  57.9          NaN          NaN
..      ...   ...          ...          ...
250  202511  49.2         49.5         49.7
251  202512  50.1         50.2         50.7
252  202601  49.3         49.4         49.8

[253 rows x 4 columns]