In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

In [3]:
alpha_vpta_mavg(sd, ed, col="close", n=5, data_base="cn_stock_industry_bar1d")

           date instrument  alpha_vpta_mavg_close_5
0    2024-11-25     110301                19.728556
1    2024-11-25     110301                18.814036
2    2024-11-25     110301                18.792865
3    2024-11-25     112010                24.161578
4    2024-11-25     112010                24.988889
...         ...        ...                      ...
1840 2024-11-25     740102                76.178280
1841 2024-11-25     740102                77.900239
1842 2024-11-25     740201                26.790442
1843 2024-11-25     740201                26.585289
1844 2024-11-25     740201                27.384139

[1845 rows x 3 columns]