# Chinese (Mainland) Future Data - Market Data - Price-Volume Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Daily Price-Volume & Trading Data

## 1.1 Daily Trading Record

In [2]:
dai.query("""
SELECT *
FROM cn_future_instruments
WHERE date = '2026-02-13'
AND instrument = 'rb2612.SHF'
""").df()

        date  instrument     name trading_code product_code
0 2026-02-13  rb2612.SHF  螺纹钢2612       rb2612           rb

### 1.2 Pre-Adjusted Price-Volume Data

In [3]:
dai.query("""
SELECT *
FROM cn_future_bar1d
WHERE date = '2026-02-13'
AND instrument = 'rb2612.SHF'
""").df()

,date,instrument,trading_code,open,close,high,low,pre_close,volume,amount,open_interest,settle,pre_settle,upper_limit,lower_limit,product_code
0,2026-02-13,rb2612.SHF,rb2612,3155.0,3130.0,3155.0,3130.0,3142.0,50,1570090.0,695,3140.0,3139.0,3452.0,2825.0,rb

### 1.3 Post-Adjusted Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM cn_future_bar1d_adjust
WHERE date = '2026-02-13'
AND product_code = 'rb'
""").df()

,date,instrument,trading_code,adjust_factor,open,high,low,close,pre_close,volume,amount,open_interest,settle,upper_limit,lower_limit,product_code
0,2026-02-13,rb9999.SHF,rb2605,1.0,3051.0,3066.0,3042.0,3055.0,3050.0,555957,1.698410e+10,1942442,3054.0,3356.0,2745.0,rb

In [5]:
dai.query("""
SELECT *
FROM cn_future_adjust_factor
WHERE date = '2025-09-01'
AND product_code = 'rb'
""").df()

,date,instrument,contract,new_contract,contract_close,new_contract_close,start_date,end_date,adjust_factor,cum_adjust_factor,product_code
0,2025-09-01,rb9999.SHF,rb2601.SHF,rb2605.SHF,3133.0,3169.0,2025-09-01,2025-12-02,0.98864,0.98864,rb

## 2. Intraday Price-Volume & Trading Data

### 2.1 1-min Price-Volume Data

In [6]:
dai.query("""
SELECT *
FROM cn_future_bar1m
WHERE date BETWEEN '2026-02-12 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND trading_day = '20260213'
AND instrument = 'rb2612.SHF'
""").df()

,date,instrument,trading_day,open,close,high,low,volume,amount,open_interest,product_code
0,2026-02-12 21:01:00,rb2612.SHF,20260213,3142.0,3142.0,3142.0,3142.0,0,0.0,690,rb
1,2026-02-12 21:02:00,rb2612.SHF,20260213,3142.0,3142.0,3142.0,3142.0,0,0.0,690,rb
2,2026-02-12 21:03:00,rb2612.SHF,20260213,3142.0,3142.0,3142.0,3142.0,0,0.0,690,rb
...,...,...,...,...,...,...,...,...,...,...,...
342,2026-02-13 14:58:00,rb2612.SHF,20260213,3134.0,3135.0,3135.0,3134.0,1,31350.0,695,rb
343,2026-02-13 14:59:00,rb2612.SHF,20260213,3135.0,3130.0,3135.0,3130.0,4,125280.0,695,rb
344,2026-02-13 15:00:00,rb2612.SHF,20260213,3130.0,3130.0,3130.0,3130.0,0,0.0,695,rb

### 2.2 Level 1 Snapshot Data

In [7]:
dai.query("""
SELECT *
FROM cn_future_level1_snapshot
WHERE date BETWEEN '2026-02-12 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND trading_day = '20260213'
AND instrument = 'rb2612.SHF'
""").df()

,date,instrument,trading_day,time,open,high,low,price,ask_price1,ask_volume1,bid_price1,bid_volume1,volume,amount,open_interest,settle,upper_limit,lower_limit,pre_close,pre_settle,pre_open_interest,trading_code,product_code
0,2026-02-12 20:59:00.500,rb2612.SHF,20260213,205900500,0.0,0.0,0.0,3142.0,3183.0,1,3120.0,1,0,0.0,690,0.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb
1,2026-02-12 21:00:00.500,rb2612.SHF,20260213,210000500,0.0,0.0,0.0,3142.0,3183.0,1,3120.0,1,0,0.0,690,0.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb
2,2026-02-12 21:00:01.000,rb2612.SHF,20260213,210001000,0.0,0.0,0.0,3142.0,3182.0,25,3121.0,15,0,0.0,690,0.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13393,2026-02-13 14:59:58.500,rb2612.SHF,20260213,145958500,3155.0,3155.0,3130.0,3130.0,3145.0,2,3126.0,1,50,1570090.0,695,0.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb
13394,2026-02-13 15:00:00.500,rb2612.SHF,20260213,150000500,3155.0,3155.0,3130.0,3130.0,3145.0,2,3126.0,1,50,1570090.0,695,3140.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb
13395,2026-02-13 15:48:57.500,rb2612.SHF,20260213,154857500,3155.0,3155.0,3130.0,3130.0,3145.0,2,3126.0,1,50,1570090.0,695,3140.0,3452.0,2825.0,3142.0,3139.0,690,rb2612,rb

### 2.3 Level 2 Snapshot Data

In [ ]:
dai.query("""
SELECT *
FROM cn_future_level2_snapshot
WHERE date BETWEEN '2026-02-12 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND trading_day = '20260213'
AND instrument = 'rb2612.SHF'
""").df()

### 2.4 Level 2 Trade Data

In [ ]:
dai.query("""
SELECT *
FROM cn_future_level2_trade
WHERE date BETWEEN '2026-02-12 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND trading_day = '20260213'
AND instrument = 'rb2612.SHF'
""").df()

### 2.5 Level 2 Order Data

In [ ]:
dai.query("""
SELECT *
FROM cn_future_level2_order
WHERE date BETWEEN '2026-02-12 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND trading_day = '20260213'
AND instrument = 'rb2612.SHF'
""").df()