# Chinese (Mainland) Economic Data - Living Standard Data

In [6]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Per-Capita Living Standards

### 1.1 Per-Capita Income

#### 1.1.1 National Per-Capita Income

In [7]:
# Yearly
dai.query("""
SELECT *
FROM cn_macro_resident_income_yearly
""").df()

,year,income,income_added,median_income,median_income_added,wage_income,wage_income_added,business_income,business_income_added,property_income,property_income_added,transfer_income,transfer_income_added
0,2004,5660.903872,8.800000,NaN,NaN,3452.000000,12.800000,1277.000000,13.800000,151.000000,27.200000,781.000000,10.800000
1,2005,6384.725375,10.800000,NaN,NaN,3859.000000,11.800000,1410.000000,10.400000,193.000000,27.700000,923.000000,18.100000
2,2006,7228.820253,11.500000,NaN,NaN,4426.000000,14.700000,1511.000000,7.200000,260.000000,34.700000,1032.000000,11.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,35128.100000,8.100000,29975.000000,8.800000,19629.400000,9.554913,5892.700000,11.040469,3075.500000,10.174204,6530.500000,5.788489
18,2022,36883.283552,2.941176,31370.000000,4.654184,20590.305623,4.895451,6174.500485,4.782552,3226.528205,4.910347,6891.949239,5.534463
19,2023,39217.974700,6.087824,33035.555556,5.309390,22052.865500,7.103148,6542.126500,5.953939,3362.011500,4.199043,7260.971100,5.354390

In [8]:
# Quarterly
dai.query("""
SELECT *
FROM cn_macro_pci
""").df()

,quarter,kind,acc_pci,acc_pci_rate,median_pci,median_pci_rate,salary_pci,salary_pci_rate,operating_pci,operating_pci_rate,property_pci,property_pci_rate,transfer_pci,transfer_pci_rate
0,2013A,全国,5006.1,NaN,4117.2,NaN,2849.4,NaN,968.3,NaN,390.0,NaN,798.4,NaN
1,2013A,城镇,7202.9,NaN,NaN,NaN,4498.7,NaN,907.4,NaN,687.1,NaN,1109.7,NaN
2,2013A,农村,2652.9,NaN,NaN,NaN,1082.7,NaN,1033.5,NaN,71.8,NaN,464.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2024D,全国,41314.0,0.051,34706.9,0.051,23327.4,0.058,6907.6,0.056,3434.9,0.022,7644.2,0.053
142,2024D,城镇,54187.9,0.044,49302.3,0.046,32899.1,0.050,6244.0,0.058,5454.6,0.012,9589.6,0.042
143,2024D,农村,23118.5,0.063,19604.6,0.046,9799.2,0.069,7845.0,0.056,580.3,0.075,4894.6,0.074

#### 1.1.2 Urban Per-Capita Income

In [9]:
dai.query("""
SELECT *
FROM cn_macro_urban_resident_income_yearly
""").df()

,year,income,income_added,median_income,median_income_added,wage_income,wage_income_added,business_income,business_income_added,property_income,property_income_added,transfer_income,transfer_income_added
0,2004,9334.844208,7.500000,NaN,NaN,6900.000000,10.800000,520.000000,23.100000,271.000000,29.700000,1644.000000,6.100000
1,2005,10382.337718,9.500000,NaN,NaN,7456.000000,8.100000,719.000000,38.200000,352.000000,29.800000,1855.000000,12.900000
2,2006,11619.680461,10.300000,NaN,NaN,8305.000000,11.400000,860.000000,19.500000,484.000000,37.700000,1971.000000,6.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,47411.900000,7.100000,43504.000000,7.700000,28480.800000,7.960624,5381.900000,14.246706,5052.000000,9.196433,8497.300000,4.700641
18,2022,49282.937114,1.862745,45123.157895,3.721228,29577.862722,3.852084,5584.498755,3.763868,5238.197715,3.686034,8882.377921,4.532260
19,2023,51820.748400,4.785643,47121.597000,4.428855,31321.293500,5.894377,5903.153000,5.706049,5392.000000,2.936168,9204.867000,3.630662

#### 1.1.3 Rural Per-Capita Income

In [10]:
dai.query("""
SELECT *
FROM cn_macro_rural_resident_income_yearly
""").df()

,year,income,income_added,median_income,median_income_added,wage_income,wage_income_added,business_income,business_income_added,property_income,property_income_added,transfer_income,transfer_income_added
0,2004,3026.567532,7.300000,NaN,NaN,980.000000,8.300000,1820.00000,13.800000,65.000000,13.600000,163.000000,25.800000
1,2005,3370.212928,6.700000,NaN,NaN,1147.000000,17.100000,1931.00000,6.100000,73.000000,12.600000,219.000000,35.000000
2,2006,3730.962875,7.900000,NaN,NaN,1336.000000,16.500000,2030.00000,5.100000,81.000000,10.900000,284.000000,29.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,18930.900000,9.700000,16902.000000,11.200000,7958.100000,14.112471,6566.20000,8.041648,469.400000,12.091968,3937.200000,7.534446
18,2022,20132.825505,4.215686,17733.750000,4.920782,8449.184311,6.170340,6971.52269,6.173674,509.001819,8.438999,4203.116686,6.753683
19,2023,21690.872900,7.592408,18748.020917,5.719438,9162.950600,8.447754,7430.76850,6.587453,539.624200,6.016163,4557.400000,8.429062

### 1.2 Per-Capita Expense

#### 1.2.1 National Per-Capita Expense

In [11]:
# Yearly
dai.query("""
SELECT *
FROM cn_macro_resident_expense_yearly
""").df()

,year,expense,expense_added,service_expense,service_expense_added,food_alcohol_expense,food_alcohol_expense_added,clothes_expense,clothes_expense_added,resident_expense,resident_expense_added,living_goods_expense,living_goods_expense_added,traffic_expense,traffic_expense_added,education_recreation_expense,education_recreation_expense_added,healthcare_expense,healthcare_expense_added,other_expense,other_expense_added
0,2004,4395.000000,8.800000,NaN,NaN,1704.000000,14.900000,339.00000,9.400000,674.000000,11.300000,224.000000,3.800000,450.000000,19.100000,586.000000,11.100000,305.000000,14.000000,114.000000,12.000000
1,2005,5035.000000,12.500000,NaN,NaN,1877.000000,10.100000,404.00000,19.100000,796.000000,18.100000,258.000000,15.200000,547.000000,21.800000,657.000000,12.200000,366.000000,19.800000,131.000000,14.700000
2,2006,5634.000000,10.200000,NaN,NaN,2002.000000,6.700000,459.00000,13.700000,980.000000,23.100000,293.000000,13.800000,640.000000,16.900000,718.000000,9.200000,395.000000,8.000000,146.000000,12.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,24100.100000,12.600000,10644.500000,17.800000,7178.100000,12.205113,1418.70000,14.558565,5641.100000,8.162613,1423.200000,12.994735,3155.600000,14.256676,2598.900000,27.886584,2115.100000,14.762026,569.400000,23.194389
18,2022,24538.224188,-0.196078,10589.958748,-0.512483,7481.039739,4.220624,1364.59623,-3.811582,5882.041082,4.272096,1431.821987,0.607231,3194.823664,1.243628,2468.661323,-5.012762,2119.872655,0.223278,595.367507,4.553159
19,2023,26795.679000,8.982036,12113.823500,14.389714,7982.964200,6.709287,1478.85790,8.373295,6095.051500,3.621369,1526.276000,6.596771,3652.049900,14.311470,2903.928300,17.631701,2459.584700,16.025116,696.966500,17.064921

In [15]:
# Yearly Grouped
dai.query("""
SELECT *
FROM cn_macro_resident_quintuplet_income_yearly
""").df()

,year,low_income,middle_lower_income,middle_income,middle_upper_income,high_income
0,2004,NaN,NaN,NaN,NaN,NaN
1,2005,NaN,NaN,NaN,NaN,NaN
2,2006,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
17,2021,8332.80,18445.50,29053.30,44948.90,85835.80
18,2022,8601.13,19302.71,30598.30,47397.41,90116.29
19,2023,9214.66,20442.34,32194.85,50219.89,95055.27

In [12]:
# Quarterly
dai.query("""
SELECT *
FROM cn_macro_pce
""").df()

,quarter,kind,pce,pce_rate,food_pce,food_pce_rate,clothing_pce,clothing_pce_rate,housing_pce,housing_pce_rate,living_pce,living_pce_rate,trans_pce,trans_pce_rate,edu_pce,edu_pce_rate,medical_pce,medical_pce_rate,other_pce,other_pce_rate
0,2013A,全国,3370.0,NaN,1120.0,NaN,350.0,NaN,695.0,NaN,205.0,NaN,395.0,NaN,311.0,NaN,212.0,NaN,84.0,NaN
1,2013A,城镇,4725.0,NaN,1561.0,NaN,516.0,NaN,1008.0,NaN,270.0,NaN,559.0,NaN,429.0,NaN,263.0,NaN,119.0,NaN
2,2013A,农村,1919.0,NaN,647.0,NaN,172.0,NaN,359.0,NaN,135.0,NaN,219.0,NaN,185.0,NaN,157.0,NaN,45.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2025A,全国,7681.0,0.053,2420.0,0.028,498.0,0.012,1595.0,0.021,417.0,0.096,1044.0,0.104,823.0,0.139,648.0,0.030,236.0,0.099
145,2025A,城镇,9363.0,0.048,2863.0,0.022,616.0,0.008,2044.0,0.010,496.0,0.103,1269.0,0.104,1013.0,0.144,745.0,0.014,317.0,0.103
146,2025A,农村,5333.0,0.059,1803.0,0.035,333.0,0.014,968.0,0.042,307.0,0.076,730.0,0.096,557.0,0.117,513.0,0.058,122.0,0.065

#### 1.2.2 Urban Per-Capita Expense

In [13]:
dai.query("""
SELECT *
FROM cn_macro_urban_resident_expense_yearly
""").df()

,year,expense,expense_added,service_expense,service_expense_added,food_alcohol_expense,food_alcohol_expense_added,clothes_expense,clothes_expense_added,resident_expense,resident_expense_added,living_goods_expense,living_goods_expense_added,traffic_expense,traffic_expense_added,education_recreation_expense,education_recreation_expense_added,healthcare_expense,healthcare_expense_added,other_expense,other_expense_added
0,2004,7280.000000,7.000000,NaN,NaN,2609.000000,11.600000,641.000000,6.800000,1107.000000,11.100000,401.000000,-0.800000,793.000000,16.200000,980.000000,10.000000,540.000000,11.500000,210.000000,9.600000
1,2005,8068.000000,9.100000,NaN,NaN,2786.000000,6.800000,737.000000,15.100000,1292.000000,16.700000,438.000000,9.200000,928.000000,17.000000,1033.000000,5.500000,615.000000,14.000000,237.000000,13.000000
2,2006,8851.000000,8.100000,NaN,NaN,2948.000000,5.800000,818.000000,11.000000,1528.000000,18.200000,486.000000,10.900000,1056.000000,13.800000,1122.000000,8.500000,635.000000,3.200000,258.000000,8.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,30307.200000,11.100000,14058.500000,17.028744,8678.100000,10.121162,1842.800000,12.033566,7405.300000,6.433672,1819.600000,10.950912,3932.000000,13.173576,3322.000000,28.178114,2521.300000,16.071134,786.100000,21.650648
18,2022,30390.801705,-1.666667,13722.770749,-2.388018,8958.346903,3.229358,1735.158357,-5.839668,7643.502955,3.216376,1800.456386,-1.052078,3908.802992,-0.589702,3050.180524,-8.183510,2480.673825,-1.610928,813.679763,3.509746
19,2023,32994.230700,8.275174,15673.002500,14.211647,9494.735500,5.987585,1880.129400,8.354917,7821.597600,2.330013,1910.356500,6.104014,4495.017500,14.997290,3589.355000,17.676805,2850.099900,14.892166,952.939400,17.114797

#### 1.2.3 Rural Per-Capita Expense

In [14]:
dai.query("""
SELECT *
FROM cn_macro_rural_resident_expense_yearly
""").df()

,year,expense,expense_added,service_expense,service_expense_added,food_alcohol_expense,food_alcohol_expense_added,clothes_expense,clothes_expense_added,resident_expense,resident_expense_added,living_goods_expense,living_goods_expense_added,traffic_expense,traffic_expense_added,education_recreation_expense,education_recreation_expense_added,healthcare_expense,healthcare_expense_added,other_expense,other_expense_added
0,2004,2326.000000,8.300000,NaN,NaN,1055.000000,17.100000,123.000000,9.700000,363.000000,7.100000,96.000000,10.800000,203.00000,19.700000,304.000000,8.400000,137.000000,13.900000,45.0000,11.300000
1,2005,2749.000000,12.600000,NaN,NaN,1191.000000,12.900000,153.000000,24.000000,422.000000,16.100000,122.000000,26.400000,260.00000,28.100000,374.000000,23.100000,177.000000,29.600000,50.0000,11.700000
2,2006,3072.000000,10.100000,NaN,NaN,1249.000000,4.900000,173.000000,13.400000,544.000000,29.000000,140.000000,14.800000,309.00000,18.600000,396.000000,6.100000,203.000000,14.600000,58.0000,14.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,15915.600000,15.300000,6142.900000,18.363673,5200.200000,16.090638,859.500000,20.573006,3314.700000,11.892669,900.500000,17.322825,2131.80000,15.823445,1645.500000,25.730211,1579.600000,11.436231,283.8000,26.481960
18,2022,16632.087644,2.450980,6357.902124,3.499673,5485.373364,5.484095,864.010845,0.529500,3502.515472,5.665182,933.840733,3.705924,2230.32246,4.620090,1683.098007,2.285520,1632.473163,3.345942,300.4536,5.875537
19,2023,18175.144500,9.190809,7163.953500,12.677946,5880.492800,7.203146,920.796100,6.572285,3693.885800,5.463797,992.122400,6.241071,2479.70650,11.181524,1950.682400,15.898325,1916.482100,17.397464,340.9763,13.487174

# 2. Household Consumption

In [16]:
dai.query("""
SELECT *
FROM cn_macro_household_consume_yearly
""").df()

,year,household,rural_household,citizen_household,household_index,rural_household_index,citizen_household_index,household_1978_index,rural_household_1978_index,citizen_household_1978_index
0,2004,5071.061086,2521.378397,8717.911256,106.625141,103.940957,105.240829,632.698951,454.938152,466.643818
1,2005,5687.855238,2783.640223,9636.951594,109.537850,106.783498,108.302726,693.044827,485.798874,505.387977
2,2006,6318.924813,3065.530604,10515.774928,107.974211,107.319094,105.947404,748.309685,521.354951,535.445443
...,...,...,...,...,...,...,...,...,...,...
17,2021,31012.998507,18433.674433,37995.494631,111.407206,113.503732,109.938024,2352.794977,1927.137016,1254.012235
18,2022,31898.886584,19519.547322,38573.688472,100.906081,103.888413,99.594289,2374.113209,2002.072069,1248.924570
19,2023,34964.462071,21397.849628,42050.447411,NaN,NaN,NaN,2586.525639,2181.577128,1353.256776