# A101 Stock Factors 021-040

In [4]:
import dai
import pandas as pd
from a101_sql_base import get_a101_sql_base

In [5]:
sd = '2023-01-01'
ed = '2026-01-01'

## A101 Factor 021

**Formula:**

`((((sum(close, 8) / 8) + stddev(close, 8)) < (sum(close, 2) / 2)) ? (-1 * 1) : (((sum(close, 2) / 2) < ((sum(close, 8) / 8) - stddev(close, 8))) ? 1 : (((1 < (volume / adv20)) || ((volume / adv20) == 1)) ? 1 : (-1 * 1))))`

In [ ]:
sql_alpha_021 = f"""--sql
SELECT
    date,
    instrument,
    IF((((m_sum(close, 8) / 8) + m_stddev(close, 8)) < (m_sum(close, 2) / 2)),
        (-1 * 1),
        IF(((m_sum(close, 2) / 2) < ((m_sum(close, 8) / 8) - m_stddev(close, 8))),
            1,
            IF(((1 < (volume / adv20)) OR ((volume / adv20) = 1)), 1, (-1 * 1))
        )
    )
    AS alpha_a101_f0021,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_021), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 022

**Formula:**

`(-1 * (delta(correlation(high, volume, 5), 5) * rank(stddev(close, 20))))`

In [ ]:
sql_alpha_022 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * (m_delta(m_corr(high, volume, 5), 5) * c_pct_rank(m_stddev(close, 20)))) 
    AS alpha_a101_f0022,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_022), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 023

**Formula:**

`(((sum(high, 20) / 20) < high) ? (-1 * delta(high, 2)) : 0)`

In [ ]:
sql_alpha_023 = f"""--sql
SELECT
    date,
    instrument,
    IF(((m_sum(high, 20) / 20) < high), (-1 * m_delta(high, 2)), 0) 
    AS alpha_a101_f0023,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_023), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 024

**Formula:**

`((((delta((sum(close, 100) / 100), 100) / delay(close, 100)) < 0.05) || ((delta((sum(close, 100) / 100), 100) / delay(close, 100)) == 0.05)) ? (-1 * (close - ts_min(close, 100))) : (-1 * delta(close, 3)))`

In [ ]:
sql_alpha_024 = f"""--sql
SELECT
    date,
    instrument,
    IF(
        (((m_delta((m_sum(close, 100) / 100), 100) / m_lag(close, 100)) < 0.05) 
         OR ((m_delta((m_sum(close, 100) / 100), 100) / m_lag(close, 100)) = 0.05)),
        (-1 * (close - m_min(close, 100))),
        (-1 * m_delta(close, 3))
    ) 
    AS alpha_a101_f0024,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_024), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 025

**Formula:**

`rank(((((-1 * returns) * adv20) * vwap) * (high - close)))`

In [ ]:
sql_alpha_025 = f"""--sql
SELECT
    date,
    instrument,
    c_pct_rank(((((-1 * returns) * adv20) * vwap) * (high - close))) 
    AS alpha_a101_f0025,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_025), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 026

**Formula:**

`(-1 * ts_max(correlation(ts_rank(volume, 5), ts_rank(high, 5), 5), 3))`

In [ ]:
sql_alpha_026 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_max(m_corr(m_rank(volume, 5), m_rank(high, 5), 5), 3)) 
    AS alpha_a101_f0026,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_026), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 027

**Formula:**

`((0.5 < rank((sum(correlation(rank(volume), rank(vwap), 6), 2) / 2.0))) ? (-1 * 1) : 1)`

In [ ]:
sql_alpha_027 = f"""--sql
SELECT
    date,
    instrument,
    IF((0.5 < c_pct_rank((m_sum(m_corr(c_pct_rank(volume), c_pct_rank(vwap), 6), 2) / 2.0))),
        (-1 * 1),
        1
    ) 
    AS alpha_a101_f0027,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_027), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 028

**Formula:**

`scale(((correlation(adv20, low, 5) + ((high + low) / 2)) - close))`

In [ ]:
sql_alpha_028 = f"""--sql
SELECT
    date,
    instrument,
    c_scale(((m_corr(adv20, low, 5) + ((high + low) / 2)) - close), 1) 
    AS alpha_a101_f0028,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_028), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 029

**Formula:**

`(min(product(rank(rank(scale(log(sum(ts_min(rank(rank((-1 * rank(delta((close - 1), 5))))), 2), 1))))), 1), 5) + ts_rank(delay((-1 * returns), 6), 5))`

In [ ]:
sql_alpha_029 = f"""--sql
SELECT
    date,
    instrument,
    (m_min(
         m_product(
             c_pct_rank(
                 c_pct_rank(
                     c_scale(
                         log(
                             m_sum(
                                 m_min(
                                     c_pct_rank(
                                         c_pct_rank(
                                             (-1 * c_pct_rank(m_delta((close - 1), 5)))
                                         )
                                     ), 
                                 2
                                 ), 
                             1
                         )
                     ), 
                     1
                 )
             ), 
             1
         ), 
     5) 
     + m_rank(m_lag((-1 * returns), 6), 5)) 
    AS alpha_a101_f0029,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_029), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 030

**Formula:**

`(((1.0 - rank(((sign((close - delay(close, 1))) + sign((delay(close, 1) - delay(close, 2)))) + sign((delay(close, 2) - delay(close, 3)))))) * sum(volume, 5)) / sum(volume, 20))`

In [ ]:
sql_alpha_030 = f"""--sql
SELECT
    date,
    instrument,
    (((1.0 - c_pct_rank(((sign((close - m_lag(close, 1))) 
                          + sign((m_lag(close, 1) - m_lag(close, 2)))) 
                          + sign((m_lag(close, 2) - m_lag(close, 3)))))) 
      * m_sum(volume, 5)) 
     / m_sum(volume, 20)) 
    AS alpha_a101_f0030,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_030), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 031

**Formula:**

`((rank(rank(rank(decay_linear((-1 * rank(rank(delta(close, 10)))), 10)))) + rank((-1 * delta(close, 3)))) + sign(scale(correlation(adv20, low, 12))))`

In [ ]:
sql_alpha_031 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(c_pct_rank(c_pct_rank(m_decay_linear(
         (-1 * c_pct_rank(c_pct_rank(m_delta(close, 10)))), 10))))) 
      + c_pct_rank((-1 * m_delta(close, 3)))) 
      + sign(c_scale(m_corr(adv20, low, 12), 1)) 
    AS alpha_a101_f0031,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_031), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 032

**Formula:**

`(scale(((sum(close, 7) / 7) - close)) + (20 * scale(correlation(vwap, delay(close, 5), 230))))`

In [ ]:
sql_alpha_032 = f"""--sql
SELECT
    date,
    instrument,
    (c_scale(((m_sum(close, 7) / 7) - close), 1) 
     + (20 * c_scale(m_corr(vwap, m_lag(close, 5), 230), 1))) 
    AS alpha_a101_f0032,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_032), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 033

**Formula:**

`rank((-1 * ((1 - (open / close))^1)))`

In [ ]:
sql_alpha_033 = f"""--sql
SELECT
    date,
    instrument,
    c_pct_rank((-1 * ((1 - (open / close))^1))) 
    AS alpha_a101_f0033,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_033), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 034

**Formula:**

`rank(((1 - rank((stddev(returns, 2) / stddev(returns, 5)))) + (1 - rank(delta(close, 1)))))`

In [ ]:
sql_alpha_034 = f"""--sql
SELECT
    date,
    instrument,
    c_pct_rank(((1 - c_pct_rank((m_stddev(returns, 2) / m_stddev(returns, 5))))) 
               + (1 - c_pct_rank(m_delta(close, 1))))) 
    AS alpha_a101_f0034,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_034), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 035

**Formula:**

`((Ts_Rank(volume, 32) * (1 - Ts_Rank(((close + high) - low), 16))) * (1 - Ts_Rank(returns, 32)))`

In [ ]:
sql_alpha_035 = f"""--sql
SELECT
    date,
    instrument,
    ((m_rank(volume, 32) * (1 - m_rank(((close + high) - low), 16))) 
      * (1 - m_rank(returns, 32))) 
    AS alpha_a101_f0035,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_035), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 036

**Formula:**

`(((((2.21 * rank(correlation((close - open), delay(volume, 1), 15))) + (0.7 * rank((open - close)))) + (0.73 * rank(Ts_Rank(delay((-1 * returns), 6), 5)))) + rank(abs(correlation(vwap, adv20, 6)))) + (0.6 * rank((((sum(close, 200) / 200) - open) * (close - open)))))`

In [ ]:
sql_alpha_036 = f"""--sql
SELECT
    date,
    instrument,
    (((((2.21 * c_pct_rank(m_corr((close - open), m_lag(volume, 1), 15))) 
         + (0.7 * c_pct_rank((open - close)))) 
         + (0.73 * c_pct_rank(m_rank(m_lag((-1 * returns), 6), 5)))) 
         + c_pct_rank(abs(m_corr(vwap, adv20, 6)))) 
         + (0.6 * c_pct_rank((((m_sum(close, 200) / 200) - open) * (close - open))))) 
    AS alpha_a101_f0036,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_036), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 037

**Formula:**

`(rank(correlation(delay((open - close), 1), close, 200)) + rank((open - close)))`

In [ ]:
sql_alpha_037 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank(m_corr(m_lag((open - close), 1), close, 200)) 
     + c_pct_rank((open - close))) 
    AS alpha_a101_f0037,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_037), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 038

**Formula:**

`((-1 * rank(Ts_Rank(close, 10))) * rank((close / open)))`

In [ ]:
sql_alpha_038 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * c_pct_rank(m_rank(close, 10))) * c_pct_rank((close / open))) 
    AS alpha_a101_f0038,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_038), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 039

**Formula:**

`((-1 * rank((delta(close, 7) * (1 - rank(decay_linear((volume / adv20), 9)))))) * (1 + rank(sum(returns, 250))))`

In [ ]:
sql_alpha_039 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * c_pct_rank(m_delta(close, 7) * 
                      (1 - c_pct_rank(m_decay_linear((volume / adv20), 9)))))) 
      * (1 + c_pct_rank(m_sum(returns, 250)))) 
    AS alpha_a101_f0039,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_039), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 040

**Formula:**

`((-1 * rank(stddev(high, 10))) * correlation(high, volume, 10))`

In [ ]:
sql_alpha_040 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * c_pct_rank(m_stddev(high, 10))) * m_corr(high, volume, 10)) 
    AS alpha_a101_f0040,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_040), filters={'date': [sd, ed]}).df().dropna()