# A101 Stock Factors 041-060

In [4]:
import dai
import pandas as pd
from a101_sql_base import get_a101_sql_base

In [5]:
sd = '2023-01-01'
ed = '2026-01-01'

## A101 Factor 041

**Formula:**

`(((high * low)^0.5) - vwap)`

In [ ]:
sql_alpha_041 = f"""--sql
SELECT
    date,
    instrument,
    (((high * low)^0.5) - vwap) 
    AS alpha_a101_f0041,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_041), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 042

**Formula:**

`(rank((vwap - close)) / rank((vwap + close)))`

In [ ]:
sql_alpha_042 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank((vwap - close)) / c_pct_rank((vwap + close))) 
    AS alpha_a101_f0042,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_042), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 043

**Formula:**

`(ts_rank((volume / adv20), 20) * ts_rank((-1 * delta(close, 7)), 8))`

In [ ]:
sql_alpha_043 = f"""--sql
SELECT
    date,
    instrument,
    (m_rank((volume / adv20), 20) * m_rank((-1 * m_delta(close, 7)), 8)) 
    AS alpha_a101_f0043,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_043), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 044

**Formula:**

`(-1 * correlation(high, rank(volume), 5))`

In [ ]:
sql_alpha_044 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_corr(high, c_pct_rank(volume), 5)) 
    AS alpha_a101_f0044,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_044), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 045

**Formula:**

`(-1 * ((rank((sum(delay(close, 5), 20) / 20)) * correlation(close, volume, 2)) * rank(correlation(sum(close, 5), sum(close, 20), 2))))`

In [ ]:
sql_alpha_045 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * ((c_pct_rank((m_sum(m_lag(close, 5), 20) / 20)) * 
            m_corr(close, volume, 2)) * 
            c_pct_rank(m_corr(m_sum(close, 5), m_sum(close, 20), 2)))) 
    AS alpha_a101_f0045,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_045), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 046

**Formula:**

`((0.25 < (((delay(close, 20) - delay(close, 10)) / 10) - ((delay(close, 10) - close) / 10))) ? (-1 * 1) : (((((delay(close, 20) - delay(close, 10)) / 10) - ((delay(close, 10) - close) / 10)) < 0) ? 1 : ((-1 * 1) * (close - delay(close, 1)))))`

In [ ]:
sql_alpha_046 = f"""--sql
SELECT
    date,
    instrument,
    IF(0.25 < (((m_lag(close, 20) - m_lag(close, 10)) / 10) - 
               ((m_lag(close, 10) - close) / 10)),
        -1,
        IF((((m_lag(close, 20) - m_lag(close, 10)) / 10) - 
            ((m_lag(close, 10) - close) / 10)) < 0,
            1,
            -1 * (close - m_lag(close, 1))
        )
    ) 
    AS alpha_a101_f0046,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_046), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 047

**Formula:**

`((((rank((1 / close)) * volume) / adv20) * ((high * rank((high - close))) / (sum(high, 5) / 5))) - rank((vwap - delay(vwap, 5))))`

In [ ]:
sql_alpha_047 = f"""--sql
SELECT
    date,
    instrument,
    ((((c_pct_rank((1 / close)) * volume) / adv20) * 
       ((high * c_pct_rank((high - close))) / (m_sum(high, 5) / 5))) 
     - c_pct_rank((vwap - m_lag(vwap, 5)))) 
    AS alpha_a101_f0047,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_047), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 048

**Formula:**

`(indneutralize(((correlation(delta(close, 1), delta(delay(close, 1), 1), 250) * delta(close, 1)) / close), IndClass.subindustry) / sum(((delta(close, 1) / delay(close, 1))^2), 250))`

In [ ]:
sql_alpha_048 = f"""--sql
SELECT
    date,
    instrument,
    (c_indneutralize(((m_corr(m_delta(close, 1), 
                              m_delta(m_lag(close, 1), 1), 250) 
                       * m_delta(close, 1)) / close), class_lv3)
     / m_sum(((m_delta(close, 1) / m_lag(close, 1))^2), 250)) 
    AS alpha_a101_f0048,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_048), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 049

**Formula:**

`(((((delay(close, 20) - delay(close, 10)) / 10) - ((delay(close, 10) - close) / 10)) < (-1 * 0.1)) ? 1 : ((-1 * 1) * (close - delay(close, 1))))`

In [ ]:
sql_alpha_049 = f"""--sql
SELECT
    date,
    instrument,
    IF((((m_lag(close, 20) - m_lag(close, 10)) / 10) - 
        ((m_lag(close, 10) - close) / 10)) < -0.1,
        1,
        -1 * (close - m_lag(close, 1))
    ) 
    AS alpha_a101_f0049,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_049), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 050

**Formula:**

`(-1 * ts_max(rank(correlation(rank(volume), rank(vwap), 5)), 5))`

In [ ]:
sql_alpha_050 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_max(c_pct_rank(m_corr(c_pct_rank(volume), c_pct_rank(vwap), 5)), 5)) 
    AS alpha_a101_f0050,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_050), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 051

**Formula:**

`(((((delay(close, 20) - delay(close, 10)) / 10) - ((delay(close, 10) - close) / 10)) < (-1 * 0.05)) ? 1 : ((-1 * 1) * (close - delay(close, 1))))`

In [ ]:
sql_alpha_051 = f"""--sql
SELECT
    date,
    instrument,
    IF((((m_lag(close, 20) - m_lag(close, 10)) / 10) - 
        ((m_lag(close, 10) - close) / 10)) < -0.05,
        1,
        -1 * (close - m_lag(close, 1))
    ) 
    AS alpha_a101_f0051,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_051), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 052

**Formula:**

`(((((-1 * ts_min(low, 5)) + delay(ts_min(low, 5), 5)) * rank(((sum(returns, 240) - sum(returns, 20)) / 220))) * ts_rank(volume, 5)))`

In [ ]:
sql_alpha_052 = f"""--sql
SELECT
    date,
    instrument,
    ((((-1 * m_min(low, 5)) + m_lag(m_min(low, 5), 5)) 
       * c_pct_rank(((m_sum(returns, 240) - m_sum(returns, 20)) / 220))) 
      * m_rank(volume, 5)) 
    AS alpha_a101_f0052,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_052), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 053

**Formula:**

`(-1 * delta((((close - low) - (high - close)) / (close - low)), 9))`

In [ ]:
sql_alpha_053 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_delta((((close - low) - (high - close)) 
                    / (close - low)), 9)) 
    AS alpha_a101_f0053,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_053), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 054

**Formula:**

`((-1 * ((low - close) * (open^5))) / ((low - high) * (close^5)))`

In [ ]:
sql_alpha_054 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * ((low - close) * (open^5))) / 
        ((low - high) * (close^5))) 
    AS alpha_a101_f0054,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_054), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 055

**Formula:**

`(-1 * correlation(rank(((close - ts_min(low, 12)) / (ts_max(high, 12) - ts_min(low, 12)))), rank(volume), 6))`

In [ ]:
sql_alpha_055 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_corr(
            c_pct_rank(((close - m_min(low, 12)) 
                         / (m_max(high, 12) - m_min(low, 12)))),
            c_pct_rank(volume), 
            6
         )) 
    AS alpha_a101_f0055,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_055), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 056

**Formula:**

`(0 - (1 * (rank((sum(returns, 10) / sum(sum(returns, 2), 3))) * rank((returns * cap)))))`

In [ ]:
sql_alpha_056 = f"""--sql
SELECT
    date,
    instrument,
    (0 - (1 * (c_pct_rank((m_sum(returns, 10) 
                            / m_sum(m_sum(returns, 2), 3))) 
               * c_pct_rank((returns * cap))))) 
    AS alpha_a101_f0056,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_056), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 057

**Formula:**

`(0 - (1 * ((close - vwap) / decay_linear(rank(ts_argmax(close, 30)), 2))))`

In [ ]:
sql_alpha_057 = f"""--sql
SELECT
    date,
    instrument,
    (0 - (1 * ((close - vwap) 
               / m_decay_linear(c_pct_rank(m_imax(close, 30)), 2)))) 
    AS alpha_a101_f0057,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_057), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 058

**Formula:**

`(-1 * Ts_Rank(decay_linear(correlation(IndNeutralize(vwap, IndClass.sector), volume, 3.92795), 7.89291), 5.50322))`

In [ ]:
sql_alpha_058 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_rank(m_decay_linear(
            m_corr(c_indneutralize(vwap, class_lv1), volume, 3.92795), 
            7.89291
         ), 
         5.50322)) 
    AS alpha_a101_f0058,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_058), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 059

**Formula:**

`(-1 * Ts_Rank(decay_linear(correlation(IndNeutralize(((vwap * 0.728317) + (vwap * (1 - 0.728317))), IndClass.industry), volume, 4.25197), 16.2289), 8.19648))`

In [ ]:
sql_alpha_059 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_rank(m_decay_linear(
            m_corr(c_indneutralize(((vwap * 0.728317) 
                                     + (vwap * (1 - 0.728317))), class_lv2), 
                     volume, 
                     4.25197), 
            16.2289
         ), 
         8.19648)) 
    AS alpha_a101_f0059,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_059), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 060

**Formula:**

`(0 - (1 * ((2 * scale(rank(((((close - low) - (high - close)) / (high - low)) * volume)))) - scale(rank(ts_argmax(close, 10))))))`

In [ ]:
sql_alpha_060 = f"""--sql
SELECT
    date,
    instrument,
    (0 - (1 * ((2 * c_scale(c_pct_rank(
                        ((((close - low) - (high - close)) 
                           / (high - low)) * volume)),1)) 
               - c_scale(c_pct_rank(m_imax(close, 10)),1)))) 
    AS alpha_a101_f0060,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_060), filters={'date': [sd, ed]}).df().dropna()