# A101 Stock Factors 061-080

In [4]:
import dai
import pandas as pd
from a101_sql_base import get_a101_sql_base

In [5]:
sd = '2023-01-01'
ed = '2026-01-01'

## A101 Factor 061

**Formula:**

`(rank((vwap - ts_min(vwap, 16.1219))) < rank(correlation(vwap, adv180, 17.9282)))`

In [ ]:
sql_alpha_061 = f"""--sql
SELECT
    date,
    instrument,
    IF((c_pct_rank((vwap - m_min(vwap, 16.1219))) < c_pct_rank(m_corr(vwap, adv180, 17.9282))), 1, 0)  
    AS alpha_a101_f0061,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_061), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 062

**Formula:**

`((rank(correlation(vwap, sum(adv20, 22.4101), 9.91009)) < rank(((rank(open) + rank(open)) < (rank(((high + low) / 2)) + rank(high))))) * -1)`

In [ ]:
sql_alpha_062 = f"""--sql
SELECT
    date,
    instrument,
    IF((c_pct_rank(m_corr(vwap, m_sum(adv20, 22.4101), 9.91009)) < 
        c_pct_rank(((c_pct_rank(open) + c_pct_rank(open)) < 
                    (c_pct_rank(((high + low) / 2)) + c_pct_rank(high)))))
        , 1, 0) * -1
    AS alpha_a101_f0062,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_062), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 063

**Formula:**

`((rank(decay_linear(delta(IndNeutralize(close, IndClass.industry), 2.25164), 8.22237)) - rank(decay_linear(correlation(((vwap * 0.318108) + (open * (1 - 0.318108))), sum(adv180, 37.2467), 13.557), 12.2883))) * -1)`

In [ ]:
sql_alpha_063 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(m_decay_linear(m_delta(c_indneutralize(close, class_lv2), 2.25164), 8.22237)) 
      - c_pct_rank(m_decay_linear(m_corr(((vwap * 0.318108) + (open * (1 - 0.318108))), 
                                         m_sum(adv180, 37.2467), 13.557), 12.2883))) * -1)
    AS alpha_a101_f0063,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_063), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 064

**Formula:**

`((rank(correlation(sum(((open * 0.178404) + (low * (1 - 0.178404))), 12.7054), sum(adv120, 12.7054), 16.6208)) < rank(delta(((((high + low) / 2) * 0.178404) + (vwap * (1 - 0.178404))), 3.69741))) * -1)`

In [ ]:
sql_alpha_064 = f"""--sql
SELECT
    date,
    instrument,
    IF(
        (c_pct_rank(m_corr(
            m_sum(((open * 0.178404) + (low * (1 - 0.178404))), 12.7054),
            m_sum(adv120, 12.7054),
            16.6208
        )) 
        < 
        c_pct_rank(m_delta(
            ((((high + low) / 2) * 0.178404) + (vwap * (1 - 0.178404))),
            3.69741
        ))),
        -1, 
        0
    )
    AS alpha_a101_f0064,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_064), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 065

**Formula:**

`((rank(correlation(((open * 0.00817205) + (vwap * (1 - 0.00817205))), sum(adv60, 8.6911), 6.40374)) < rank((open - ts_min(open, 13.635)))) * -1)`

In [ ]:
sql_alpha_065 = f"""--sql
SELECT
    date,
    instrument,
    IF((c_pct_rank(m_corr(((open * 0.00817205) + (vwap * (1 - 0.00817205))), 
                           m_sum(adv60, 8.6911), 6.40374))
         < c_pct_rank((open - m_min(open, 13.635)))))
       , 1, 0) * -1
    AS alpha_a101_f0065,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_065), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 066

**Formula:**

`((rank(decay_linear(delta(vwap, 3.51013), 7.23052)) + Ts_Rank(decay_linear(((((low * 0.96633) + (low * (1 - 0.96633))) - vwap) / (open - ((high + low) / 2))), 11.4157), 6.72611)) * -1)`

In [ ]:
sql_alpha_066 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(m_decay_linear(m_delta(vwap, 3.51013), 7.23052)) 
     + m_rank(m_decay_linear(((((low * 0.96633) + (low * (1 - 0.96633))) - vwap) 
                                / (open - ((high + low) / 2))), 11.4157), 6.72611)) * -1)
    AS alpha_a101_f0066,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_066), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 067

**Formula:**

`((rank((high - ts_min(high, 2.14593)))^rank(correlation(IndNeutralize(vwap, IndClass.sector), IndNeutralize(adv20, IndClass.subindustry), 6.02936))) * -1)`

In [ ]:
sql_alpha_067 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank((high - m_min(high, 2.14593))) ^ 
      c_pct_rank(m_corr(c_indneutralize(vwap, class_lv1), c_indneutralize(adv20, class_lv3), 6.02936))) * -1)
    AS alpha_a101_f0067,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_067), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 068

**Formula:**

`((Ts_Rank(correlation(rank(high), rank(adv15), 8.91644), 13.9333) < rank(delta(((close * 0.518371) + (low * (1 - 0.518371))), 1.06157))) * -1)`

In [ ]:
sql_alpha_068 = f"""--sql
SELECT
    date,
    instrument,
    IF((m_rank(m_corr(c_pct_rank(high), c_pct_rank(adv15), 8.91644), 13.9333) 
         < c_pct_rank(m_delta(((close * 0.518371) + (low * (1 - 0.518371))), 1.06157))), 
       1, 0) * -1
    AS alpha_a101_f0068,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_068), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 069

**Formula:**

`((rank(ts_max(delta(IndNeutralize(vwap, IndClass.industry), 2.72412), 4.79344))^Ts_Rank(correlation(((close * 0.490655) + (vwap * (1 - 0.490655))), adv20, 4.92416), 9.0615)) * -1)`

In [ ]:
sql_alpha_069 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(m_max(m_delta(c_indneutralize(vwap, class_lv2), 2.72412), 4.79344)) 
       ^ m_rank(m_corr(((close * 0.490655) + (vwap * (1 - 0.490655))), adv20, 4.92416), 9.0615)) * -1)
    AS alpha_a101_f0069,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_069), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 070

**Formula:**

`((rank(delta(vwap, 1.29456))^Ts_Rank(correlation(IndNeutralize(close, IndClass.industry), adv50, 17.8256), 17.9171)) * -1)`

In [ ]:
sql_alpha_070 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(m_delta(vwap, 1.29456)) ^ 
      m_rank(m_corr(c_indneutralize(close, class_lv2), adv50, 17.8256), 17.9171)) * -1)
    AS alpha_a101_f0070,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_070), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 071

**Formula:**

`max(Ts_Rank(decay_linear(correlation(Ts_Rank(close, 3.43976), Ts_Rank(adv180, 12.0647), 18.0175), 4.20501), 15.6948), Ts_Rank(decay_linear((rank(((low + open) - (vwap + vwap)))^2), 16.4662), 4.4388))`

In [ ]:
sql_alpha_071 = f"""--sql
SELECT
    date,
    instrument,
    greatest(
        m_rank(m_decay_linear(m_corr(m_rank(close, 3.43976), m_rank(adv180, 12.0647), 18.0175), 4.20501), 15.6948),
        m_rank(m_decay_linear((c_pct_rank(((low + open) - (vwap + vwap)))^2), 16.4662), 4.4388)
    )
    AS alpha_a101_f0071,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_071), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 072

**Formula:**

`(rank(decay_linear(correlation(((high + low) / 2), adv40, 8.93345), 10.1519)) / rank(decay_linear(correlation(Ts_Rank(vwap, 3.72469), Ts_Rank(volume, 18.5188), 6.86671), 2.95011)))`

In [ ]:
sql_alpha_072 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank(m_decay_linear(m_corr(((high + low) / 2), adv40, 8.93345), 10.1519)) 
     / c_pct_rank(m_decay_linear(m_corr(m_rank(vwap, 3.72469), m_rank(volume, 18.5188), 6.86671), 2.95011)))
    AS alpha_a101_f0072,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_072), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 073

**Formula:**

`(max(rank(decay_linear(delta(vwap, 4.72775), 2.91864)), Ts_Rank(decay_linear(((delta(((open * 0.147155) + (low * (1 - 0.147155))), 2.03608) / ((open * 0.147155) + (low * (1 - 0.147155)))) * -1), 3.33829), 16.7411)) * -1)`

In [ ]:
sql_alpha_073 = f"""--sql
SELECT
    date,
    instrument,
    greatest(
        c_pct_rank(m_decay_linear(m_delta(vwap, 4.72775), 2.91864)),
        m_pct_rank(m_decay_linear(((m_delta(((open * 0.147155) + (low * (1 - 0.147155))), 2.03608) 
                                    / ((open * 0.147155) + (low * (1 - 0.147155)))) * -1), 
                                  3.33829), 16.7411)
    ) * -1
    AS alpha_a101_f0073,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_073), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 074

**Formula:**

`((rank(correlation(close, sum(adv30, 37.4843), 15.1365)) < rank(correlation(rank(((high * 0.0261661) + (vwap * (1 - 0.0261661)))), rank(volume), 11.4791))) * -1)`

In [ ]:
sql_alpha_074 = f"""--sql
SELECT
    date,
    instrument,
    IF((c_pct_rank(m_corr(close, m_sum(adv30, 37.4843), 15.1365)) 
         < c_pct_rank(m_corr(c_pct_rank(((high * 0.0261661) + (vwap * (1 - 0.0261661)))), 
                              c_pct_rank(volume), 11.4791))),
       1, 0) * -1
    AS alpha_a101_f0074,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_074), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 075

**Formula:**

`(rank(correlation(vwap, volume, 4.24304)) < rank(correlation(rank(low), rank(adv50), 12.4413)))`

In [ ]:
sql_alpha_075 = f"""--sql
SELECT
    date,
    instrument,
    IF((c_pct_rank(m_corr(vwap, volume, 4.24304)) 
         < c_pct_rank(m_corr(c_pct_rank(low), c_pct_rank(adv50), 12.4413))),
       1, 0)
    AS alpha_a101_f0075,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_075), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 076

**Formula:**

`(max(rank(decay_linear(delta(vwap, 1.24383), 11.8259)), Ts_Rank(decay_linear(Ts_Rank(correlation(IndNeutralize(low, IndClass.sector), adv81, 8.14941), 19.569), 17.1543), 19.383)) * -1)`

In [ ]:
sql_alpha_076 = f"""--sql
SELECT
    date,
    instrument,
    greatest(
        c_pct_rank(m_decay_linear(m_delta(vwap, 1.24383), 11.8259)),
        m_pct_rank(m_decay_linear(m_rank(m_corr(c_indneutralize(low, class_lv1), adv81, 8.14941), 19.569), 17.1543), 19.383)
    ) * -1
    AS alpha_a101_f0076,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_076), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 077

**Formula:**

`min(rank(decay_linear(((((high + low) / 2) + high) - (vwap + high)), 20.0451)), rank(decay_linear(correlation(((high + low) / 2), adv40, 3.1614), 5.64125)))`

In [ ]:
sql_alpha_077 = f"""--sql
SELECT
    date,
    instrument,
    least(
        c_pct_rank(m_decay_linear(((((high + low) / 2) + high) - (vwap + high)), 20.0451)),
        c_pct_rank(m_decay_linear(m_corr(((high + low) / 2), adv40, 3.1614), 5.64125))
    )
    AS alpha_a101_f0077,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_077), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 078

**Formula:**

`(rank(correlation(sum(((low * 0.352233) + (vwap * (1 - 0.352233))), 19.7428), sum(adv40, 19.7428), 6.83313))^rank(correlation(rank(vwap), rank(volume), 5.77492)))`

In [ ]:
sql_alpha_078 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank(m_corr(
        m_sum(((low * 0.352233) + (vwap * (1 - 0.352233))), 19.7428),
        m_sum(adv40, 19.7428),
        6.83313
    )) ^ 
    c_pct_rank(m_corr(c_pct_rank(vwap), c_pct_rank(volume), 5.77492)))
    AS alpha_a101_f0078,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_078), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 079

**Formula:**

`(rank(delta(IndNeutralize(((close * 0.60733) + (open * (1 - 0.60733))), IndClass.sector), 1.23438)) < rank(correlation(Ts_Rank(vwap, 3.60973), Ts_Rank(adv150, 9.18637), 14.6644)))`

In [ ]:
sql_alpha_079 = f"""--sql
SELECT
    date,
    instrument,
    IF(
        (c_pct_rank(m_delta(c_indneutralize(((close * 0.60733) + (open * (1 - 0.60733))), class_lv1), 1.23438))
            < c_pct_rank(m_corr(m_rank(vwap, 3.60973), m_rank(adv150, 9.18637), 14.6644))),
        1,
        0
    )
    AS alpha_a101_f0079,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_079), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 080

**Formula:**

`((rank(Sign(delta(IndNeutralize(((open * 0.868128) + (high * (1 - 0.868128))), IndClass.industry), 4.04545)))^Ts_Rank(correlation(high, adv10, 5.11456), 5.53756)) * -1)`

In [ ]:
sql_alpha_080 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(Sign(m_delta(c_indneutralize(((open * 0.868128) + (high * (1 - 0.868128))), class_lv2), 4.04545))) 
      ^ m_rank(m_corr(high, adv10, 5.11456), 5.53756)) * -1)
    AS alpha_a101_f0080,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_080), filters={'date': [sd, ed]}).df().dropna()