# A101 Stock Factors 001-020

In [ ]:
import dai
import pandas as pd
from a101_sql_base import get_a101_sql_base

In [ ]:
sd = '2023-01-01'
ed = '2026-01-01'

## A101 Factor 001

**Formula:**

`(rank(Ts_ArgMax(SignedPower(((returns < 0) ? stddev(returns, 20) : close), 2.), 5)) - 0.5)`

In [ ]:
sql_alpha_001 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank(m_imax(power(IF(returns < 0, m_stddev(returns, 20), close), 2), 5)) - 0.5) 
    AS alpha_a101_f0001,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_001), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 002

**Formula:**

`(-1 * correlation(rank(delta(log(volume), 2)), rank(((close - open) / open)), 6))`

In [ ]:
sql_alpha_002 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_corr(c_pct_rank(m_delta(log(volume), 2)), c_pct_rank(((close - open) / open)), 6)) 
    AS alpha_a101_f0002,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_002), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 003

**Formula:**

`(-1 * correlation(rank(open), rank(volume), 10))`

In [ ]:
sql_alpha_003 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_corr(c_pct_rank(open), c_pct_rank(volume), 10)) 
    AS alpha_a101_f0003,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_003), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 004

**Formula:**

`(-1 * Ts_Rank(rank(low), 9))`

In [ ]:
sql_alpha_004 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_rank(c_pct_rank(low), 9)) 
    AS alpha_a101_f0004,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_004), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 005

**Formula:**

`(rank((open - (sum(vwap, 10) / 10))) * (-1 * abs(rank((close - vwap)))))`

In [ ]:
sql_alpha_005 = f"""--sql
SELECT
    date,
    instrument,
    (c_pct_rank((open - (m_sum(vwap, 10) / 10))) * (-1 * abs(c_pct_rank((close - vwap))))) 
    AS alpha_a101_f0005,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_005), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 006

**Formula:**

`(-1 * correlation(open, volume, 10))`

In [ ]:
sql_alpha_006 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_corr(open, volume, 10)) 
    AS alpha_a101_f0006,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_006), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 007

**Formula:**

`((adv20 < volume) ? ((-1 * ts_rank(abs(delta(close, 7)), 60)) * sign(delta(close, 7))) : (-1 * 1))`

In [ ]:
sql_alpha_007 = f"""--sql
SELECT
    date,
    instrument,
    (IF(adv20 < volume, ((-1 * m_rank(abs(m_delta(close, 7)), 60)) * sign(m_delta(close, 7))), (-1 * 1))) 
    AS alpha_a101_f0007,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_007), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 008

**Formula:**

`(-1 * rank(((sum(open, 5) * sum(returns, 5)) - delay((sum(open, 5) * sum(returns, 5)), 10))))`

In [ ]:
sql_alpha_008 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * c_pct_rank(((m_sum(open, 5) * m_sum(returns, 5)) - m_lag((m_sum(open, 5) * m_sum(returns, 5)), 10)))) 
    AS alpha_a101_f0008,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_008), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 009

**Formula:**

`((0 < ts_min(delta(close, 1), 5)) ? delta(close, 1) : ((ts_max(delta(close, 1), 5) < 0) ? delta(close, 1) : (-1 * delta(close, 1))))`

In [ ]:
sql_alpha_009 = f"""--sql
SELECT
    date,
    instrument,
    (IF(0 < m_min(m_delta(close, 1), 5), m_delta(close, 1), 
        IF(m_max(m_delta(close, 1), 5) < 0, m_delta(close, 1), (-1 * m_delta(close, 1))))) 
    AS alpha_a101_f0009,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_009), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 010

**Formula:**

`rank(((0 < ts_min(delta(close, 1), 4)) ? delta(close, 1) : ((ts_max(delta(close, 1), 4) < 0) ? delta(close, 1) : (-1 * delta(close, 1)))))`

In [ ]:
sql_alpha_010 = f"""--sql
SELECT
    date,
    instrument,
    c_pct_rank(
        IF(0 < m_min(m_delta(close, 1), 4), m_delta(close, 1),
           IF(m_max(m_delta(close, 1), 4) < 0, m_delta(close, 1), (-1 * m_delta(close, 1)))))
    AS alpha_a101_f0010,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_010), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 011

**Formula:**

`((rank(ts_max((vwap - close), 3)) + rank(ts_min((vwap - close), 3))) * rank(delta(volume, 3)))`

In [ ]:
sql_alpha_011 = f"""--sql
SELECT
    date,
    instrument,
    ((c_pct_rank(m_max((vwap - close), 3)) + 
      c_pct_rank(m_min((vwap - close), 3))) * c_pct_rank(m_delta(volume, 3))) 
    AS alpha_a101_f0011,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_011), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 012

**Formula:**

`(sign(delta(volume, 1)) * (-1 * delta(close, 1)))`

In [ ]:
sql_alpha_012 = f"""--sql
SELECT
    date,
    instrument,
    (sign(m_delta(volume, 1)) * (-1 * m_delta(close, 1))) 
    AS alpha_a101_f0012,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_012), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 013

**Formula:**

`(-1 * rank(covariance(rank(close), rank(volume), 5)))`

In [ ]:
sql_alpha_013 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * c_pct_rank(m_covar_samp(c_pct_rank(close), c_pct_rank(volume), 5))) 
    AS alpha_a101_f0013,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_013), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 014

**Formula:**

`((-1 * rank(delta(returns, 3))) * correlation(open, volume, 10))`

In [ ]:
sql_alpha_014 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * c_pct_rank(m_delta(returns, 3))) * m_corr(open, volume, 10))  
    AS alpha_a101_f0014,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_014), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 015

**Formula:**

`(-1 * sum(rank(correlation(rank(high), rank(volume), 3)), 3))`

In [ ]:
sql_alpha_015 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * m_sum(c_pct_rank(m_corr(c_pct_rank(high), c_pct_rank(volume), 3)), 3)) 
    AS alpha_a101_f0015,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_015), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 016

**Formula:**

`(-1 * rank(covariance(rank(high), rank(volume), 5)))`

In [ ]:
sql_alpha_016 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * c_pct_rank(m_covar_samp(c_pct_rank(high), c_pct_rank(volume), 5))) 
    AS alpha_a101_f0016,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_016), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 017

**Formula:**

`(((-1 * rank(ts_rank(close, 10))) * rank(delta(delta(close, 1), 1))) * rank(ts_rank((volume / adv20), 5)))`

In [ ]:
sql_alpha_017 = f"""--sql
SELECT
    date,
    instrument,
    (((-1 * c_pct_rank(m_rank(close, 10))) * 
      c_pct_rank(m_delta(m_delta(close, 1), 1))) * 
      c_pct_rank(m_rank((volume / adv20), 5))) 
    AS alpha_a101_f0017,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_017), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 018

**Formula:**

`(-1 * rank(((stddev(abs((close - open)), 5) + (close - open)) + correlation(close, open, 10))))`

In [ ]:
sql_alpha_018 = f"""--sql
SELECT
    date,
    instrument,
    (-1 * c_pct_rank(((m_stddev(abs((close - open)), 5) + 
                       (close - open)) + m_corr(close, open, 10)))) 
    AS alpha_a101_f0018,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_018), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 019

**Formula:**

`((-1 * sign(((close - delay(close, 7)) + delta(close, 7)))) * (1 + rank((1 + sum(returns, 250)))))`

In [ ]:
sql_alpha_019 = f"""--sql
SELECT
    date,
    instrument,
    ((-1 * sign(((close - m_lag(close, 7)) + m_delta(close, 7)))) * 
        (1 + c_pct_rank((1 + m_sum(returns, 250))))) 
    AS alpha_a101_f0019,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_019), filters={'date': [sd, ed]}).df().dropna()

## A101 Factor 020

**Formula:**

`(((-1 * rank((open - delay(high, 1)))) * rank((open - delay(close, 1)))) * rank((open - delay(low, 1))))`

In [ ]:
sql_alpha_020 = f"""--sql
SELECT
    date,
    instrument,
    (((-1 * c_pct_rank((open - m_lag(high, 1)))) * 
      c_pct_rank((open - m_lag(close, 1)))) * 
      c_pct_rank((open - m_lag(low, 1)))) 
    AS alpha_a101_f0020,
FROM data_base
"""
dai.query(get_a101_sql_base(sql_alpha_020), filters={'date': [sd, ed]}).df().dropna()