# Chinese (Mainland) Stock Data - Information Data - Shares Data

In [16]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Shares Data

### 1.1 Daily Shares Data

In [17]:
dai.query("""
SELECT *
FROM cn_stock_shares
WHERE date = '2026-02-13'
AND instrument = '600519.SH'
""").df()

,date,instrument,total_shares,a_float_shares,free_float_shares,total_float_shares
0,2026-02-13,600519.SH,1.252270e+09,1.252270e+09,543137592.0,1.252270e+09

### 1.2 Historical Shares Data

#### 1.2.1 Shares Allotment

In [18]:
dai.query("""
SELECT *
FROM cn_stock_allotment
WHERE instrument = '600601.SH'
""").df()

,date,instrument,publish_date,allotment_price,allotment_rate,allotment_shares,register_date,exright_date,allot_listdate
0,2007-01-04,600601.SH,2006-12-19,2.66,0.3,291134108,2006-12-21,2007-01-04,2007-01-19
1,2010-07-12,600601.SH,2010-06-29,2.20,0.3,517946002,2010-07-01,2010-07-12,2010-07-19

#### 1.2.2 Shares Capital

In [19]:
dai.query("""
SELECT *
FROM cn_stock_capital
WHERE instrument = '600519.SH'
""").df()

,instrument,publish_date,change_date,reason,total_shares,float_a,float_b,restricted_a,restricted_b,prefer_shares,shares_hk,shares_aboard,shares_a_total,shares_b_total,float_total,rest_total
0,600519.SH,2001-08-22,2001-08-27,34,2.500000e+08,7.150000e+07,0.0,0.0,0.0,NaN,0.0,0.0,7.150000e+07,0.0,7.150000e+07,0.0
1,600519.SH,2002-07-18,2002-07-26,43,2.750000e+08,7.865000e+07,0.0,0.0,0.0,NaN,0.0,0.0,7.865000e+07,0.0,7.865000e+07,0.0
2,600519.SH,2003-07-08,2003-07-15,27,3.025000e+08,8.651500e+07,0.0,0.0,0.0,NaN,0.0,0.0,8.651500e+07,0.0,8.651500e+07,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,600519.SH,2011-06-27,2011-07-04,27,1.038180e+09,1.038180e+09,0.0,0.0,0.0,NaN,0.0,0.0,1.038180e+09,0.0,1.038180e+09,0.0
11,600519.SH,2014-06-18,2014-06-26,27,1.141998e+09,1.141998e+09,0.0,0.0,0.0,NaN,0.0,0.0,1.141998e+09,0.0,1.141998e+09,0.0
12,600519.SH,2015-07-10,2015-07-20,27,1.256198e+09,1.256198e+09,0.0,0.0,0.0,NaN,0.0,0.0,1.256198e+09,0.0,1.256198e+09,0.0

## 2. Dividend Data

In [20]:
dai.query("""
SELECT *
FROM cn_stock_dividend
WHERE instrument = '600519.SH'
""").df()

,date,instrument,report_date,publish_date,bonus_rate,conversed_rate,cash_before_tax,cash_after_tax,register_date,ex_date
0,2006-05-19,600519.SH,2005-12-31,2006-04-05,NaN,NaN,0.300,0.2700,2006-05-18,2006-05-19
1,2007-07-13,600519.SH,2006-12-31,2007-04-03,NaN,NaN,0.700,0.6300,2007-07-12,2007-07-13
2,2008-06-16,600519.SH,2007-12-31,2008-03-13,NaN,NaN,0.836,0.7524,2008-06-13,2008-06-16
...,...,...,...,...,...,...,...,...,...,...
19,2024-12-20,600519.SH,2024-09-30,2024-11-09,NaN,NaN,23.882,23.8820,2024-12-19,2024-12-20
20,2025-06-26,600519.SH,2024-12-31,2025-04-03,NaN,NaN,27.673,27.6730,2025-06-25,2025-06-26
21,2025-12-19,600519.SH,2025-09-30,2025-11-06,NaN,NaN,23.957,23.9570,2025-12-18,2025-12-19

## 3. Shareholder Information

### 3.1 Shareholder Number & Changes

In [21]:
dai.query("""
SELECT *
FROM cn_stock_shareholder
WHERE instrument = '600519.SH'
""").df()

,publish_date,instrument,end_date,total_shareholder,total_shareholder_chg,a_shareholder,a_shareholder_chg,avg_share_per_account_total,avg_share_per_account_total_chg,avg_share_ratio_per_account_total,avg_share_ratio_per_account_total_chg,avg_share_per_account_float,avg_share_per_account_float_chg,avg_share_ratio_per_account_float,avg_share_ratio_per_account_float_chg
0,2005-04-23,600519.SH,2004-12-31,11777.0,0.000000,11777.0,0.000000,33391.356033,0.000000,0.000085,0.000000,9549.927825,0.000000,0.000085,0.000000
1,2005-04-23,600519.SH,2005-03-31,10017.0,-0.149444,10017.0,-0.149444,39258.260956,0.175701,0.000100,0.175701,11227.862634,0.175701,0.000100,0.175701
2,2005-08-17,600519.SH,2005-06-30,8880.0,-0.113507,8880.0,-0.113507,44284.909910,0.128041,0.000113,0.128041,12665.484234,0.128041,0.000113,0.128041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2025-04-30,600519.SH,2025-03-31,192430.0,0.000000,192430.0,0.000000,6528.076703,0.000000,0.000005,0.000000,6528.076703,0.000000,0.000005,0.000000
89,2025-08-13,600519.SH,2025-06-30,220658.0,0.146692,220658.0,0.146692,5692.962866,-0.127926,0.000005,-0.127926,5692.962866,-0.127926,0.000005,-0.127926
90,2025-10-30,600519.SH,2025-09-30,238512.0,0.080913,238512.0,0.080913,5266.811733,-0.074856,0.000004,-0.074856,5266.811733,-0.074856,0.000004,-0.074856

In [22]:
dai.query("""
SELECT *
FROM cn_stock_shareholder_change
WHERE instrument = '600519.SH'
""").df()

,end_date,instrument,total_shareholder,total_shareholder_chg_1q,total_shareholder_chg_2q,total_shareholder_chg_3q,total_shareholder_chg_4q,a_shareholder,a_shareholder_chg_1q,a_shareholder_chg_2q,a_shareholder_chg_3q,a_shareholder_chg_4q,avg_share_per_account_total,avg_share_per_account_total_chg_1q,avg_share_per_account_total_chg_2q,avg_share_per_account_total_chg_3q,avg_share_per_account_total_chg_4q,avg_share_ratio_per_account_total,avg_share_ratio_per_account_total_chg_1q,avg_share_ratio_per_account_total_chg_2q,avg_share_ratio_per_account_total_chg_3q,avg_share_ratio_per_account_total_chg_4q,avg_share_per_account_float,avg_share_per_account_float_chg_1q,avg_share_per_account_float_chg_2q,avg_share_per_account_float_chg_3q,avg_share_per_account_float_chg_4q,avg_share_ratio_per_account_float,avg_share_ratio_per_account_float_chg_1q,avg_share_ratio_per_account_float_chg_2q,avg_share_ratio_per_account_float_chg_3q,avg_share_ratio_per_account_float_chg_4q
0,2004-12-31,600519.SH,11777.0,0.000000,0.000000,0.000000,0.000000,11777.0,0.000000,0.000000,0.000000,0.000000,33391.356033,0.000000,0.000000,0.000000,0.000000,0.000085,0.000000,0.000000,0.000000,0.000000,9549.927825,0.000000,0.000000,0.000000,0.000000,0.000085,0.000000,0.000000,0.000000,0.000000
1,2005-03-31,600519.SH,10017.0,-0.149444,-0.149444,-0.149444,-0.149444,10017.0,-0.149444,-0.149444,-0.149444,-0.149444,39258.260956,0.175701,0.175701,0.175701,0.175701,0.000100,0.175701,0.175701,0.175701,0.175701,11227.862634,0.175701,0.175701,0.175701,0.175701,0.000100,0.175701,0.175701,0.175701,0.175701
2,2005-06-30,600519.SH,8880.0,-0.113507,-0.245988,-0.245988,-0.245988,8880.0,-0.113507,-0.245988,-0.245988,-0.245988,44284.909910,0.128041,0.326239,0.326239,0.326239,0.000113,0.128041,0.326239,0.326239,0.326239,12665.484234,0.128041,0.326239,0.326239,0.326239,0.000113,0.128041,0.326239,0.326239,0.326239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2025-03-31,600519.SH,192430.0,0.000000,-0.074384,-0.045401,-0.034030,192430.0,0.000000,-0.074384,-0.045401,-0.034030,6528.076703,0.000000,0.080362,0.047560,0.035228,0.000005,0.000000,0.080362,0.047560,0.035228,6528.076703,0.000000,0.080362,0.047560,0.035228,0.000005,0.000000,0.080362,0.047560,0.035228
82,2025-06-30,600519.SH,220658.0,0.146692,0.146692,0.061397,0.094631,220658.0,0.146692,0.146692,0.061397,0.094631,5692.962866,-0.127926,-0.127926,-0.057845,-0.086451,0.000005,-0.127926,-0.127926,-0.057845,-0.086451,5692.962866,-0.127926,-0.127926,-0.057845,-0.086451,0.000005,-0.127926,-0.127926,-0.057845,-0.086451
83,2025-09-30,600519.SH,238512.0,0.080913,0.239474,0.239474,0.147277,238512.0,0.080913,0.239474,0.239474,0.147277,5266.811733,-0.074856,-0.193206,-0.193206,-0.128371,0.000004,-0.074856,-0.193206,-0.193206,-0.128371,5266.811733,-0.074856,-0.193206,-0.193206,-0.128371,0.000004,-0.074856,-0.193206,-0.193206,-0.128371

### 3.2 Top Shareholders & Top Float Shareholders

In [23]:
dai.query("""
SELECT *
FROM cn_stock_shareholder_top10
WHERE instrument = '600519.SH'
""").df()

,instrument,publish_date,end_date,rank,holder_name,holding_shares,holding_pct,share_type
0,600519.SH,2010-04-02,2009-12-31,1,中国贵州茅台酒厂有限责任公司,582453084.0,0.6171,流通A股
1,600519.SH,2010-04-02,2009-12-31,2,贵州茅台酒厂集团技术开发公司,31310098.0,0.0332,流通A股
2,600519.SH,2010-04-02,2009-12-31,3,广发聚丰股票型证券投资基金,14950000.0,0.0158,流通A股
...,...,...,...,...,...,...,...,...
468,600519.SH,2025-11-26,2025-11-19,9,中国建设银行股份有限公司-易方达沪深300交易型开放式指数发起式证券投资基金,7696091.0,0.0061,流通A股
469,600519.SH,2025-11-26,2025-11-19,10,中国工商银行股份有限公司-华夏沪深300交易型开放式指数证券投资基金,5760454.0,0.0046,流通A股
470,600519.SH,2025-12-30,2025-12-26,1,中国贵州茅台酒厂(集团)有限责任公司,681282935.0,0.5440,流通A股

In [24]:
dai.query("""
SELECT *
FROM cn_stock_top10_float_shareholder
WHERE instrument = '600519.SH'
""").df()

,date,instrument,rank,publish_date,holder_name,holding_shares,holding_pct_total,holding_pct_float,share_type
0,2015-03-31,600519.SH,1,2015-04-21,中国贵州茅台酒厂(集团)有限责任公司,707974504.0,0.6199,0.6199,流通A股
1,2015-03-31,600519.SH,2,2015-04-21,香港中央结算有限公司,45970622.0,0.0403,0.0403,流通A股
2,2015-03-31,600519.SH,3,2015-04-21,贵州茅台酒厂集团技术开发公司,29283716.0,0.0256,0.0256,流通A股
...,...,...,...,...,...,...,...,...,...
427,2017-12-31,600519.SH,8,2018-03-28,中国工商银行-上证50交易型开放式指数证券投资基金,3876237.0,0.0031,0.0031,流通A股
428,2017-12-31,600519.SH,9,2018-03-28,贵州省金融控股有限责任公司,3487220.0,0.0028,0.0028,流通A股
429,2017-12-31,600519.SH,10,2018-03-28,泰康人寿保险有限责任公司-分红-个人分红-019L-FH002沪,3367393.0,0.0027,0.0027,流通A股