# Singapore Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. SG Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM sg_stock_basic_info
WHERE instrument = 'J36.SI' 
""").df()

,instrument,name,company_name,cn_company_name,list_date,delist_date,ibm,isin,fisn,ric,ccy,exchange,sector,website,incorporated_date
0,J36.SI,JMH USD,Jardine Matheson Holdings Limited,怡和控股有限公司,NaT,NaT,1A18,BMG507361001,None,JARD.SI,USD,SIN,MAINBOARD,None,None

## 2. SG Stock Price-Volume & Trading Data

### 2.1 SG Stock Trading Record

In [3]:
dai.query("""
SELECT *
FROM sgx_stock_instruments
WHERE date = '2023-12-29'
AND instrument = 'J36.SI' 
""").df()

        date instrument     name
0 2023-12-29     J36.SI  JMH USD

### 2.2 SG Stock Price-Volume Data - Post-Adjusted

In [4]:
dai.query("""
SELECT *
FROM sgx_stock_bar1d
WHERE date = '2023-12-29'
AND instrument = 'J36.SI' 
""").df()

,date,instrument,name,open,close,high,low,volume
0,2023-12-29,J36.SI,JMH USD,40.75,41.209999,41.209999,40.639999,128000.0

### 2.3 SG Stock Price-Volume Data - Pre-Adjusted

In [5]:
dai.query("""
SELECT *
FROM sg_stock_real_bar1d
WHERE date = '2024-07-02'
AND instrument = 'J36.SI' 
""").df()

,date,instrument,name,open,close,high,low,volume,amount,change
0,2024-07-02,J36.SI,JMH USD,35.3,34.29,35.44,33.72,572900,19690500.0,-1.15

## 3. SG Stock Status

In [6]:
dai.query("""
SELECT *
FROM sg_stock_status
WHERE date = '2024-07-02'
AND instrument = 'J36.SI' 
""").df()

        date instrument  suspend  watchlist
0 2024-07-02     J36.SI        0          0