# Chinese (Mainland) Industry Data - Car Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

# 1. Car Market

### 1.1 Car Market Overview

In [2]:
dai.query("""
SELECT *
FROM car_market_total_cpca
WHERE yearly_comparison_value = '2023年12月'
""").df()

  car_category yearly_comparison_value   export    retail  wholesale    output
0        狭义乘用车                2023年12月  38.7227  236.4201   273.6781  267.8423
1        广义乘用车                2023年12月  39.0876  238.3530   275.8747  270.1146

### 1.2 Car Market Segmentation

#### 1.2.1 Car Market Segmentation by Powertrain Type

In [3]:
dai.query("""
SELECT *
FROM car_market_fuel_cpca
WHERE yearly_comparison_value = '2023年12月'
""").df()

  yearly_comparison_value       ICE       NEV       BEV      PHEV  sale_nums
0                2023年12月  0.599295  0.400705  0.632628  0.367372    10.2457

#### 1.2.2 Car Market Segmentation by Vehicle Category

In [4]:
dai.query("""
SELECT *
FROM car_market_cate_cpca
WHERE yearly_comparison_value = '2023年12月'
""").df()

,car_category,yearly_comparison_value,export,retail,wholesale,output,wholesale_proportion,retail_proportion
0,MPV,2023年12月,0.5405,9.9973,11.6629,11.2749,0.042615,0.042286
1,SUV,2023年12月,27.3710,116.2284,139.9002,133.3742,0.511185,0.491618
2,轿车,2023年12月,10.8112,110.1944,122.1150,123.1932,0.446199,0.466096

#### 1.2.3 Car Market Segmentation by Vehicle Segment

In [5]:
dai.query("""
SELECT *
FROM car_market_segment_cpca
WHERE date = '2023年12月'
""").df()

       date car_category       A00        A0         A         B         C
0  2023年12月           轿车  0.124578  0.089306  0.379962  0.301847  0.104308

#### 1.2.3 Car Market Segmentation by Country

In [6]:
dai.query("""
SELECT *
FROM car_market_country_cpca
WHERE date = '2023年12月'
""").df()

,date,independent,french,japanese,german,american,korean,other_european
0,2023年12月,0.578903,0.001697,0.143734,0.170407,0.081363,0.017388,0.006508

### 1.3 Market Competition Data

In [7]:
dai.query("""
SELECT *
FROM car_market_man_rank_cpca
WHERE date_comparison_value = '2023年12月'
""").df()

   car_manufacturer car_category date_comparison_value   retail  wholesale
0             比亚迪汽车        狭义乘用车              2023年12月  30.0215    34.0178
1              奇瑞汽车        狭义乘用车              2023年12月  11.2496    20.7511
2              吉利汽车        狭义乘用车              2023年12月  12.9106    15.0453
..              ...          ...                   ...      ...        ...
17             长城汽车        广义乘用车              2023年12月   6.9961     9.6428
18             一汽丰田        广义乘用车              2023年12月   8.5412     8.9690
19            特斯拉中国        广义乘用车              2023年12月   7.5805     9.4139

[20 rows x 5 columns]

## 2. Car Sales Consumption

### 2.1 Car Sales Data

In [8]:
dai.query("""
SELECT *
FROM cn_macro_car_sales_list
WHERE month = '202312'
""").df()

       month rank_type car_type brand      series  sales  min_price  max_price
0     202312       批发量    中型SUV   特斯拉     Model Y  62158      26.35      31.35
1     202312       零售量    中型SUV   特斯拉     Model Y  60055      26.35      31.35
2     202312       批发量     微型轿车  五菱汽车  五菱宏光MINIEV  50561       3.28       9.99
...      ...       ...      ...   ...         ...    ...        ...        ...
1067  202312       批发量   紧凑型SUV    丰田  RAV4荣放PHEV      1      20.48      25.38
1068  202312       零售量   紧凑型SUV    福特      锐际PHEV      1      21.00      21.00
1069  202312       零售量    小型SUV    理念    广汽本田VE-1      1      11.98      14.68

[1070 rows x 8 columns]

### 2.2 Car Consumption Data

In [9]:
dai.query("""
SELECT *
FROM cn_macro_car_aci
WHERE month = '202312'
""").df()

    month   aci
0  202312  93.2