In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
from cn_general_tool import *

In [2]:
sql = """
WITH 
data_base AS (
    SELECT DISTINCT date
    FROM cn_stock_bar1m_c
    WHERE '2024-11-19 00:00:00' <= date AND date < '2024-11-20 00:00:00'
)
SELECT 
    date,
    ROW_NUMBER(date) AS date_index_minute,
FROM data_base
ORDER BY date
"""

df = dai.query(sql).df()

In [3]:
df["dt_12_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour // 12) * 12:02}")
df["dt_08_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  8) *  8:02}")
df["dt_06_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  6) *  6:02}")
df["dt_04_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  4) *  4:02}")
df["dt_03_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  3) *  3:02}")
df["dt_02_hour"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{(x.hour //  2) *  2:02}")
df["dt_01_hour"]   = df["date"].dt.strftime("%Y%m%d%H")
df["dt_30_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 30) * 30:02}")
df["dt_20_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 20) * 20:02}")
df["dt_15_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 15) * 15:02}")
df["dt_10_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute // 10) * 10:02}")
df["dt_05_minute"] = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d%H')}{(x.minute //  5) *  5:02}")
df["dt_01_minute"] = df["date"].dt.strftime("%Y%m%d%H%M")

In [4]:
df["dt_session_trade"]   = df["date"].apply(lambda x: f"{x.strftime('%Y%m%d')}{'AM' if x.hour < 12 else 'PM'}")

In [5]:
def get_dt_hour_trade(dt):
    if dt.time() >= pd.Timestamp("09:00").time() and dt.time() <= pd.Timestamp("10:30").time():
        return f"{dt.strftime('%Y%m%d')}1"
    elif dt.time() > pd.Timestamp("10:30").time() and dt.time() <= pd.Timestamp("11:30").time():
        return f"{dt.strftime('%Y%m%d')}2"
    elif dt.time() > pd.Timestamp("13:00").time() and dt.time() <= pd.Timestamp("14:00").time():
        return f"{dt.strftime('%Y%m%d')}3"
    elif dt.time() > pd.Timestamp("14:00").time() and dt.time() <= pd.Timestamp("15:00").time():
        return f"{dt.strftime('%Y%m%d')}4"
    else:
        return None

df["dt_hour_trade"] = df["date"].apply(get_dt_hour_trade)

In [6]:
df

,date,date_index_minute,dt_12_hour,dt_08_hour,dt_06_hour,dt_04_hour,dt_03_hour,dt_02_hour,dt_01_hour,dt_30_minute,dt_20_minute,dt_15_minute,dt_10_minute,dt_05_minute,dt_01_minute,dt_session_trade,dt_hour_trade
0,2024-11-19 09:25:00,1,2024111900,2024111908,2024111906,2024111908,2024111909,2024111908,2024111909,202411190900,202411190920,202411190915,202411190920,202411190925,202411190925,20241119AM,202411191
1,2024-11-19 09:31:00,2,2024111900,2024111908,2024111906,2024111908,2024111909,2024111908,2024111909,202411190930,202411190920,202411190930,202411190930,202411190930,202411190931,20241119AM,202411191
2,2024-11-19 09:32:00,3,2024111900,2024111908,2024111906,2024111908,2024111909,2024111908,2024111909,202411190930,202411190920,202411190930,202411190930,202411190930,202411190932,20241119AM,202411191
3,2024-11-19 09:33:00,4,2024111900,2024111908,2024111906,2024111908,2024111909,2024111908,2024111909,202411190930,202411190920,202411190930,202411190930,202411190930,202411190933,20241119AM,202411191
4,2024-11-19 09:34:00,5,2024111900,2024111908,2024111906,2024111908,2024111909,2024111908,2024111909,202411190930,202411190920,202411190930,202411190930,202411190930,202411190934,20241119AM,202411191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2024-11-19 14:56:00,237,2024111912,2024111908,2024111912,2024111912,2024111912,2024111914,2024111914,202411191430,202411191440,202411191445,202411191450,202411191455,202411191456,20241119PM,202411194
237,2024-11-19 14:57:00,238,2024111912,2024111908,2024111912,2024111912,2024111912,2024111914,2024111914,202411191430,202411191440,202411191445,202411191450,202411191455,202411191457,20241119PM,202411194
238,2024-11-19 14:58:00,239,2024111912,2024111908,2024111912,2024111912,2024111912,2024111914,2024111914,202411191430,202411191440,202411191445,202411191450,202411191455,202411191458,20241119PM,202411194
239,2024-11-19 14:59:00,240,2024111912,2024111908,2024111912,2024111912,2024111912,2024111914,2024111914,202411191430,202411191440,202411191445,202411191450,202411191455,202411191459,20241119PM,202411194
240,2024-11-19 15:00:00,241,2024111912,2024111908,2024111912,2024111912,2024111915,2024111914,2024111915,202411191500,202411191500,202411191500,202411191500,202411191500,202411191500,20241119PM,202411194