In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

In [3]:
alpha_vpta_mavg(sd, ed, col="close", n=5, data_base="cn_fund_bar1d")

           date instrument  alpha_vpta_mavg_close_5
0    2024-11-25  159309.SZ                   0.9950
1    2024-11-25  159501.SZ                   1.4118
2    2024-11-25  159518.SZ                   1.0296
3    2024-11-25  159530.SZ                   1.1666
4    2024-11-25  159537.SZ                   1.1578
...         ...        ...                      ...
1459 2024-11-25  563050.SH                   0.9026
1460 2024-11-25  588100.SH                   1.2754
1461 2024-11-25  588320.SH                   0.9172
1462 2024-11-25  588350.SH                   0.8886
1463 2024-11-25  588800.SH                   0.8990

[1464 rows x 3 columns]