# Chinese (Mainland) Future Data - Information Data - Basic Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Basic Information Data

### 1.1 Product Information

In [2]:
dai.query("""
SELECT *
FROM cn_future_product_info
WHERE code = 'rb'
""").df()

,code,commission_type,commission_yesterday,commission_today,commission_open,margin_rate,exchange,price_tick,multiplier,month,last_trading_day,trading_period,decimal_digit,old_code,name,old_price_tick
0,rb,2,0.0001,0.0001,0.0001,0.13,SHFE,1.0,10.0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]",M15,"090000-101500,103000-113000,133000-150000,2100...",0,None,螺纹钢,NaN

### 1.2 Future Information

In [3]:
dai.query("""
SELECT *
FROM cn_future_basic_info
WHERE instrument = 'rb2612.SHF'
""").df()

,instrument,delist_date,exchange,last_deliver_date,list_date,multiplier,name,price_tick,product_code,trading_code,uinstrument
0,rb2612.SHF,2026-12-15,SHFE,2026-12-17,2025-12-16,10.0,螺纹钢2612,1.0,rb,rb2612,rb2612.SHF

## 2. Future Domainant Contract

In [4]:
dai.query("""
SELECT *
FROM cn_future_dominant
WHERE date = '2026-02-13'
AND product_code = 'rb'
""").df()

        date  instrument    dominant product_code
0 2026-02-13  rb8888.SHF  rb2605.SHF           rb

## 3. Warehouse Data

In [8]:
dai.query("""
SELECT *
FROM cn_future_warehouse_receipt
WHERE date = '2025-07-11'
AND product_code = 'rb'
""").df()

,date,exchange,region,product_code,product_name,warehouse,receipts,change
0,2025-07-11,SHF,上海,rb,螺纹钢仓库,上港保税共青,0.0,0.0
1,2025-07-11,SHF,江苏,rb,螺纹钢仓库,中储南京,2398.0,2398.0
2,2025-07-11,SHF,天津,rb,螺纹钢仓库,中储塘沽,0.0,0.0
...,...,...,...,...,...,...,...,...
13,2025-07-11,SHF,江苏,rb,螺纹钢仓库,玖隆物流,0.0,0.0
14,2025-07-11,SHF,厂库提货地,rb,螺纹钢厂库,镔钢集团,0.0,0.0
15,2025-07-11,SHF,厂库提货地,rb,螺纹钢厂库,鞍钢股份,0.0,0.0