In [25]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_a101 import *

In [26]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

In [27]:
alpha_a101_f0001(sd, ed, get_factor_df_function=get_factor_df_future)

           date  instrument  alpha_a101_f0001
0    2024-11-25  AP0000.CZC         -0.408501
1    2024-11-25   AP412.CZC          0.419308
2    2024-11-25   AP501.CZC         -0.408501
3    2024-11-25   AP503.CZC         -0.408501
4    2024-11-25   AP504.CZC         -0.408501
...         ...         ...               ...
1014 2024-11-25  zn2509.SHF          0.419308
1015 2024-11-25  zn2510.SHF         -0.207493
1016 2024-11-25  zn2511.SHF               NaN
1017 2024-11-25  zn8888.SHF          0.419308
1018 2024-11-25  zn9999.SHF               NaN

[1019 rows x 3 columns]