# Chinese (Mainland) Stock Data - Financial Data - Analytical FS Data

In [4]:
import dai
import pandas as pd
pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

## 1. FS Analytical Metrics - Derived Metrics

In [5]:
dai.query("""
SELECT *
FROM cn_stock_financial_derivative
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                      0
date                                2025-04-03 00:00:00
instrument                                    600519.SH
report_date                         2024-12-31 00:00:00
shift                                                 0
gross_profit_lf                     157109669908.359985
gross_profit_mrq                     46561615428.009995
gross_profit_ttm                    157109669908.359985
operating_net_income_lf             119596850069.649994
operating_net_income_mrq             35667044295.170006
operating_net_income_ttm            119596850069.649994
value_chg_net_income_lf                     70111064.72
value_chg_net_income_mrq                    21323604.99
value_chg_net_income_ttm                    70111064.72
interest_expense_lf                      -3139789879.88
interest_expense_mrq                      -865390838.47
interest_expense_ttm                     -3139789879.88
depreciation_amortization_lf              2085019615.12
depreciation_amortization_mrq                       0.0
depreciation_amortization_ttm                       0.0
effect_tax_rate_lf                             0.253295
effect_tax_rate_mrq                             0.26093
effect_tax_rate_ttm                            0.253295
noninterest_curr_liabilities_lf      33301180685.790001
noninterest_noncurr_liabilities_lf         417274179.14
ebit_lf                             116498788314.580002
ebit_mrq                             34724303752.960007
ebit_ttm                            116498788314.580002
ebitda_lf                           118583807929.699997
ebitda_mrq                           34724303752.960007
ebitda_ttm                          116498788314.580002
nopat_lf                             86990231131.916168
nopat_mrq                            25663681617.543175
nopat_ttm                            86990231131.916168
interest_bearing_debt_lf             23214809933.169998
shortterm_debt_lf                           111951112.2
longterm_liabilities_lf                             0.0
invested_capital_lf                 265226125053.769989
working_capital_lf                  195210684017.700012
net_working_capital_lf              159129670993.980011
tangible_assets_lf                  218485142871.369995
retained_income_lf                  229423208684.440002
net_debt_lf                         -36081013023.720001
inc_wc_lf                            -4485002795.109985
fcff_lf                              88881541488.586151
fcff_mrq                             28344338638.483158
fcff_ttm                             86796521873.466156
fcfe_lf                              88881541488.586151
fcfe_mrq                             28344338638.483158
fcfe_ttm                             86796521873.466156
inc_inventory_lf                      6118405147.849998
longterm_invest_lf                                  0.0
net_profit_deducted_lf               89346831746.259995
net_profit_deducted_mrq               26364521997.12999
net_profit_deducted_ttm              89346831746.259995
net_profit_to_parent_deducted_lf     86240250141.979996
net_profit_to_parent_deducted_mrq    25461850513.889992
net_profit_to_parent_deducted_ttm    86240250141.979996

## 2. FS Analytical Metrics - Per-Share Metrics

In [6]:
dai.query("""
SELECT *
FROM cn_stock_financial_derivative
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                      0
date                                2025-04-03 00:00:00
instrument                                    600519.SH
report_date                         2024-12-31 00:00:00
shift                                                 0
gross_profit_lf                     157109669908.359985
gross_profit_mrq                     46561615428.009995
gross_profit_ttm                    157109669908.359985
operating_net_income_lf             119596850069.649994
operating_net_income_mrq             35667044295.170006
operating_net_income_ttm            119596850069.649994
value_chg_net_income_lf                     70111064.72
value_chg_net_income_mrq                    21323604.99
value_chg_net_income_ttm                    70111064.72
interest_expense_lf                      -3139789879.88
interest_expense_mrq                      -865390838.47
interest_expense_ttm                     -3139789879.88
depreciation_amortization_lf              2085019615.12
depreciation_amortization_mrq                       0.0
depreciation_amortization_ttm                       0.0
effect_tax_rate_lf                             0.253295
effect_tax_rate_mrq                             0.26093
effect_tax_rate_ttm                            0.253295
noninterest_curr_liabilities_lf      33301180685.790001
noninterest_noncurr_liabilities_lf         417274179.14
ebit_lf                             116498788314.580002
ebit_mrq                             34724303752.960007
ebit_ttm                            116498788314.580002
ebitda_lf                           118583807929.699997
ebitda_mrq                           34724303752.960007
ebitda_ttm                          116498788314.580002
nopat_lf                             86990231131.916168
nopat_mrq                            25663681617.543175
nopat_ttm                            86990231131.916168
interest_bearing_debt_lf             23214809933.169998
shortterm_debt_lf                           111951112.2
longterm_liabilities_lf                             0.0
invested_capital_lf                 265226125053.769989
working_capital_lf                  195210684017.700012
net_working_capital_lf              159129670993.980011
tangible_assets_lf                  218485142871.369995
retained_income_lf                  229423208684.440002
net_debt_lf                         -36081013023.720001
inc_wc_lf                            -4485002795.109985
fcff_lf                              88881541488.586151
fcff_mrq                             28344338638.483158
fcff_ttm                             86796521873.466156
fcfe_lf                              88881541488.586151
fcfe_mrq                             28344338638.483158
fcfe_ttm                             86796521873.466156
inc_inventory_lf                      6118405147.849998
longterm_invest_lf                                  0.0
net_profit_deducted_lf               89346831746.259995
net_profit_deducted_mrq               26364521997.12999
net_profit_deducted_ttm              89346831746.259995
net_profit_to_parent_deducted_lf     86240250141.979996
net_profit_to_parent_deducted_mrq    25461850513.889992
net_profit_to_parent_deducted_ttm    86240250141.979996

## 3. FS Analytical Metrics - Per-Share Profitability

In [7]:
dai.query("""
SELECT *
FROM cn_stock_financial_profitability
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                         0
date                                   2025-04-03 00:00:00
instrument                                       600519.SH
report_date                            2024-12-31 00:00:00
shift                                                    0
roe_avg_lf                                        0.366293
roe_avg_mrq                                         0.1079
roe_avg_ttm                                       0.366293
roe_period_lf                                      0.36991
roe_period_mrq                                    0.108966
roe_period_ttm                                     0.36991
roe_avg_deduct_lf                                 0.366344
roe_avg_deduct_mrq                                0.108161
roe_avg_deduct_ttm                                0.366344
roe_period_deduct_lf                              0.369962
roe_period_deduct_mrq                             0.109229
roe_period_deduct_ttm                             0.369962
roa2_avg_lf                                         0.3978
roa2_avg_mrq                                      0.118571
roa2_avg_ttm                                        0.3978
roa2_period_lf                                      0.3897
roa2_period_mrq                                   0.116156
roa2_period_ttm                                     0.3897
roa_avg_lf                                        0.305045
roa_avg_mrq                                       0.089816
roa_avg_ttm                                       0.305045
roa_period_lf                                     0.298834
roa_period_mrq                                    0.087987
roa_period_ttm                                    0.298834
roic_lf                                           0.327985
roic_mrq                                          0.096762
roic_ttm                                          0.327985
net_profit_rate_lf                                0.522734
net_profit_rate_mrq                               0.524774
net_profit_rate_ttm                               0.522734
gross_profit_rate_lf                              0.919312
gross_profit_rate_mrq                             0.928947
gross_profit_rate_ttm                             0.919312
cogs_lf                                          12.393442
cogs_mrq                                         14.073946
cogs_ttm                                         12.393442
period_expense_rate_lf                            0.080182
period_expense_rate_mrq                           0.094424
period_expense_rate_ttm                           0.080182
profit_rate_to_expense_lf                         6.519305
profit_rate_to_expense_mrq                        5.557652
profit_rate_to_expense_ttm                        6.519305
prime_operating_rate_lf                           1.000418
prime_operating_rate_mrq                           1.00287
prime_operating_rate_ttm                          1.000418
profit_of_parent_to_total_revenue_lf              0.495154
profit_of_parent_to_total_revenue_mrq             0.497841
profit_of_parent_to_total_revenue_ttm             0.495154
ebit_to_total_revenue_lf                          0.668979
ebit_to_total_revenue_mrq                         0.680581
ebit_to_total_revenue_ttm                         0.668979
ebit_to_total_assets_lf                             0.3897
ebit_to_total_assets_mrq                          0.116156
ebit_to_total_assets_ttm                            0.3897
ebitda_to_total_revenue_lf                        0.680952
ebitda_to_total_revenue_mrq                       0.680581
ebitda_to_total_revenue_ttm                       0.668979
sales_to_total_revenue_lf                         0.032383
sales_to_total_revenue_mrq                         0.02752
sales_to_total_revenue_ttm                        0.032383
admin_to_total_revenue_lf                         0.053494
admin_to_total_revenue_mrq                        0.069542
admin_to_total_revenue_ttm                        0.053494
research_develop_to_total_revenue_lf              0.001254
research_develop_to_total_revenue_mrq             0.001528
research_develop_to_total_revenue_ttm             0.001254
finance_to_total_revenue_lf                      -0.008443
finance_to_total_revenue_mrq                     -0.005829
finance_to_total_revenue_ttm                     -0.008443
asset_impair_to_total_revenue_lf                       0.0
asset_impair_to_total_revenue_mrq                      0.0
asset_impair_to_total_revenue_ttm                      0.0
asset_impair_to_operating_profit_lf                    0.0
asset_impair_to_operating_profit_mrq                   0.0
asset_impair_to_operating_profit_ttm                   0.0
credit_impair_to_total_revenue_lf                 0.000134
credit_impair_to_total_revenue_mrq                0.000253
credit_impair_to_total_revenue_ttm                0.000134
credit_impair_to_operating_profit_lf              0.000194
credit_impair_to_operating_profit_mrq             0.000362
credit_impair_to_operating_profit_ttm             0.000194

## 4. FS Analytical Metrics - Earning Quality

In [8]:
dai.query("""
SELECT *
FROM cn_stock_financial_earning_quality
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                               0
date                                         2025-04-03 00:00:00
instrument                                             600519.SH
report_date                                  2024-12-31 00:00:00
shift                                                          0
net_operating_profit_to_total_profit_lf                 0.999651
net_operating_profit_to_total_profit_mrq                1.002173
net_operating_profit_to_total_profit_ttm                0.999651
profit_of_value_chg_to_total_profit_lf                  0.000586
profit_of_value_chg_to_total_profit_mrq                 0.000599
profit_of_value_chg_to_total_profit_ttm                 0.000586
net_nonoperating_income_to_total_profit_lf             -0.000418
net_nonoperating_income_to_total_profit_mrq             -0.00287
net_nonoperating_income_to_total_profit_ttm            -0.000418
invest_income_to_total_profit_lf                        0.000076
invest_income_to_total_profit_mrq                       0.000031
invest_income_to_total_profit_ttm                       0.000076
operating_profit_to_total_profit_lf                     1.000418
operating_profit_to_total_profit_mrq                     1.00287
operating_profit_to_total_profit_ttm                    1.000418
total_profit_to_operating_revenue_lf                    0.700054
total_profit_to_operating_revenue_mrq                   0.710047
total_profit_to_operating_revenue_ttm                   0.700054

## 5. FS Analytical Metrics - Cash Flow

In [9]:
dai.query("""
SELECT *
FROM cn_stock_financial_cash_flow
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                       0
date                                 2025-04-03 00:00:00
instrument                                     600519.SH
report_date                          2024-12-31 00:00:00
shift                                                  0
cash_to_revenue_lf                              1.068731
cash_to_revenue_mrq                             1.056598
cash_to_revenue_ttm                             1.068731
cffoa_to_revenue_lf                             0.541042
cffoa_to_revenue_mrq                            0.958488
cffoa_to_revenue_ttm                            0.541042
cffoa_to_operating_net_income_lf                0.773128
cffoa_to_operating_net_income_mrq               1.346966
cffoa_to_operating_net_income_ttm               0.773128
cffoa_to_net_profit_from_parent_lf              1.072315
cffoa_to_net_profit_from_parent_mrq             1.891385
cffoa_to_net_profit_from_parent_ttm             1.072315
capex_to_dep_amo_lf                             2.243965
capex_to_dep_amo_mrq                                 inf
capex_to_dep_amo_ttm                                 inf
cffoa_to_total_revenue_lf                       0.530961
cffoa_to_total_revenue_mrq                      0.941609
cffoa_to_total_revenue_ttm                      0.530961
cffoa_ratio_lf                                  4.714893
cffoa_ratio_mrq                                 3.249544
cffoa_ratio_ttm                                 4.714893
cffia_ratio_lf                                 -0.091031
cffia_ratio_mrq                                  -0.0798
cffia_ratio_ttm                                -0.091031
cfffa_ratio_lf                                 -3.623863
cfffa_ratio_mrq                                -2.169744
cfffa_ratio_ttm                                -3.623863
cash_to_invest_lf                                1.13108
cash_to_invest_mrq                              1.203124
cash_to_invest_ttm                              8.563739
cash_to_assets_lf                                 0.3093
cash_to_assets_mrq                              0.160706
cash_to_assets_ttm                                0.3093
cash_dividend_coverage_lf                       1.303204
cash_dividend_coverage_mrq                       1.50092
cash_dividend_coverage_ttm                           inf

## 6. FS Analytical Metrics - Capital Structure

In [10]:
dai.query("""
SELECT *
FROM cn_stock_financial_capital
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                        0
date                                  2025-04-03 00:00:00
instrument                                      600519.SH
report_date                           2024-12-31 00:00:00
shift                                                   0
debt_to_asset_lf                                 0.190448
interest_bearing_debt_ratio_lf                   0.077656
debt_to_asset_no_advance_lf                      0.967912
debt_to_asset_no_advance_both_lf                      1.0
noncurr_debt_to_asset_lf                         0.001787
longterm_capital_suitable_lf                    10.658005
equity_multiplier_lf                              1.23525
equity_to_assets_lf                              0.809552
curr_assets_to_total_assets_lf                   0.842051
noncurr_assets_to_total_assets_lf                0.157949
tangible_assets_to_total_assets_lf               0.730855
work_capital_to_assets_lf                           0.653
curr_liab_to_parent_equity_lf                    0.189052
noncurr_liab_to_parent_equity_lf                 0.001396
equity_to_invested_capital_lf                    0.878895
interest_debt_to_invested_capital_lf             0.087528
curr_liab_to_total_liab_lf                       0.992671
noncurr_liab_to_total_liab_lf                    0.007329
longterm_liab_to_total_liab_lf                        0.0
invest_to_equity_lf                              0.001027
fixed_capital_rate_lf                             0.20256

## 7. FS Analytical Metrics - Solvency

In [11]:
dai.query("""
SELECT *
FROM cn_stock_financial_debt_repay
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                       0
date                                 2025-04-03 00:00:00
instrument                                     600519.SH
report_date                          2024-12-31 00:00:00
shift                                                  0
current_ratio_lf                                4.454079
quick_ratio_lf                                  3.467785
simple_quick_ratio_lf                           3.492523
conservative_quick_ratio_lf                     1.089562
cash_ratio_lf                                   1.053584
cash_to_expired_debt_lf                        16.348808
cash_to_expired_debt_mrq                       16.348808
cash_to_expired_debt_ttm                       16.348808
cffoa_to_interest_lf                          -29.449006
cffoa_to_interest_mrq                         -55.515154
cffoa_to_interest_ttm                         -29.449006
equity_ratio_lf                                 0.244238
liab_to_net_asset_lf                            0.190448
net_debt_ratio_lf                              -0.149088
parent_equity_to_liab_lf                        4.094372
parent_equity_to_interest_liab_lf              10.041262
tangible_assets_to_interest_liab_lf             9.411455
tangible_assets_to_liab_lf                      3.837566
tangible_assets_to_net_liab_lf                 -6.055405
ebitda_to_liab_lf                               2.082856
ebitda_to_liab_mrq                              0.609912
ebitda_to_liab_ttm                              2.046234
cffoa_to_liab_lf                                1.624071
cffoa_to_liab_mrq                               0.843835
cffoa_to_liab_ttm                               1.624071
cffoa_to_interest_liab_lf                       3.982961
cffoa_to_interest_liab_mrq                      2.069468
cffoa_to_interest_liab_ttm                      3.982961
cffoa_to_curr_liab_lf                           1.636062
cffoa_to_curr_liab_mrq                          0.850066
cffoa_to_curr_liab_ttm                          1.636062
cffoa_to_net_liab_lf                           -2.562669
cffoa_to_net_liab_mrq                          -1.331512
cffoa_to_net_liab_ttm                          -2.562669
cffoa_to_noncurr_liab_lf                      221.589777
cffoa_to_noncurr_liab_mrq                     115.133666
cffoa_to_noncurr_liab_ttm                     221.589777
nonciffa_to_curr_liab_lf                        1.604475
nonciffa_to_curr_liab_mrq                        0.82919
nonciffa_to_curr_liab_ttm                       1.604475
nonciffa_to_liab_lf                             1.592715
nonciffa_to_liab_mrq                            0.823113
nonciffa_to_liab_ttm                            1.592715
ebit_to_interest_lf                           -37.104008
ebit_to_interest_mrq                          -40.125574
ebit_to_interest_ttm                          -37.104008
debt_to_tangible_lf                             0.260582
ebitda_to_interest_liab_lf                       5.10811
ebitda_to_interest_liab_mrq                     1.495782
ebitda_to_interest_liab_ttm                     5.018296
ebitda_to_interest_fee_lf                     -37.768071
ebitda_to_interest_fee_mrq                    -40.125574
ebitda_to_interest_fee_ttm                    -37.104008
liab_to_ebitda_lf                                0.48011
liab_to_ebitda_mrq                               1.63958
liab_to_ebitda_ttm                              0.488703
cash_to_shortterm_debt_lf                     529.658186
cash_to_shortterm_debt_mrq                           0.0
cash_to_shortterm_debt_ttm                           0.0
longterm_liab_to_wc_lf                               0.0
longterm_liab_to_liab_lf                             0.0

## 8. FS Analytical Metrics - Operating

In [12]:
dai.query("""
SELECT *
FROM cn_stock_financial_operating
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                                      0
date                                                2025-04-03 00:00:00
instrument                                                    600519.SH
report_date                                         2024-12-31 00:00:00
shift                                                                 0
inventory_turnover_lf                                          0.268884
inventory_turnover_mrq                                         0.069445
inventory_turnover_ttm                                         0.268884
accounts_receivable_turnover_lf                            11743.267087
accounts_receivable_turnover_mrq                            3444.183356
accounts_receivable_turnover_ttm                           11743.267087
notes_and_accounts_receivable_turnover_lf                    108.076465
notes_and_accounts_receivable_turnover_mrq                    31.697751
notes_and_accounts_receivable_turnover_ttm                   108.076465
accounts_receivable_contract_assets_turnover_lf            11743.267087
accounts_receivable_contract_assets_turnover_mrq            3444.183356
accounts_receivable_contract_assets_turnover_ttm           11743.267087
accounts_payable_turnover_lf                                   4.471911
accounts_payable_turnover_mrq                                  1.154959
accounts_payable_turnover_ttm                                  4.471911
notes_and_accounts_payable_turnover_lf                         4.471911
notes_and_accounts_payable_turnover_mrq                        1.154959
notes_and_accounts_payable_turnover_ttm                        4.471911
advances_and_contract_liab_turnover_lf                         1.412624
advances_and_contract_liab_turnover_mrq                        0.364838
advances_and_contract_liab_turnover_ttm                        1.412624
current_assets_turnover_lf                                      0.71058
current_assets_turnover_mrq                                    0.208189
current_assets_turnover_ttm                                     0.71058
noncurr_assets_turnover_lf                                     3.644361
noncurr_assets_turnover_mrq                                    1.067742
noncurr_assets_turnover_ttm                                    3.644361
working_capital_turnover_lf                                    0.881951
working_capital_turnover_mrq                                   0.258398
working_capital_turnover_ttm                                   0.881951
fix_assets_turnover_lf                                         8.271099
fix_assets_turnover_mrq                                        2.423305
fix_assets_turnover_ttm                                        8.271099
intangible_assets_turnover_lf                                 19.880586
intangible_assets_turnover_mrq                                 5.824705
intangible_assets_turnover_ttm                                19.880586
total_assets_turnover_lf                                       0.594637
total_assets_turnover_mrq                                       0.17422
total_assets_turnover_ttm                                      0.594637
net_assets_turnover_lf                                         0.711228
net_assets_turnover_mrq                                        0.208379
net_assets_turnover_ttm                                        0.711228
inventory_turnover_days_lf                                  1338.866046
inventory_turnover_days_mrq                                 1295.996234
inventory_turnover_days_ttm                                 1338.866046
accounts_receivable_turnover_days_lf                           0.030656
accounts_receivable_turnover_days_mrq                          0.026131
accounts_receivable_turnover_days_ttm                          0.030656
notes_and_accounts_receivable_turnover_days_lf                 3.330975
notes_and_accounts_receivable_turnover_days_mrq                2.839318
notes_and_accounts_receivable_turnover_days_ttm                3.330975
accounts_receivable_contract_assets_turnover_da...             0.030656
accounts_receivable_contract_assets_turnover_da...             0.026131
accounts_receivable_contract_assets_turnover_da...             0.030656
accounts_payable_turnover_days_lf                             80.502497
accounts_payable_turnover_days_mrq                            77.924848
accounts_payable_turnover_days_ttm                            80.502497
notes_and_accounts_payable_turnover_days_lf                   80.502497
notes_and_accounts_payable_turnover_days_mrq                  77.924848
notes_and_accounts_payable_turnover_days_ttm                  80.502497
advances_and_contract_liab_turnover_days_lf                   254.84493
advances_and_contract_liab_turnover_days_mrq                 246.684925
advances_and_contract_liab_turnover_days_ttm                  254.84493
current_assets_turnover_days_lf                              506.628365
current_assets_turnover_days_mrq                             432.299511
current_assets_turnover_days_ttm                             506.628365
noncurr_assets_turnover_days_lf                               98.782744
noncurr_assets_turnover_days_mrq                              84.290054
noncurr_assets_turnover_days_ttm                              98.782744
working_capital_turnover_days_lf                             408.185859
working_capital_turnover_days_mrq                            348.299779
working_capital_turnover_days_ttm                            408.185859
fix_assets_turnover_days_lf                                    43.52505
fix_assets_turnover_days_mrq                                  37.139369
fix_assets_turnover_days_ttm                                   43.52505
intangible_assets_turnover_days_lf                            18.108118
intangible_assets_turnover_days_mrq                           15.451426
intangible_assets_turnover_days_ttm                           18.108118
total_assets_turnover_days_lf                                605.411109
total_assets_turnover_days_mrq                               516.589565
total_assets_turnover_days_ttm                               605.411109
net_assets_turnover_days_lf                                  506.166568
net_assets_turnover_days_mrq                                 431.905467
net_assets_turnover_days_ttm                                 506.166568
operating_cycle_lf                                          1338.896702
operating_cycle_mrq                                         1296.022365
operating_cycle_ttm                                         1338.896702
net_operating_cycle_lf                                      1258.394204
net_operating_cycle_mrq                                     1218.097516
net_operating_cycle_ttm                                     1258.394204

## 9. FS Analytical Metrics - Growth

In [13]:
dai.query("""
SELECT *
FROM cn_stock_financial_growth
WHERE date >= '2024-12-31'
AND report_date = '2024-12-31'
AND instrument = '600519.SH'
AND shift = 0
""", full_db_scan=True).df().transpose()

                                                          0
date                                    2025-04-03 00:00:00
instrument                                        600519.SH
report_date                             2024-12-31 00:00:00
shift                                                     0
eps_yoy_lf                                         0.153807
total_operating_revenue_yoy_lf                      0.15664
total_operating_revenue_yoy_mrq                    0.127686
total_operating_revenue_yoy_ttm                     0.15664
operating_revenue_yoy_lf                            0.15712
operating_revenue_yoy_mrq                          0.128255
operating_revenue_yoy_ttm                           0.15712
operating_costs_yoy_lf                             0.161976
operating_costs_yoy_mrq                               0.078
operating_costs_yoy_ttm                            0.161976
gross_profit_yoy_lf                                0.156695
gross_profit_yoy_mrq                               0.132293
gross_profit_yoy_ttm                               0.156695
rad_expense_yoy_lf                                  0.38764
rad_expense_yoy_mrq                                0.386315
rad_expense_yoy_ttm                                 0.38764
selling_epense_yoy_lf                              0.213114
selling_epense_yoy_mrq                            -0.114636
selling_epense_yoy_ttm                             0.213114
administrative_expense_yoy_lf                     -0.042525
administrative_expense_yoy_mrq                    -0.112061
administrative_expense_yoy_ttm                    -0.042525
finance_expense_yoy_lf                              0.17842
finance_expense_yoy_mrq                            0.349537
finance_expense_yoy_ttm                             0.17842
operating_profit_yoy_lf                            0.154085
operating_profit_yoy_mrq                           0.168799
operating_profit_yoy_ttm                           0.154085
total_profit_yoy_lf                                0.154116
total_profit_yoy_mrq                               0.169334
total_profit_yoy_ttm                               0.154116
net_profit_yoy_lf                                  0.152387
net_profit_yoy_mrq                                 0.159025
net_profit_yoy_ttm                                 0.152387
net_profit_to_parent_yoy_lf                          0.1538
net_profit_to_parent_yoy_mrq                       0.162081
net_profit_to_parent_yoy_ttm                         0.1538
net_cffoa_yoy_lf                                   0.388484
net_cffoa_yoy_mrq                                  1.895643
net_cffoa_yoy_ttm                                  0.388484
cash_received_yoy_lf                               0.115732
cash_received_yoy_mrq                              0.009804
cash_received_yoy_ttm                              0.115732
cash_paid_for_goods_yoy_lf                         -0.01855
cash_paid_for_goods_yoy_mrq                       -0.163077
cash_paid_for_goods_yoy_ttm                        -0.01855
cash_paid_for_employees_yoy_lf                     0.108863
cash_paid_for_employees_yoy_mrq                   -0.009637
cash_paid_for_employees_yoy_ttm                    0.108863
net_assets_yoy_lf                                  0.082067
total_assets_yoy_lf                                0.096241
total_liab_yoy_lf                                   0.16088
accounts_receivable_yoy_lf                        -0.685719
cce_yoy_lf                                        10.714845
cce_yoy_mrq                                        2.646242
cce_yoy_ttm                                       10.714845
cash_yoy_lf                                       -0.141513
fixed_assets_yoy_lf                                0.098555
total_operating_revenue_qoq_lf                     0.414396
total_operating_revenue_qoq_mrq                    0.286104
total_operating_revenue_qoq_ttm                    0.034313
operating_revenue_qoq_lf                           0.415008
operating_revenue_qoq_mrq                          0.290329
operating_revenue_qoq_ttm                           0.03449
operating_costs_qoq_lf                             0.348199
operating_costs_qoq_mrq                            0.024217
operating_costs_qoq_ttm                            0.019043
gross_profit_qoq_lf                                0.421189
gross_profit_qoq_mrq                               0.316492
gross_profit_qoq_ttm                               0.035868
rad_expense_qoq_lf                                 0.555369
rad_expense_qoq_mrq                                0.624996
rad_expense_qoq_ttm                                0.110495
selling_epense_qoq_lf                              0.331537
selling_epense_qoq_mrq                            -0.132028
selling_epense_qoq_ttm                            -0.031232
administrative_expense_qoq_lf                       0.61519
administrative_expense_qoq_mrq                     0.836982
administrative_expense_qoq_ttm                    -0.045864
finance_expense_qoq_lf                            -0.253593
finance_expense_qoq_mrq                           -0.070442
finance_expense_qoq_ttm                            0.098047
operating_profit_qoq_lf                            0.424919
operating_profit_qoq_mrq                           0.349623
operating_profit_qoq_ttm                           0.045005
total_profit_qoq_lf                                 0.42344
total_profit_qoq_mrq                               0.344499
total_profit_qoq_ttm                               0.045018
net_profit_qoq_lf                                  0.417304
net_profit_qoq_mrq                                 0.324798
net_profit_qoq_ttm                                 0.042099
net_profit_to_parent_qoq_lf                        0.417584
net_profit_to_parent_qoq_mrq                       0.327654
net_profit_to_parent_qoq_ttm                       0.042846
net_cffoa_qoq_lf                                   1.081513
net_cffoa_qoq_mrq                                  5.159623
net_cffoa_qoq_ttm                                  0.515485
cash_received_qoq_lf                               0.408372
cash_received_qoq_mrq                              0.243433
cash_received_qoq_ttm                              0.002823
cash_paid_for_goods_qoq_lf                         0.328397
cash_paid_for_goods_qoq_mrq                       -0.160866
cash_paid_for_goods_qoq_ttm                       -0.045957
cash_paid_for_employees_qoq_lf                      0.21178
cash_paid_for_employees_qoq_mrq                     0.01732
cash_paid_for_employees_qoq_ttm                   -0.001698
net_assets_qoq_lf                                 -0.022919
total_assets_qoq_lf                                0.042452
total_liab_qoq_lf                                  0.456744
accounts_receivable_qoq_lf                         0.872755
cce_qoq_lf                                         3.062885
cce_qoq_mrq                                        0.490258
cce_qoq_ttm                                         5.72137
cash_qoq_lf                                        -0.01313
fixed_assets_qoq_lf                                0.080733
roe_avg_yoy_lf                                     0.062297
roe_avg_yoy_mrq                                    0.069921
roe_avg_yoy_ttm                                    0.062297
total_operating_revenue_cagr_2_lf                  0.168443
total_operating_revenue_cagr_2_mrq                 0.162289
total_operating_revenue_cagr_2_ttm                 0.168443
net_profit_cagr_2_lf                               0.168963
net_profit_cagr_2_mrq                              0.174681
net_profit_cagr_2_ttm                              0.168963
net_profit_deduct_cagr_2_lf                        0.168379
net_profit_deduct_cagr_2_mrq                       0.173539
net_profit_deduct_cagr_2_ttm                       0.168379
net_profit_to_parent_cagr_2_lf                     0.172547
net_profit_to_parent_cagr_2_mrq                    0.177571
net_profit_to_parent_cagr_2_ttm                    0.172547
net_profit_to_parent_deduct_cagr_2_lf              0.171936
net_profit_to_parent_deduct_cagr_2_mrq             0.176373
net_profit_to_parent_deduct_cagr_2_ttm             0.171936
total_operating_revenue_cagr_3_lf                   0.16738
total_operating_revenue_cagr_3_mrq                 0.163286
total_operating_revenue_cagr_3_ttm                  0.16738
net_profit_cagr_3_lf                               0.170402
net_profit_cagr_3_mrq                              0.176663
net_profit_cagr_3_ttm                              0.170402
net_profit_deduct_cagr_3_lf                        0.169611
net_profit_deduct_cagr_3_mrq                       0.176871
net_profit_deduct_cagr_3_ttm                       0.169611
net_profit_to_parent_cagr_3_lf                     0.180157
net_profit_to_parent_cagr_3_mrq                    0.186836
net_profit_to_parent_cagr_3_ttm                    0.180157
net_profit_to_parent_deduct_cagr_3_lf              0.179309
net_profit_to_parent_deduct_cagr_3_mrq             0.187034
net_profit_to_parent_deduct_cagr_3_ttm             0.179309
total_operating_revenue_cagr_4_lf                  0.154591
total_operating_revenue_cagr_4_mrq                 0.157547
total_operating_revenue_cagr_4_ttm                 0.154591
net_profit_cagr_4_lf                               0.158918
net_profit_cagr_4_mrq                              0.177712
net_profit_cagr_4_ttm                              0.158918
net_profit_deduct_cagr_4_lf                        0.157074
net_profit_deduct_cagr_4_mrq                       0.173122
net_profit_deduct_cagr_4_ttm                       0.157074
net_profit_to_parent_cagr_4_lf                     0.165707
net_profit_to_parent_cagr_4_mrq                    0.185263
net_profit_to_parent_cagr_4_ttm                    0.165707
net_profit_to_parent_deduct_cagr_4_lf              0.163739
net_profit_to_parent_deduct_cagr_4_mrq              0.18034
net_profit_to_parent_deduct_cagr_4_ttm             0.163739
total_operating_revenue_cagr_5_lf                  0.144053
total_operating_revenue_cagr_5_mrq                 0.150191
total_operating_revenue_cagr_5_ttm                 0.144053
net_profit_cagr_5_lf                               0.152319
net_profit_cagr_5_mrq                              0.178766
net_profit_cagr_5_ttm                              0.152319
net_profit_deduct_cagr_5_lf                         0.15128
net_profit_deduct_cagr_5_mrq                       0.176782
net_profit_deduct_cagr_5_ttm                        0.15128
net_profit_to_parent_cagr_5_lf                     0.159142
net_profit_to_parent_cagr_5_mrq                    0.187611
net_profit_to_parent_cagr_5_ttm                    0.159142
net_profit_to_parent_deduct_cagr_5_lf              0.158026
net_profit_to_parent_deduct_cagr_5_mrq             0.185441
net_profit_to_parent_deduct_cagr_5_ttm             0.158026