# Chinese (Mainland) Stock Data - Financial Data - Original FS Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

## 1. Financial Reports Change Data

In [2]:
dai.query("""
SELECT *
FROM cn_stock_financial_changedate
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
""", full_db_scan=True).df()

,instrument,report_date,changedate,statement_type
0,600519.SH,2022-12-31,"2023-03-31,2023-04-26,2023-08-03,2023-10-21,20...",balance_sheet
1,600519.SH,2022-12-31,"2023-03-31,2024-04-03",income
2,600519.SH,2022-12-31,"2023-03-31,2024-04-03",cash_flow

## 2. Financial Statements Data

### 2.1 Balance Sheet

In [3]:
dai.query("""
SELECT *
FROM cn_stock_financial_balance_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                                     0
date                                               2023-03-31 00:00:00
instrument                                                   600519.SH
report_date                                        2022-12-31 00:00:00
fs_quarter_index                                                     4
change_type                                                          0
noncurr_liabilities_due_within_1y                         109351155.28
noncurr_assets_due_within_1y                             2123601333.33
general_reserve                                           1061529724.0
specific_reserve                                                   NaN
specific_payables                                                  NaN
fin_assets_purchased_under_resale                                  NaN
tradable_fin_liabilities                                           NaN
tradable_fin_assets                                                NaN
acting_trading_payables                                            NaN
underwriting_payables                                              NaN
fin_assets_by_fair_value                                           NaN
fin_assets_by_amortized_cost                                       NaN
preference_shares                                                  NaN
right_of_use_assets                                       402551533.46
insurance_contract_reserves                                        NaN
debt_investments                                          380685319.09
preference_of_other_equity_instruments                             NaN
other_debt_investments                                             NaN
other_payables                                           4543842833.87
other_payables_sum                                       4543842833.87
other_receivables                                          31818622.84
other_receivables_sum                                      31818622.84
other_equity_instruments                                           NaN
other_equity_investments                                           NaN
other_current_liabilities                                 1979272808.9
other_current_assets                                      160843674.42
balance_othcom_income                                     -10776907.33
other_noncurr_liabilities                                          NaN
other_noncurr_assets                                               NaN
other_noncurr_fin_assets                                           NaN
fin_assets_sold_under_resale                                       NaN
loans_and_advances                                       4134744407.92
available_for_sale_fin_assets                                      NaN
contract_liabilities                                    15471920924.98
contract_assets                                                    NaN
borrowing_from_central_bank                                        NaN
deposits_from_banks_and_fin_instiutions                 12874043355.42
goodwill                                                           NaN
fixed_assets                                        19742622547.860001
fixed_assets_sum                                    19742622547.860001
fixed_assets_disposal                                              NaN
construction_in_progress                                 2208329892.95
construction_in_progress_sum                             2208329892.95
balance_translation_diff_of_foreign_currency                       NaN
inventories                                         38824374236.239998
share_capital                                             1256197800.0
minority_interests                                       7458015858.08
project_materials                                                  NaN
treasury_shares                                                    NaN
taxes_and_levies_payable                                 6896555423.83
bonds_payable                                                      NaN
reinsurance_payables                                               NaN
interest_payable                                                   NaN
fees_and_commissions_payable                                       NaN
shortterm_bonds_payable                                            NaN
notes_payable                                                      NaN
notes_and_accounts_payable                               2408371053.69
employee_benefits_payable                                4782311242.41
dividends_payable                                                  NaN
accounts_payable                                         2408371053.69
premiums_receivable                                                NaN
receivable_reinsurance_contract_reserve                            NaN
reinsurance_receivables                                            NaN
interest_receivable                                                NaN
receivables_financing                                              NaN
notes_receivable                                           105453212.0
notes_and_accounts_receivable                              126390356.0
dividends_receivable                                               NaN
accounts_receivable                                         20937144.0
development_costs                                          190536632.6
total_equity_to_parent_shareholders                     197506672396.0
total_owner_equity                                 204964688254.079987
investment_property                                         5335046.99
loans_from_banks_and_fin_institutions                              NaN
loans_to_banks_and_fin_institutions                116172711554.589996
liabilities_held_for_sale                                          NaN
assets_held_for_sale                                               NaN
held_to_maturity_invesments                                        NaN
intangible_assets                                        7083177226.45
undistributed_profit                               161301978184.730011
perpetual_bonds                                                    NaN
oil_and_gas_assets                                                 NaN
total_current_liabilities                           49065668798.379997
totbal_diff_of_current_liabilities                                 NaN
spec_diff_of_current_liabilities                                   NaN
total_current_assets                               216611435672.920013
totbal_diff_of_current_assets                                      NaN
spec_diff_of_current_assets                                        NaN
productive_biological_assets                                       NaN
surplus_reserve                                     32522779178.880001
shortterm_borrowings                                               NaN
lease_liabilities                                         334447942.79
settlment_reserves                                                 NaN
spec_diff_of_shareholders_equity                                   NaN
totbal_diff_of_shareholders_equity                                 NaN
derivatives_fin_liabilities                                        NaN
derivatives_fin_assets                                             NaN
totbal_diff_of_liabilities_and_shareholder_equity                  0.0
spec_diff_of_liabilities_and_shareholder_equity                    0.0
total_liabilities                                   49400116741.169998
total_liabilities_and_owner_equity                     254364804995.25
totbal_diff_of_total_liabilities                                   NaN
spec_diff_of_total_liabilities                                     NaN
moneytary_assets                                    58274318733.230003
totbal_diff_of_total_assets                                        NaN
spec_diff_of_total_assets                                          NaN
total_assets                                           254364804995.25
capital_reserves                                         1374964415.72
deferred_tax_liabilities                                           NaN
deferred_tax_assets                                      3458931368.11
deferred_income_current_liabilities                                NaN
deferred_income_noncurr_liabilities                                NaN
longterm_borrowings                                                NaN
longterm_payables                                                  NaN
longterm_payables_sum                                              0.0
longterm_employee_benefits                                         NaN
longterm_receivables                                               NaN
longterm_prepaid_expense                                   146455346.9
longterm_equity_investments                                        NaN
total_noncurr_liabilities                                 334447942.79
totbal_diff_of_noncurr_liabilities                                 NaN
spec_diff_of_noncurr_liabilities                                   NaN
total_noncurr_assets                                37753369322.330002
totbal_diff_of_noncurr_assets                                      NaN
spec_diff_of_noncurr_assets                                        NaN
prepayments                                               897377162.27
advances                                                           NaN
provisions                                                         NaN

### 2.2 Income Statement

In [4]:
dai.query("""
SELECT *
FROM cn_stock_financial_income_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                                      0
date                                                2023-03-31 00:00:00
instrument                                                    600519.SH
report_date                                         2022-12-31 00:00:00
fs_quarter_index                                                      4
change_type                                                           0
continuing_operation_net_profit                          65375136766.75
discontinued_operation_net_profit                                   NaN
othcom_income_cannt_reclass                                         NaN
othcom_income_reclass                                        2240973.45
income_derecognition_of_fin_assets_at_amortized...                  NaN
own_credit_risk_fair_value_chg                                      NaN
expense_on_policy_dividends                                         NaN
credit_impairment_loss                                      14686546.25
fair_value_chg_gain                                                 NaN
other_cannt_reclass                                                 NaN
other_reclass                                                       NaN
credit_impairment_of_other_debt_investments                         NaN
other_debt_investments_fair_value_chg                               NaN
other_income                                                24505353.83
other_equity_instruments_fair_value_chg                             NaN
income_othcom_income                                         2240973.45
net_profit                                               65375136766.75
totbal_diff_of_net_profit                                           NaN
spec_diff_of_net_profit                                             NaN
net_income_of_open_hedge                                            NaN
reinsurance_premium_expense                                         NaN
interest_costs                                             105584206.24
interest_income                                           3454115583.98
total_profit                                         87701489748.179993
totbal_diff_of_total_profit                                         NaN
spec_diff_of_total_profit                                           NaN
available_for_sale_fin_assets_fair_value_chg                        NaN
eps_basic                                                         49.93
income_translation_diff_of_foreign_currency                  2240973.45
invest_income_of_jv_and_associates                                  NaN
net_profit_to_minority                                    2658693028.48
insurance_premium_income                                            NaN
othcom_income_to_minority                                           NaN
net_profit_to_parent_shareholders                    62716443738.269997
total_comprehensive_income_to_parent_shareholders    62718684711.720001
othcom_income_to_parent_shareholders                         2240973.45
income_tax_expense                                       22326352981.43
fee_and_commission_costs                                      143141.51
fee_and_commission_income                                           NaN
invest_income                                                63840000.0
gains_or_losses_from_htm_to_afs                                     NaN
net_amount_of_insurance_reserve                                     NaN
othcom_income_cannt_reclass_under_equity_method                     NaN
othcom_income_reclass_under_equity_method                           NaN
exchange_gain                                                       NaN
cashflow_hedge_reserve                                              NaN
effective_of_gains_or_losses_on_cashflow_hedge                      NaN
research_and_development_expense                            135185680.4
eps_diluted                                                       49.93
taxes_and_levies                                     18495818534.220001
administrative_expense                                9012191073.629999
total_comprehensive_income                           65377377740.199997
operating_profit                                     87879521782.389999
totbal_diff_of_operating_profit                                     NaN
spec_diff_of_operating_profit                                       NaN
nonoperating_costs                                         248884319.61
nonoperating_income                                          70852285.4
total_operating_costs                                39762996163.099998
totbal_diff_of_operating_costs                                      NaN
spec_diff_of_operating_costs                                        NaN
total_operating_revenue                             127553959355.970001
totbal_diff_of_operating_revenue                                    NaN
spec_diff_of_operating_revenue                                      NaN
operating_costs                                      10093468616.629999
operating_revenue                                   124099843771.990005
finance_expense                                          -1391805826.72
fin_interest_income                                       1475422303.64
fin_interest_expense                                        12023204.77
asset_impairment_loss                                               NaN
asset_disposal_income                                         213235.69
net_insurance_claims_paid                                           NaN
surrenders                                                          NaN
chg_by_remeasurements                                               NaN
othcom_income_from_reclass_of_fin_assets                            NaN
selling_epense                                            3297724190.94
noncurr_assets_dispose_gain                                         NaN
noncurr_assets_dispose_loss                                         NaN

### 2.3 Cash Flow Statement

In [5]:
dai.query("""
SELECT *
FROM cn_stock_financial_cashflow_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                                     0
date                                               2023-03-31 00:00:00
instrument                                                   600519.SH
report_date                                        2022-12-31 00:00:00
fs_quarter_index                                                     4
change_type                                                          0
conv_corp_bonds_within_1y                                          NaN
netinc_in_insurance_deposits_and_invest                            NaN
credit_impairment_loss_in_cashflow_sheet                           NaN
debt_transfer_to_capital                                           NaN
cash_paid_for_debt_repayment                                       NaN
loss_from_fair_value_chg                                           NaN
others_in_cashflow_sheet                                           NaN
cash_paid_for_dividends_profits_interests           57370196191.459999
cash_received_from_bond_issue                                      NaN
cash_received_from_borrowings                                      NaN
cash_paid_by_acquiring_subsidiaries                                NaN
return_on_investment                                         5880000.0
netinc_in_borrowings_from_central_bank                             NaN
netinc_in_loans_from_other_fin_institutions                        NaN
capital_contributions_received                                     NaN
netinc_in_repurchase_transactions                                  NaN
depreciation_of_fa_oga_pba                               1520946409.13
loss_from_scraping_of_fixed_assets                         20780992.88
netinc_in_disposal_fin_assets                                      NaN
net_cash_received_from_disposal_filt_assets                   355149.0
loss_from_disposal_of_fa_ia_lta                             -213235.69
net_cash_received_from_disposal_subsidiaries                       NaN
cash_received_by_subsidiaries_from_minority                        NaN
cash_paid_by_subsidiaries_to_minority                    2618815078.45
netinc_deposits_central_bank_interbank                   13037761321.9
decrease_in_inventories                                 -5430009151.41
netinc_in_deposits                                      -8916033228.67
netinc_in_loans_and_advances                               723778672.0
invest_loss                                                -63840000.0
cash_paid_for_investments                                  210000000.0
net_cffia                                                -5536826334.9
totbal_diff_of_net_cffia                                           0.0
spec_diff_of_net_cffia                                             NaN
subtotal_cifia                                             11206911.18
totbal_diff_of_cifia                                               NaN
spec_diff_of_cifia                                                 NaN
subtotal_of_cofia                                        5548033246.08
totbal_diff_of_cofia                                               NaN
spec_diff_of_cofia                                                 NaN
netinc_in_loans_from_banks_and_fin_institutions                    NaN
cash_paid_for_policy_dividends                                     NaN
cash_paid_for_other_investing                                      NaN
cash_paid_for_other_financing                              54332788.37
other_cofoa                                              5123087432.89
cash_paid_for_interests_fees_and_commissions               79226410.98
cash_paid_for_claims                                               NaN
cash_paid_for_taxes_and_levies                                     NaN
cash_paid_for_employees                             11752241598.620001
cash_received_from_other_investing                          4971762.18
cash_received_from_other_financing                                 NaN
cash_received_from_other_operating                       2759422171.88
net_cash_received_from_reinsurance                                 NaN
cash_received_from_premiums                                        NaN
taxes_and_levies_rebates                                   33191912.56
cash_received_from_interests_fess_and_commissions        3247615476.04
cash_received_from_disposal_investments                            NaN
amorization_of_intangible_assets                           156016278.9
cce_beginning                                      178640587379.519989
cce_ending                                         152378738982.829987
effect_of_exchange_chg_on_cce                                911088.01
netinc_in_cce                                      -26261848396.689999
net_profit_in_cashflow_sheet                            65375136766.75
finance_expenses_in_cashflow_sheet                         12023204.77
cash_balance_beginning                             178640587379.519989
cash_balance_ending                                152378738982.829987
cce_balance_beginning                                              NaN
cce_balance_ending                                                 NaN
totbal_diff_of_netinc_in_cce                                       NaN
spec_diff_of_netinc_in_cce                                         NaN
net_cfffa                                          -57424528979.830002
totbal_diff_of_net_cfffa                                           0.0
spec_diff_of_net_cfffa                                             NaN
subtotal_ciffa                                                     NaN
totbal_diff_of_ciffa                                               NaN
spec_diff_of_ciffa                                                 NaN
subtotal_of_coffa                                   57424528979.830002
totbal_diff_of_coffa                                               NaN
spec_diff_of_coffa                                                 NaN
increase_in_operating_payables                          -8644820580.52
decrease_in_operating_receivables                  -15051874095.799999
net_cffoa                                           36698595830.029999
totbal_diff_of_net_cffoa                                           0.0
spec_diff_of_net_cffoa                                             NaN
subtotal_cifoa                                     137815874923.809998
totbal_diff_of_cifoa                                               NaN
spec_diff_of_cifoa                                                 NaN
subtotal_cofoa                                                     NaN
totbal_diff_of_cofoa                                               NaN
spec_diff_of_cofoa                                                 NaN
fin_lease_fixed_assets                                             NaN
netinc_in_pledge_loans                                             NaN
cash_paid_for_goods_and_services                         8357859151.03
cash_paid_for_filt_assets                                5306546416.54
asset_impairment_reserve                                           NaN
increase_in_deferred_tax_liabilities                               NaN
decrease_in_deferred_tax_assets                         -1221724924.27
cash_received_from_sales_and_services                   140691678592.0
amortization_of_longterm_deferred_expenses                 11487619.04
netinc_in_cce_indirect                             -26261848396.689999
totbal_diff_of_netinc_in_cce_indirect                              NaN
spec_diff_of_netinc_in_cce_indirect                                NaN
net_cffoa_indirect                                  36698595830.029999
totbal_diff_of_net_cffoa_indirect                                  NaN
spec_diff_of_net_cffoa_indirect                                    NaN

## 3. Financial Reports Notes Data

### 3.1 Margin Business

In [6]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_margin_business
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                              0
instrument                            600519.SH
date                        2023-03-31 00:00:00
report_date                 2022-12-31 00:00:00
change_type                                   0
name_by_industry_1
revenue_by_industry_1       123772332348.710007
cost_by_industry_1            9896113336.799999
profit_by_industry_1        113876219011.910004
profit_ratio_by_industry_1             0.920046
name_by_industry_2
revenue_by_industry_2              327511423.28
cost_by_industry_2                 197355279.83
profit_by_industry_2               130156143.45
profit_ratio_by_industry_2             0.397409
name_by_industry_3                         None
revenue_by_industry_3                       NaN
cost_by_industry_3                          NaN
profit_by_industry_3                        NaN
profit_ratio_by_industry_3                  NaN
name_by_industry_4                         None
revenue_by_industry_4                       NaN
cost_by_industry_4                          NaN
profit_by_industry_4                        NaN
profit_ratio_by_industry_4                  NaN
name_by_industry_5                         None
revenue_by_industry_5                       NaN
cost_by_industry_5                          NaN
profit_by_industry_5                        NaN
profit_ratio_by_industry_5                  NaN
name_by_product_1
revenue_by_product_1        107833685277.940002
cost_by_product_1                 6265810909.88
profit_by_product_1         101567874368.059998
profit_ratio_by_product_1              0.941894
name_by_product_2
revenue_by_product_2             15938647070.77
cost_by_product_2                 3630302426.92
profit_by_product_2              12308344643.85
profit_ratio_by_product_2              0.772233
name_by_product_3
revenue_by_product_3               327511423.28
cost_by_product_3                  197355279.83
profit_by_product_3                130156143.45
profit_ratio_by_product_3              0.397409
name_by_product_4                          None
revenue_by_product_4                        NaN
cost_by_product_4                           NaN
profit_by_product_4                         NaN
profit_ratio_by_product_4                   NaN
name_by_product_5                          None
revenue_by_product_5                        NaN
cost_by_product_5                           NaN
profit_by_product_5                         NaN
profit_ratio_by_product_5                   NaN
name_by_district_1
revenue_by_district_1       119532752861.589996
cost_by_district_1                9558682149.59
profit_by_district_1             109974070712.0
profit_ratio_by_district_1             0.920033
name_by_district_2
revenue_by_district_2             4239579487.12
cost_by_district_2                 337431187.21
profit_by_district_2              3902148299.91
profit_ratio_by_district_2             0.920409
name_by_district_3
revenue_by_district_3              327511423.28
cost_by_district_3                 197355279.83
profit_by_district_3               130156143.45
profit_ratio_by_district_3             0.397409
name_by_district_4                         None
revenue_by_district_4                       NaN
cost_by_district_4                          NaN
profit_by_district_4                        NaN
profit_ratio_by_district_4                  NaN
name_by_district_5                         None
revenue_by_district_5                       NaN
cost_by_district_5                          NaN

### 3.2 Supplier & Customers

In [7]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_supplier_customer
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                           0
instrument                         600519.SH
date                     2023-03-31 00:00:00
report_date              2022-12-31 00:00:00
change_type                                0
margin_supplier_name_1
purchase_amount_1                        NaN
purchase_ratio_1                         NaN
total_purchase_amount_1         2238478800.0
total_purchase_ratio_1                 35.33
customer_name_1
sale_amount_1                            NaN
sale_ratio_1                             NaN
total_sale_amount_1            14158125700.0
total_sale_ratio_1                     11.44
margin_supplier_name_2
purchase_amount_2                        NaN
purchase_ratio_2                         NaN
total_purchase_amount_2         2238478800.0
total_purchase_ratio_2                 35.33
customer_name_2
sale_amount_2                            NaN
sale_ratio_2                             NaN
total_sale_amount_2            14158125700.0
total_sale_ratio_2                     11.44
margin_supplier_name_3
purchase_amount_3                        NaN
purchase_ratio_3                         NaN
total_purchase_amount_3         2238478800.0
total_purchase_ratio_3                 35.33
customer_name_3
sale_amount_3                            NaN
sale_ratio_3                             NaN
total_sale_amount_3            14158125700.0
total_sale_ratio_3                     11.44
margin_supplier_name_4
purchase_amount_4                        NaN
purchase_ratio_4                         NaN
total_purchase_amount_4         2238478800.0
total_purchase_ratio_4                 35.33
customer_name_4
sale_amount_4                            NaN
sale_ratio_4                             NaN
total_sale_amount_4            14158125700.0
total_sale_ratio_4                     11.44
margin_supplier_name_5
purchase_amount_5                        NaN
purchase_ratio_5                         NaN
total_purchase_amount_5         2238478800.0
total_purchase_ratio_5                 35.33
customer_name_5
sale_amount_5                            NaN
sale_ratio_5                             NaN
total_sale_amount_5            14158125700.0
total_sale_ratio_5                     11.44

### 3.3 Impairment Loss

In [8]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_impairment_loss
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                                  0
date                                            2023-03-31 00:00:00
instrument                                                600519.SH
report_date                                     2022-12-31 00:00:00
change_type                                                       0
bad_debt_loss                                                   NaN
inventory_price_dropped_loss                                    NaN
salesable_impairment_loss                                       NaN
held_to_maturity_impairment_loss                                NaN
long_term_equity_investment_impairment_loss                     NaN
invest_property_impairment_loss                                 NaN
fixed_assets_impairment_loss                                    NaN
engineering_material_impairment_loss                            NaN
construct_project_impairment_loss                               NaN
intangible_assets_impairment_loss                               NaN
goodwill_impairment_loss                                        NaN
other_impairment_loss                                   17485027.31
currency_impairment_loss                                        NaN
accounts_receivable_impairment_loss                      -415705.24
biils_receivable_impairment_loss                                NaN
long_term_receivable_impairment_loss                            NaN
debt_investment_impairment_loss                            119880.0
other_debt_investment_impairment_loss                           NaN
tradable_financial_assets_impairment_loss                       NaN
lending_fund_impairment_loss                                    NaN
financing_fund_impairment_loss                                  NaN
buy_resale_financial_assets_impairment_loss                     NaN
loans_and_payment_impairment_loss                               NaN
interbank_deposite_impairment_loss                              NaN
central_bank_deposite_impairment_loss                           NaN
noncurrent_assets_within_1year_impairment_loss                  NaN
financial_guarantee_contract_impairment_loss                    NaN
loan_commit_impairment_loss                                     NaN
wmp_impairment_loss                                             NaN
exchange_change_impairment_loss                                 NaN
margin_trading_impairment_loss                                  NaN
asset_impairment_loss_sum                                       NaN
credit_impairment_loss_sum                              14686546.25

### 3.4 Goodwill

In [9]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_goodwill
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                       0
date                 2023-03-31 00:00:00
instrument                     600519.SH
report_date          2022-12-31 00:00:00
change_type                            0
original_book_value                  NaN
impairment_amount                    NaN
book_value                           NaN

### 3.5 Income Tax

In [10]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_income_tax
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                         0
date                                   2023-03-31 00:00:00
instrument                                       600519.SH
report_date                            2022-12-31 00:00:00
change_type                                              0
current_income_tax                      23548077905.700001
income_tax_adjust_from_previous_years                  NaN
defer_income_tax                            -1221724924.27
other_tax                                              NaN
total_tax                                   22326352981.43
current_income_tax_mainland                            NaN
current_income_tax_hongkong                            NaN
current_income_tax_foreign                             NaN

### 3.6 Investment Income

In [11]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_investment_income
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                                      0
date                                                2023-03-31 00:00:00
instrument                                                    600519.SH
report_date                                         2022-12-31 00:00:00
change_type                                                           0
long_term_equity_investment_income_by_cost_method                   NaN
long_term_equity_investment_income_by_equity_me...                  NaN
invest_income_from_saling_long_term_equity_inve...                  NaN
invest_income_from_helding_financial_assets                         NaN
invest_income_from_helding_held_to_maturity                         NaN
invest_income_from_helding_salesable_assets                         NaN
invest_income_from_diposing_financial_assets                        NaN
invest_income_from_diposing_held_to_maturity                        NaN
invest_income_from_diposing_salesable_assets                        NaN
invest_income_from_other                                            NaN
total_invest_income                                                 NaN

### 3.7 Financial Expense

In [12]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_financial_expense
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                             0
date                       2023-03-31 00:00:00
instrument                           600519.SH
report_date                2022-12-31 00:00:00
change_type                                  0
interest_cost                      12023204.77
interest_cost_capitalized          12023204.77
interest_income                  3454115583.98
exchange_gain                              NaN
charge_free                                NaN
capitalized                                NaN
other                                      NaN
special                                    NaN

### 3.8 Non-recurring Gain & Loss

In [13]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_nonrecurring_gain_loss
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df().transpose()

                                                         0
date                                   2023-03-31 00:00:00
instrument                                       600519.SH
report_date                            2022-12-31 00:00:00
change_type                                              0
illiquid_assets                               -20567757.19
taxfree                                                NaN
government_grants                              14973304.55
occupancy_fee                                          NaN
fair_value_investment                                  NaN
non_monetary_asset_exchange                            NaN
manage_investment                                      NaN
force_impairment                                       NaN
debt_reorganization                                    NaN
enterprise_reorganization                              NaN
fair_value_trading                                     NaN
merge                                                  NaN
bussiness_unrelated                                    NaN
other_financial_income                                 NaN
reversal_of_impairment_reserve                         NaN
external_entruste_loan                                 NaN
invested_realestate_fair_value_change                  NaN
influence_after_adjustment                             NaN
trustee_fee                                            NaN
other_nonoperating_income                    -157251041.33
other_nonrecurring_items                        63840000.0
income_tax_impact                             -24751373.49
nonrecurring_income_to_owner                  -75428959.45
nonrecurring_income_to_minority                 1174838.97
nonrecurring_income_sum                       -74254120.48