# Chinese (Mainland) Stock Data - Financial Data - Original FS Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Financial Reports Change Data

In [2]:
dai.query("""
SELECT *
FROM cn_stock_financial_changedate
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
""", full_db_scan=True).df()

,instrument,report_date,changedate,statement_type
0,600519.SH,2022-12-31,"2023-03-31,2023-04-26,2023-08-03,2023-10-21,20...",balance_sheet
1,600519.SH,2022-12-31,"2023-03-31,2024-04-03",income
2,600519.SH,2022-12-31,"2023-03-31,2024-04-03",cash_flow

## 2. Financial Statements Data

### 2.1 Balance Sheet

In [3]:
dai.query("""
SELECT *
FROM cn_stock_financial_balance_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,fs_quarter_index,change_type,noncurr_liabilities_due_within_1y,noncurr_assets_due_within_1y,general_reserve,specific_reserve,specific_payables,fin_assets_purchased_under_resale,tradable_fin_liabilities,tradable_fin_assets,acting_trading_payables,underwriting_payables,fin_assets_by_fair_value,fin_assets_by_amortized_cost,preference_shares,right_of_use_assets,insurance_contract_reserves,debt_investments,preference_of_other_equity_instruments,other_debt_investments,other_payables,other_payables_sum,other_receivables,other_receivables_sum,other_equity_instruments,other_equity_investments,other_current_liabilities,other_current_assets,balance_othcom_income,other_noncurr_liabilities,other_noncurr_assets,other_noncurr_fin_assets,fin_assets_sold_under_resale,loans_and_advances,available_for_sale_fin_assets,contract_liabilities,contract_assets,borrowing_from_central_bank,deposits_from_banks_and_fin_instiutions,goodwill,fixed_assets,fixed_assets_sum,fixed_assets_disposal,construction_in_progress,construction_in_progress_sum,balance_translation_diff_of_foreign_currency,inventories,share_capital,minority_interests,project_materials,treasury_shares,taxes_and_levies_payable,bonds_payable,reinsurance_payables,interest_payable,fees_and_commissions_payable,shortterm_bonds_payable,notes_payable,notes_and_accounts_payable,employee_benefits_payable,dividends_payable,accounts_payable,premiums_receivable,receivable_reinsurance_contract_reserve,reinsurance_receivables,interest_receivable,receivables_financing,notes_receivable,notes_and_accounts_receivable,dividends_receivable,accounts_receivable,development_costs,total_equity_to_parent_shareholders,total_owner_equity,investment_property,loans_from_banks_and_fin_institutions,loans_to_banks_and_fin_institutions,liabilities_held_for_sale,assets_held_for_sale,held_to_maturity_invesments,intangible_assets,undistributed_profit,perpetual_bonds,oil_and_gas_assets,total_current_liabilities,totbal_diff_of_current_liabilities,spec_diff_of_current_liabilities,total_current_assets,totbal_diff_of_current_assets,spec_diff_of_current_assets,productive_biological_assets,surplus_reserve,shortterm_borrowings,lease_liabilities,settlment_reserves,spec_diff_of_shareholders_equity,totbal_diff_of_shareholders_equity,derivatives_fin_liabilities,derivatives_fin_assets,totbal_diff_of_liabilities_and_shareholder_equity,spec_diff_of_liabilities_and_shareholder_equity,total_liabilities,total_liabilities_and_owner_equity,totbal_diff_of_total_liabilities,spec_diff_of_total_liabilities,moneytary_assets,totbal_diff_of_total_assets,spec_diff_of_total_assets,total_assets,capital_reserves,deferred_tax_liabilities,deferred_tax_assets,deferred_income_current_liabilities,deferred_income_noncurr_liabilities,longterm_borrowings,longterm_payables,longterm_payables_sum,longterm_employee_benefits,longterm_receivables,longterm_prepaid_expense,longterm_equity_investments,total_noncurr_liabilities,totbal_diff_of_noncurr_liabilities,spec_diff_of_noncurr_liabilities,total_noncurr_assets,totbal_diff_of_noncurr_assets,spec_diff_of_noncurr_assets,prepayments,advances,provisions
0,2023-03-31,600519.SH,2022-12-31,4,0,1.093512e+08,2.123601e+09,1.061530e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.025515e+08,NaN,3.806853e+08,NaN,NaN,4.543843e+09,4.543843e+09,31818622.84,31818622.84,NaN,NaN,1.979273e+09,1.608437e+08,-10776907.33,NaN,NaN,NaN,NaN,4.134744e+09,NaN,1.547192e+10,NaN,NaN,1.287404e+10,NaN,1.974262e+10,1.974262e+10,NaN,2.208330e+09,2.208330e+09,NaN,3.882437e+10,1.256198e+09,7.458016e+09,NaN,NaN,6.896555e+09,NaN,NaN,NaN,NaN,NaN,NaN,2.408371e+09,4.782311e+09,NaN,2.408371e+09,NaN,NaN,NaN,NaN,NaN,105453212.0,126390356.0,NaN,20937144.0,190536632.6,1.975067e+11,2.049647e+11,5335046.99,NaN,1.161727e+11,NaN,NaN,NaN,7.083177e+09,1.613020e+11,NaN,NaN,4.906567e+10,NaN,NaN,2.166114e+11,NaN,NaN,NaN,3.252278e+10,NaN,3.344479e+08,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.940012e+10,2.543648e+11,NaN,NaN,5.827432e+10,NaN,NaN,2.543648e+11,1.374964e+09,NaN,3.458931e+09,NaN,NaN,NaN,NaN,0.0,NaN,NaN,146455346.9,NaN,3.344479e+08,NaN,NaN,3.775337e+10,NaN,NaN,8.973772e+08,NaN,NaN

### 2.2 Income Statement

In [4]:
dai.query("""
SELECT *
FROM cn_stock_financial_income_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,fs_quarter_index,change_type,continuing_operation_net_profit,discontinued_operation_net_profit,othcom_income_cannt_reclass,othcom_income_reclass,income_derecognition_of_fin_assets_at_amortized_cost,own_credit_risk_fair_value_chg,expense_on_policy_dividends,credit_impairment_loss,fair_value_chg_gain,other_cannt_reclass,other_reclass,credit_impairment_of_other_debt_investments,other_debt_investments_fair_value_chg,other_income,other_equity_instruments_fair_value_chg,income_othcom_income,net_profit,totbal_diff_of_net_profit,spec_diff_of_net_profit,net_income_of_open_hedge,reinsurance_premium_expense,interest_costs,interest_income,total_profit,totbal_diff_of_total_profit,spec_diff_of_total_profit,available_for_sale_fin_assets_fair_value_chg,eps_basic,income_translation_diff_of_foreign_currency,invest_income_of_jv_and_associates,net_profit_to_minority,insurance_premium_income,othcom_income_to_minority,net_profit_to_parent_shareholders,total_comprehensive_income_to_parent_shareholders,othcom_income_to_parent_shareholders,income_tax_expense,fee_and_commission_costs,fee_and_commission_income,invest_income,gains_or_losses_from_htm_to_afs,net_amount_of_insurance_reserve,othcom_income_cannt_reclass_under_equity_method,othcom_income_reclass_under_equity_method,exchange_gain,cashflow_hedge_reserve,effective_of_gains_or_losses_on_cashflow_hedge,research_and_development_expense,eps_diluted,taxes_and_levies,administrative_expense,total_comprehensive_income,operating_profit,totbal_diff_of_operating_profit,spec_diff_of_operating_profit,nonoperating_costs,nonoperating_income,total_operating_costs,totbal_diff_of_operating_costs,spec_diff_of_operating_costs,total_operating_revenue,totbal_diff_of_operating_revenue,spec_diff_of_operating_revenue,operating_costs,operating_revenue,finance_expense,fin_interest_income,fin_interest_expense,asset_impairment_loss,asset_disposal_income,net_insurance_claims_paid,surrenders,chg_by_remeasurements,othcom_income_from_reclass_of_fin_assets,selling_epense,noncurr_assets_dispose_gain,noncurr_assets_dispose_loss
0,2023-03-31,600519.SH,2022-12-31,4,0,6.537514e+10,NaN,NaN,2240973.45,NaN,NaN,NaN,14686546.25,NaN,NaN,NaN,NaN,NaN,24505353.83,NaN,2240973.45,6.537514e+10,NaN,NaN,NaN,NaN,1.055842e+08,3.454116e+09,8.770149e+10,NaN,NaN,NaN,49.93,2240973.45,NaN,2.658693e+09,NaN,NaN,6.271644e+10,6.271868e+10,2240973.45,2.232635e+10,143141.51,NaN,63840000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135185680.4,49.93,1.849582e+10,9.012191e+09,6.537738e+10,8.787952e+10,NaN,NaN,2.488843e+08,70852285.4,3.976300e+10,NaN,NaN,1.275540e+11,NaN,NaN,1.009347e+10,1.240998e+11,-1.391806e+09,1.475422e+09,12023204.77,NaN,213235.69,NaN,NaN,NaN,NaN,3.297724e+09,NaN,NaN

### 2.3 Cash Flow Statement

In [5]:
dai.query("""
SELECT *
FROM cn_stock_financial_cashflow_general_pit
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,fs_quarter_index,change_type,conv_corp_bonds_within_1y,netinc_in_insurance_deposits_and_invest,credit_impairment_loss_in_cashflow_sheet,debt_transfer_to_capital,cash_paid_for_debt_repayment,loss_from_fair_value_chg,others_in_cashflow_sheet,cash_paid_for_dividends_profits_interests,cash_received_from_bond_issue,cash_received_from_borrowings,cash_paid_by_acquiring_subsidiaries,return_on_investment,netinc_in_borrowings_from_central_bank,netinc_in_loans_from_other_fin_institutions,capital_contributions_received,netinc_in_repurchase_transactions,depreciation_of_fa_oga_pba,loss_from_scraping_of_fixed_assets,netinc_in_disposal_fin_assets,net_cash_received_from_disposal_filt_assets,loss_from_disposal_of_fa_ia_lta,net_cash_received_from_disposal_subsidiaries,cash_received_by_subsidiaries_from_minority,cash_paid_by_subsidiaries_to_minority,netinc_deposits_central_bank_interbank,decrease_in_inventories,netinc_in_deposits,netinc_in_loans_and_advances,invest_loss,cash_paid_for_investments,net_cffia,totbal_diff_of_net_cffia,spec_diff_of_net_cffia,subtotal_cifia,totbal_diff_of_cifia,spec_diff_of_cifia,subtotal_of_cofia,totbal_diff_of_cofia,spec_diff_of_cofia,netinc_in_loans_from_banks_and_fin_institutions,cash_paid_for_policy_dividends,cash_paid_for_other_investing,cash_paid_for_other_financing,other_cofoa,cash_paid_for_interests_fees_and_commissions,cash_paid_for_claims,cash_paid_for_taxes_and_levies,cash_paid_for_employees,cash_received_from_other_investing,cash_received_from_other_financing,cash_received_from_other_operating,net_cash_received_from_reinsurance,cash_received_from_premiums,taxes_and_levies_rebates,cash_received_from_interests_fess_and_commissions,cash_received_from_disposal_investments,amorization_of_intangible_assets,cce_beginning,cce_ending,effect_of_exchange_chg_on_cce,netinc_in_cce,net_profit_in_cashflow_sheet,finance_expenses_in_cashflow_sheet,cash_balance_beginning,cash_balance_ending,cce_balance_beginning,cce_balance_ending,totbal_diff_of_netinc_in_cce,spec_diff_of_netinc_in_cce,net_cfffa,totbal_diff_of_net_cfffa,spec_diff_of_net_cfffa,subtotal_ciffa,totbal_diff_of_ciffa,spec_diff_of_ciffa,subtotal_of_coffa,totbal_diff_of_coffa,spec_diff_of_coffa,increase_in_operating_payables,decrease_in_operating_receivables,net_cffoa,totbal_diff_of_net_cffoa,spec_diff_of_net_cffoa,subtotal_cifoa,totbal_diff_of_cifoa,spec_diff_of_cifoa,subtotal_cofoa,totbal_diff_of_cofoa,spec_diff_of_cofoa,fin_lease_fixed_assets,netinc_in_pledge_loans,cash_paid_for_goods_and_services,cash_paid_for_filt_assets,asset_impairment_reserve,increase_in_deferred_tax_liabilities,decrease_in_deferred_tax_assets,cash_received_from_sales_and_services,amortization_of_longterm_deferred_expenses,netinc_in_cce_indirect,totbal_diff_of_netinc_in_cce_indirect,spec_diff_of_netinc_in_cce_indirect,net_cffoa_indirect,totbal_diff_of_net_cffoa_indirect,spec_diff_of_net_cffoa_indirect
0,2023-03-31,600519.SH,2022-12-31,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.737020e+10,NaN,NaN,NaN,5880000.0,NaN,NaN,NaN,NaN,1.520946e+09,20780992.88,NaN,355149.0,-213235.69,NaN,NaN,2.618815e+09,1.303776e+10,-5.430009e+09,-8.916033e+09,723778672.0,-63840000.0,210000000.0,-5.536826e+09,0.0,NaN,11206911.18,NaN,NaN,5.548033e+09,NaN,NaN,NaN,NaN,NaN,54332788.37,5.123087e+09,79226410.98,NaN,NaN,1.175224e+10,4971762.18,NaN,2.759422e+09,NaN,NaN,33191912.56,3.247615e+09,NaN,156016278.9,1.786406e+11,1.523787e+11,911088.01,-2.626185e+10,6.537514e+10,12023204.77,1.786406e+11,1.523787e+11,NaN,NaN,NaN,NaN,-5.742453e+10,0.0,NaN,NaN,NaN,NaN,5.742453e+10,NaN,NaN,-8.644821e+09,-1.505187e+10,3.669860e+10,0.0,NaN,1.378159e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.357859e+09,5.306546e+09,NaN,NaN,-1.221725e+09,1.406917e+11,11487619.04,-2.626185e+10,NaN,NaN,3.669860e+10,NaN,NaN

## 3. Financial Reports Notes Data

### 3.1 Margin Business

In [6]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_margin_business
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,instrument,date,report_date,change_type,name_by_industry_1,revenue_by_industry_1,cost_by_industry_1,profit_by_industry_1,profit_ratio_by_industry_1,name_by_industry_2,revenue_by_industry_2,cost_by_industry_2,profit_by_industry_2,profit_ratio_by_industry_2,name_by_industry_3,revenue_by_industry_3,cost_by_industry_3,profit_by_industry_3,profit_ratio_by_industry_3,name_by_industry_4,revenue_by_industry_4,cost_by_industry_4,profit_by_industry_4,profit_ratio_by_industry_4,name_by_industry_5,revenue_by_industry_5,cost_by_industry_5,profit_by_industry_5,profit_ratio_by_industry_5,name_by_product_1,revenue_by_product_1,cost_by_product_1,profit_by_product_1,profit_ratio_by_product_1,name_by_product_2,revenue_by_product_2,cost_by_product_2,profit_by_product_2,profit_ratio_by_product_2,name_by_product_3,revenue_by_product_3,cost_by_product_3,profit_by_product_3,profit_ratio_by_product_3,name_by_product_4,revenue_by_product_4,cost_by_product_4,profit_by_product_4,profit_ratio_by_product_4,name_by_product_5,revenue_by_product_5,cost_by_product_5,profit_by_product_5,profit_ratio_by_product_5,name_by_district_1,revenue_by_district_1,cost_by_district_1,profit_by_district_1,profit_ratio_by_district_1,name_by_district_2,revenue_by_district_2,cost_by_district_2,profit_by_district_2,profit_ratio_by_district_2,name_by_district_3,revenue_by_district_3,cost_by_district_3,profit_by_district_3,profit_ratio_by_district_3,name_by_district_4,revenue_by_district_4,cost_by_district_4,profit_by_district_4,profit_ratio_by_district_4,name_by_district_5,revenue_by_district_5,cost_by_district_5
0,600519.SH,2023-03-31,2022-12-31,0,,1.237723e+11,9.896113e+09,1.138762e+11,0.920046,,3.275114e+08,1.973553e+08,1.301561e+08,0.397409,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,,1.078337e+11,6.265811e+09,1.015679e+11,0.941894,,1.593865e+10,3.630302e+09,1.230834e+10,0.772233,,3.275114e+08,1.973553e+08,1.301561e+08,0.397409,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,,1.195328e+11,9.558682e+09,1.099741e+11,0.920033,,4.239579e+09,3.374312e+08,3.902148e+09,0.920409,,3.275114e+08,1.973553e+08,1.301561e+08,0.397409,None,NaN,NaN,NaN,NaN,None,NaN,NaN

### 3.2 Supplier & Customers

In [7]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_supplier_customer
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,instrument,date,report_date,change_type,margin_supplier_name_1,purchase_amount_1,purchase_ratio_1,total_purchase_amount_1,total_purchase_ratio_1,customer_name_1,sale_amount_1,sale_ratio_1,total_sale_amount_1,total_sale_ratio_1,margin_supplier_name_2,purchase_amount_2,purchase_ratio_2,total_purchase_amount_2,total_purchase_ratio_2,customer_name_2,sale_amount_2,sale_ratio_2,total_sale_amount_2,total_sale_ratio_2,margin_supplier_name_3,purchase_amount_3,purchase_ratio_3,total_purchase_amount_3,total_purchase_ratio_3,customer_name_3,sale_amount_3,sale_ratio_3,total_sale_amount_3,total_sale_ratio_3,margin_supplier_name_4,purchase_amount_4,purchase_ratio_4,total_purchase_amount_4,total_purchase_ratio_4,customer_name_4,sale_amount_4,sale_ratio_4,total_sale_amount_4,total_sale_ratio_4,margin_supplier_name_5,purchase_amount_5,purchase_ratio_5,total_purchase_amount_5,total_purchase_ratio_5,customer_name_5,sale_amount_5,sale_ratio_5,total_sale_amount_5,total_sale_ratio_5
0,600519.SH,2023-03-31,2022-12-31,0,,NaN,NaN,2.238479e+09,35.33,,NaN,NaN,1.415813e+10,11.44,,NaN,NaN,2.238479e+09,35.33,,NaN,NaN,1.415813e+10,11.44,,NaN,NaN,2.238479e+09,35.33,,NaN,NaN,1.415813e+10,11.44,,NaN,NaN,2.238479e+09,35.33,,NaN,NaN,1.415813e+10,11.44,,NaN,NaN,2.238479e+09,35.33,,NaN,NaN,1.415813e+10,11.44

### 3.3 Impairment Loss

In [8]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_impairment_loss
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,bad_debt_loss,inventory_price_dropped_loss,salesable_impairment_loss,held_to_maturity_impairment_loss,long_term_equity_investment_impairment_loss,invest_property_impairment_loss,fixed_assets_impairment_loss,engineering_material_impairment_loss,construct_project_impairment_loss,intangible_assets_impairment_loss,goodwill_impairment_loss,other_impairment_loss,currency_impairment_loss,accounts_receivable_impairment_loss,biils_receivable_impairment_loss,long_term_receivable_impairment_loss,debt_investment_impairment_loss,other_debt_investment_impairment_loss,tradable_financial_assets_impairment_loss,lending_fund_impairment_loss,financing_fund_impairment_loss,buy_resale_financial_assets_impairment_loss,loans_and_payment_impairment_loss,interbank_deposite_impairment_loss,central_bank_deposite_impairment_loss,noncurrent_assets_within_1year_impairment_loss,financial_guarantee_contract_impairment_loss,loan_commit_impairment_loss,wmp_impairment_loss,exchange_change_impairment_loss,margin_trading_impairment_loss,asset_impairment_loss_sum,credit_impairment_loss_sum
0,2023-03-31,600519.SH,2022-12-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17485027.31,NaN,-415705.24,NaN,NaN,119880.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14686546.25

### 3.4 Goodwill

In [9]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_goodwill
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,original_book_value,impairment_amount,book_value
0,2023-03-31,600519.SH,2022-12-31,0,NaN,NaN,NaN

### 3.5 Income Tax

In [10]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_income_tax
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,current_income_tax,income_tax_adjust_from_previous_years,defer_income_tax,other_tax,total_tax,current_income_tax_mainland,current_income_tax_hongkong,current_income_tax_foreign
0,2023-03-31,600519.SH,2022-12-31,0,2.354808e+10,NaN,-1.221725e+09,NaN,2.232635e+10,NaN,NaN,NaN

### 3.6 Investment Income

In [11]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_investment_income
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,long_term_equity_investment_income_by_cost_method,long_term_equity_investment_income_by_equity_method,invest_income_from_saling_long_term_equity_investment,invest_income_from_helding_financial_assets,invest_income_from_helding_held_to_maturity,invest_income_from_helding_salesable_assets,invest_income_from_diposing_financial_assets,invest_income_from_diposing_held_to_maturity,invest_income_from_diposing_salesable_assets,invest_income_from_other,total_invest_income
0,2023-03-31,600519.SH,2022-12-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.7 Financial Expense

In [12]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_financial_expense
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,interest_cost,interest_cost_capitalized,interest_income,exchange_gain,charge_free,capitalized,other,special
0,2023-03-31,600519.SH,2022-12-31,0,12023204.77,12023204.77,3.454116e+09,NaN,NaN,NaN,NaN,NaN

### 3.8 Non-recurring Gain & Loss

In [13]:
dai.query("""
SELECT *
FROM cn_stock_financial_note_nonrecurring_gain_loss
WHERE report_date = '2022-12-31'
AND instrument = '600519.SH'
AND change_type = 0
""", full_db_scan=True).df()

,date,instrument,report_date,change_type,illiquid_assets,taxfree,government_grants,occupancy_fee,fair_value_investment,non_monetary_asset_exchange,manage_investment,force_impairment,debt_reorganization,enterprise_reorganization,fair_value_trading,merge,bussiness_unrelated,other_financial_income,reversal_of_impairment_reserve,external_entruste_loan,invested_realestate_fair_value_change,influence_after_adjustment,trustee_fee,other_nonoperating_income,other_nonrecurring_items,income_tax_impact,nonrecurring_income_to_owner,nonrecurring_income_to_minority,nonrecurring_income_sum
0,2023-03-31,600519.SH,2022-12-31,0,-20567757.19,NaN,14973304.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.572510e+08,63840000.0,-24751373.49,-75428959.45,1174838.97,-74254120.48