# Chinese (Mainland) Stock Index Data - Market Data - Price-Volume Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Index Price-Volume Data

### 1.1 Daily Price-Volume Record

In [2]:
dai.query("""
SELECT *
FROM cn_stock_index_bar1d
WHERE date = '2026-02-13'
AND instrument = '000300.SH'
""").df()

,date,instrument,name,pre_close,open,high,low,close,volume,amount,change,change_ratio
0,2026-02-13,000300.SH,沪深300,4719.578,4693.4106,4703.6332,4658.4038,4660.4056,189167756,4.528786e+11,-59.1724,-0.012538

### 1.2 Intraday Price-Volume Data

In [3]:
dai.query("""
SELECT *
FROM cn_stock_index_bar1m
WHERE date BETWEEN '2026-02-13 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND instrument = '000300.SH'
""").df()

,date,instrument,trading_day,open,close,high,low,volume,amount
0,2026-02-13 09:30:00,000300.SH,20260213,4719.58,4693.41,4719.58,4693.41,150802500,3.641498e+09
1,2026-02-13 09:31:00,000300.SH,20260213,4693.41,4685.50,4694.98,4685.50,484118200,1.214767e+10
2,2026-02-13 09:32:00,000300.SH,20260213,4684.63,4682.07,4684.74,4681.76,353092400,9.492951e+09
...,...,...,...,...,...,...,...,...,...
238,2026-02-13 14:58:00,000300.SH,20260213,4662.40,4663.20,4663.20,4662.40,12052000,2.907100e+08
239,2026-02-13 14:59:00,000300.SH,20260213,4663.20,4663.20,4663.20,4663.20,0,0.000000e+00
240,2026-02-13 15:00:00,000300.SH,20260213,4663.20,4660.41,4663.20,4660.41,289967000,6.147550e+09

## 2. Stock Concept Index Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM cn_stock_index_concept_bar1d
WHERE date = '2026-02-13'
AND instrument = '300013.BI'
""").df()

,date,instrument,name,pre_close,open,high,low,close,volume,amount,change,change_ratio,turn
0,2026-02-13,300013.BI,煤化工,2727.567,2712.708,2717.258,2677.761,2680.015,43100778.0,4.202964e+10,-47.552,-0.017434,0.012291