# Chinese (Mainland) Convertible Bond Data - Information Data - Bond Covenants

In [9]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Interest Terms

In [10]:
dai.query("""
SELECT *
FROM cn_cbond_interest
WHERE instrument = '127040.SZ'
""").df()

,instrument,nominal_interest_explain,compen_interest,compen_interest_explain,is_adjust_by_deposit_interest,isinterest_compensation,is_ic_include_current_interest
0,127040.SZ,"20210707-20220706,票面利率:0.2%;20220707-20230706,...",2.0833,在本次发行的可转换公司债券期满后五个交易日内，公司将按照债券面值的108%（含最后一期利...,否,是,是

## 2. Resale Terms

In [11]:
dai.query("""
SELECT *
FROM cn_cbond_resale
WHERE instrument = '127040.SZ'
""").df()

,date,instrument,cndtn_resale_price,cndtn_resale_sd,cndtn_resale_ed,relative_resale_period,resale_trigger_calc_mti,resale_trigger_calc_ti,resale_trigger_ratio,resale_trigger_price,resale_price,resale_audit_ad,resale_times_per_year,resale_interest_process,uncndtn_resale_period,uncndtn_resale_sd,uncndtn_resale_ed,uncndtn_resale_price,uncndtn_resale_clause,time_point_resalenum,add_resale_price_explain
0,NaT,127040.SZ,NaN,2025-07-07,2027-07-07,48.0,30.0,30.0,70.0,5.355,102.0,NaT,1.0,应计,,NaT,NaT,NaN,,NaN,面值加当期应计利息

## 3. Revise Terms

In [12]:
dai.query("""
SELECT *
FROM cn_cbond_revise
WHERE instrument = '127040.SZ'
""").df()

,date,instrument,is_special_down_correct_clause,end_date,down_correct_trigger_calc_mti,down_correct_trigger_calc_int,conversion_price_ratio,is_arith_avg_price,revise_extent,correct_times_limit
0,2021-07-07,127040.SZ,是,2027-07-07,30.0,15.0,85.0,否,NaN,不限

## 4. Redemption Terms

In [13]:
dai.query("""
SELECT *
FROM cn_cbond_redemption
WHERE instrument = '127040.SZ'
""").df()

,date,instrument,redemption_clause,redemption_price_explain,cndtn_redemption_price,maturity_redemption_price,cndtn_redemption_sd,cndtn_redemption_ed,redemption_stop_redemption_date,redemption_stop_transfer_date,issuer_capital_to_account_date,relative_redemption_period,redemption_times_per_year,redemption_triggercalc_mti,redemption_triggercalc_time_int,redemption_trigger_ratio,redemption_trigger_price,redemption_price,redemption_audit_ad,not_compulsory_redemp_indicative_date,not_compulsory_redemp_startdate,not_compulsory_redemp_enddate,interest_process,is_redemption_clause_of_time,time_point_redemption_num
0,NaT,127040.SZ,1、到期赎回条款在本次发行的可转换公司债券期满后五个交易日内，公司将按照债券面值的108...,面值加当期应计利息,NaN,108.0,2022-01-13,2027-07-06,NaT,NaT,2024-10-10,6.0,不限次数,30.0,15.0,130.0,9.945,102.0,NaT,NaT,NaT,NaT,应计,否,NaN

## 5. Conversion Terms

In [14]:
dai.query("""
SELECT *
FROM cn_cbond_conversion
WHERE instrument = '127040.SZ'
""").df()

,date,instrument,code,name,conversion_clause_price,trans_price_change_date,transfer_ratio,end_date,relative_tranfer_stock_period,is_compulsory_transfer,compulsory_transfer_date,compulsory_transfer_price,un_conversion_balance,un_conversion_ratio,conversion_price_adjust
0,2022-01-13,127040.SZ,127040,国泰转债,7.65,2023-05-31,13.071895,2027-07-06,6.0,否,NaT,NaN,3.986355e+09,87.469586,是