# Chinese (Mainland) Convertible Bond Data - Information Data - Bond Covenants

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Convertible Bond Basic Information

In [2]:
dai.query("""
SELECT *
FROM cn_cbond_basic_info
WHERE instrument = '127040.SZ'
""").df()

,instrument,name,stock_code,stock_name,list_date,delist_date,par_value,issue_term,issue_price,issue_total_amount,value_date,maturity_date,interest_rate_type,issue_interest_rate,credit_rating,credit_agent
0,127040.SZ,国泰转债,002091.SZ,江苏国泰,2021-08-10,NaT,100.0,6.0,100.0,4.557419e+09,2021-07-07,2027-07-07,累进利率,0.2,AA+,联合资信评估股份有限公司

## 2. Convertible Bond Coupon Rate

In [3]:
dai.query("""
SELECT *
FROM cn_cbond_coupon_rate_te
WHERE instrument = '127040.SZ'
""").df()

  instrument  rate_freq rate_start_date rate_end_date  coupon_rate
0  127040.SZ          1        20260707      20270706          2.0

## 3. Convertible Bond Issue & Repurchase & Conversion

### 3.1 Convertible Bond Issue

In [4]:
dai.query("""
SELECT *
FROM cn_cbond_issue_te
WHERE instrument = '127040.SZ'
""").df()

,instrument,ann_date,res_ann_date,plan_issue_size,issue_size,issue_price,issue_type,onl_code,onl_name,onl_date,onl_size,onl_pch_vol,onl_pch_num,onl_pch_excess,shd_ration_code,shd_ration_name,shd_ration_date,shd_ration_record_date,shd_ration_pay_date,shd_ration_price,shd_ration_ratio,shd_ration_size,offl_size
0,127040.SZ,20210703,20210713,NaN,45.5742,100.0,优先配售和网上定价,072091,国泰发债,20210707,15346271.0,8.844186e+10,NaN,5763.085,082091,国泰配债,20210707,20210706,20210707,100.0,2.9148,30050041.0,NaN

### 3.2 Convertible Bond Repurchase

In [5]:
dai.query("""
SELECT *
FROM cn_cbond_repurchase_bar1d_te
WHERE date > '2024-06-30'
AND instrument = '131800.SZ'
""").df()

,date,instrument,repo_maturity,pre_close,open,high,low,close,weight,weight_r,amount,num
0,2024-09-12,131800.SZ,R-003,1.875,1.835,1.98,1.805,1.855,1.864,NaN,156525.5,8981.0

### 3.3 Convertible Bond Conversion

In [6]:
dai.query("""
SELECT *
FROM cn_cbond_conversion_result_te
WHERE publish_date > '2015-01-01'
AND instrument = '113001.SH' 
""").df()

,instrument,bond_short_name,publish_date,end_date,issue_size,convert_price_initial,convert_price,convert_val,convert_vol,convert_ratio,acc_convert_val,acc_convert_vol,acc_convert_ratio,remain_size,total_shares
0,113001.SH,中行转债,2015-01-04,2014-12-30,4.000000e+10,3.88,2.62,1.512097e+08,57713621.0,0.378024,2.388152e+10,9.098412e+09,59.7038,1.611848e+10,2.882456e+11
1,113001.SH,中行转债,2015-01-06,2014-12-31,4.000000e+10,3.88,2.62,1.272226e+09,485572891.0,3.180565,2.515375e+10,9.583985e+09,62.8844,1.484625e+10,2.887311e+11
2,113001.SH,中行转债,2015-01-07,2015-01-05,4.000000e+10,3.88,2.62,8.178096e+08,312141071.0,2.044524,2.597156e+10,9.896126e+09,64.9289,1.402844e+10,2.890433e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,113001.SH,中行转债,2015-03-06,2015-03-04,4.000000e+10,3.88,2.62,1.800221e+09,687107373.0,4.500553,3.839294e+10,1.463711e+10,95.9823,1.607064e+09,2.937843e+11
40,113001.SH,中行转债,2015-03-09,2015-03-05,4.000000e+10,3.88,2.62,1.421347e+09,542498926.0,3.553368,3.981428e+10,1.517961e+10,99.5357,1.857173e+08,2.943268e+11
41,113001.SH,中行转债,2015-03-10,2015-03-06,4.000000e+10,3.88,2.62,1.598953e+08,61020059.0,0.399738,3.997418e+10,1.524063e+10,99.9354,2.582200e+07,2.943878e+11