# Chinese (Mainland) Economic Data - Financial Data - Money Supply Data

In [2]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

In [3]:
dai.query("""
SELECT *
FROM money_supply
""").df()

,month,m0,m0_mom,m0_yoy,m1,m1_mom,m1_yoy,m2,m2_mom,m2_yoy
0,200801,36673.15,20.8966,31.21,154872.59,1.5430,20.54,417846.17,3.5808,18.88
1,200802,32454.47,-11.5035,5.96,150177.88,-3.0313,18.95,421037.84,0.7638,17.39
2,200803,30433.07,-6.2284,11.12,150867.47,0.4592,17.97,423054.53,0.4790,16.19
...,...,...,...,...,...,...,...,...,...,...
213,202510,135478.14,-0.2468,10.60,1119962.73,-1.0157,6.20,3351312.31,-0.0733,8.20
214,202511,137369.38,1.3960,10.60,1128866.64,0.7950,4.90,3369890.52,0.5544,8.00
215,202512,141261.37,2.8332,10.20,1155146.50,2.3280,3.80,3402948.06,0.9810,8.50