# Chinese (Mainland) Convertible Bond Data - Market Data - Price-Volume Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Daily Price-Volume & Trading Data

### 1.1 Daily Trading Record

In [2]:
dai.query("""
SELECT *
FROM cn_cbond_instruments
WHERE date = '2026-02-13'
AND instrument = '127040.SZ'
""").df()

        date instrument  name
0 2026-02-13  127040.SZ  国泰转债

### 1.2 Post-Adjusted Price-Volume Data

In [3]:
dai.query("""
SELECT *
FROM cn_cbond_bar1d
WHERE date = '2026-02-13'
AND instrument = '127040.SZ'
""").df()

,date,instrument,pre_close,open,high,low,close,deal_number,volume,amount,name,stock_code
0,2026-02-13,127040.SZ,139.02,139.2,139.58,138.06,139.18,7258,403252,55943302.83,国泰转债,002091.SZ

## 2. Intraday Price-Volume & Trading Data

In [4]:
dai.query("""
SELECT *
FROM cn_cbond_bar1m
WHERE date BETWEEN '2026-02-13 00:00:00.000' AND '2026-02-13 23:59:59.999'
AND instrument = '127040.SZ'
""").df()

,date,instrument,pre_close,name,open,high,low,close,deal_number,volume,amount
0,2026-02-13 09:25:00,127040.SZ,139.020996,国泰转债,139.199997,139.199997,139.199997,139.199997,3,150,20880.00
1,2026-02-13 09:31:00,127040.SZ,139.020996,国泰转债,139.020996,139.020996,138.473999,138.656998,89,4290,594608.66
2,2026-02-13 09:32:00,127040.SZ,139.020996,国泰转债,138.720001,138.761993,138.427994,138.612000,52,1680,232818.21
...,...,...,...,...,...,...,...,...,...,...,...
238,2026-02-13 14:58:00,127040.SZ,139.020996,国泰转债,138.606995,138.606995,138.606995,138.606995,0,0,0.00
239,2026-02-13 14:59:00,127040.SZ,139.020996,国泰转债,138.606995,138.606995,138.606995,138.606995,0,0,0.00
240,2026-02-13 15:00:00,127040.SZ,139.020996,国泰转债,138.606995,139.179993,138.606995,139.179993,16,2100,292278.00