# Chinese (Mainland) Economic Data - GDP Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. GDP Data

### 1.1 GDP Data - Income Approach

#### 1.1.1 GDP Yearly Data - Income Approach

In [2]:
dai.query("""
SELECT *
FROM cn_macro_gdp_yearly
""").df()

,year,gni,gdp,primary_industry_added_value,secondary_industry_added_value,tertiary_industry_added_value,real_gdp_per_capita,primary_industry_pct,secondary_industry_pct,tertiary_industry_pct
0,2004,1.618402e+05,1.614154e+05,20904.324177,74284.976418,66650.860312,12486.944113,0.1292,0.4590,0.4118
1,2005,1.873189e+05,1.859989e+05,21806.721870,88082.178227,77430.003021,14368.031718,0.1164,0.4702,0.4134
2,2006,2.194385e+05,2.190285e+05,23317.006840,104359.227879,91762.240097,16737.995974,0.1063,0.4756,0.4182
...,...,...,...,...,...,...,...,...,...,...
17,2021,1.149237e+06,1.141231e+06,83216.450386,451544.081045,614476.447180,81369.974979,0.0724,0.3929,0.5347
18,2022,1.204724e+06,1.194401e+06,88207.000000,473789.900000,642727.100000,85310.000000,0.0732,0.3933,0.5335
19,2023,1.260582e+06,1.249991e+06,89755.200000,482588.500000,688238.400000,89358.000000,0.0712,0.3828,0.5460

In [3]:
dai.query("""
SELECT *
FROM cn_macro_gdp_index_yearly
""").df()

,year,gni,gdp,primary_industry_added,secondary_industry_added,tertiary_industry_added,real_gdp_per_capita,gni_1978,gdp_1978,primary_industry_added_1978,secondary_industry_added_1978,tertiary_industry_added_1978,real_gdp_per_capita_1978
0,2004,110.504757,110.113621,106.105020,111.145922,110.120036,109.461559,1086.173919,1089.031973,315.353840,1601.337401,1408.689812,803.421296
1,2005,110.900667,111.394592,105.073914,112.128391,112.357949,110.741375,1204.574117,1213.122721,331.354624,1795.553867,1582.774974,889.719791
2,2006,113.308799,112.720956,104.755278,113.450696,114.134209,112.093305,1364.888459,1367.443524,347.111459,2037.068351,1806.487702,997.316317
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,108.562224,108.448469,107.073796,108.674305,108.485871,108.351720,4319.735067,4350.039756,632.799736,6523.245955,6295.275284,2944.968537
18,2022,102.800000,103.000000,104.200000,102.600000,103.000000,103.000000,4440.000000,4478.400000,659.400000,6695.300000,6483.700000,3032.300000
19,2023,105.300000,105.200000,104.100000,104.700000,105.800000,105.400000,4673.900000,4713.500000,686.100000,7010.300000,6859.600000,3194.800000

#### 1.1.2 GDP Quarterly Data - Income Approach

In [4]:
dai.query("""
SELECT *
FROM cn_macro_gdp
""").df()

,quarter,gdp,primary_industry_gdp,secondary_industry_gdp,tertiary_industry_gdp,yoy,acc_gdp,acc_primary_industry_gdp,acc_secondary_industry_gdp,acc_tertiary_industry_gdp,acc_yoy,mom
0,2005A,41079.2,2884.0,18159.0,20036.2,111.2,41079.2,2884.0,18159.0,20036.2,111.2,NaN
1,2005B,45399.8,4438.6,21425.3,19536.0,111.1,86479.1,7322.6,39584.3,39572.2,111.2,NaN
2,2005C,48681.7,6527.7,22774.0,19379.9,110.9,135160.7,13850.3,62358.3,58952.1,111.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
77,2024B,328837.6,19010.1,124975.6,184851.9,104.7,633599.4,30468.8,233253.0,369877.5,105.0,0.9
78,2024C,341758.0,26894.8,123239.0,191624.2,104.6,975357.4,57363.6,356492.0,561501.8,104.8,1.3
79,2024D,373726.2,34050.3,135595.1,204080.8,105.4,1349083.5,91413.9,492087.1,765582.5,105.0,1.6

### 1.2 GDP Data - Expenditure Approach

In [5]:
dai.query("""
SELECT *
FROM cn_macro_gdp_expend_yearly
""").df()

,year,gdp_expend,gdp_final_consume_expend,gdp_household_expend,gdp_rural_household_expend,gdp_citizen_household_expend,gdp_gov_expend,gdp_gross_capital_format,gdp_gross_fixed_format,gdp_inventory_change,gdp_net_export,final_consume_rate,capital_format_rate
0,2004,1.613556e+05,89394.432491,65724.754970,19232.570139,46492.184832,23669.677520,67725.571382,63974.871382,3750.700000,4235.601294,55.402124,41.972866
1,2005,1.876575e+05,101872.525476,74153.706314,20911.957993,53241.748321,27718.819161,75575.964781,73852.005267,1723.959515,10209.053372,54.286400,40.273342
2,2006,2.195975e+05,115364.282244,82842.368079,22639.556613,60202.811466,32521.914165,87578.638531,84978.620461,2600.018070,16654.598823,52.534420,39.881433
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,1.145283e+06,619688.157888,438015.185719,92930.604605,345084.581115,181672.972169,495784.269651,482119.323778,13664.945873,29810.499702,54.107867,43.289240
18,2022,1.202471e+06,643827.835009,450468.101614,96562.224625,353905.876989,193359.733395,519793.238717,504834.643868,14958.594849,38849.896993,53.542069,43.227092
19,2023,1.258647e+06,701360.580321,493247.162881,NaN,NaN,208113.417441,530439.720526,521112.314738,9327.405788,26846.992707,55.700000,42.100000

## 2. GDP Sector & Industry Components

### 2.1 GDP Sector Components

In [6]:
dai.query("""
SELECT *
FROM cn_macro_gdp_industry_yearly
""").df()

,year,gdp,agro_added_value,industry_added_value,construction_added_value,sale_added_value,transport_added_value,hotel_added_value,financial_added_value,estate_added_value,others_added_value,agro_pct,industry_pct,construction_pct,sale_pct,transport_pct,hotel_pct,financial_pct,estate_pct,others_pct
0,2004,1.618402e+05,21410.734681,65774.896846,8720.499875,12455.797350,9306.456376,3664.827502,6600.192702,7152.112931,26754.642645,13.229556,40.641888,5.388341,7.696357,5.750400,2.264473,4.078217,4.419245,16.531523
1,2005,1.873189e+05,22416.234801,77958.312597,10400.457932,13968.529100,10668.771578,4195.716604,7486.030358,8482.711082,31742.139065,11.966883,41.617963,5.552274,7.457085,5.695513,2.239879,3.996409,4.528486,16.945508
2,2006,2.194385e+05,24036.361346,92235.796995,12450.103324,16533.429178,12186.250539,4792.585711,9972.284132,10320.870524,36910.793068,10.953577,42.032646,5.673619,7.534426,5.553379,2.184023,4.544456,4.703309,16.820566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,1.149237e+06,86994.785320,374545.576632,78741.184633,110147.046862,48423.874765,18026.931596,90308.698109,77215.869453,264833.011240,7.569786,32.590804,6.851606,9.584363,4.213567,1.568600,7.858144,6.718881,23.044247
18,2022,1.204724e+06,92576.800000,395043.700000,80766.000000,116294.100000,51076.900000,17755.000000,93285.300000,73766.100000,284160.200000,7.700000,32.800000,6.700000,9.700000,4.200000,1.500000,7.700000,6.100000,23.600000
19,2023,1.260582e+06,94462.600000,399103.100000,85691.100000,123072.400000,57819.800000,21023.600000,100676.600000,73722.700000,305010.200000,7.500000,31.700000,6.800000,9.800000,4.600000,1.700000,8.000000,5.800000,24.200000

In [7]:
dai.query("""
SELECT *
FROM cn_macro_gdp_industry_index_yearly
""").df()

,year,gdp,agro_added_value,industry_added_value,construction_added_value,sale_added_value,transport_added_value,hotel_added_value,financial_added_value,estate_added_value,others_added_value,gdp_1978,agro_added_value_1978,industry_added_value_1978,construction_added_value_1978,sale_added_value_1978,transport_added_value_1978,hotel_added_value_1978,financial_added_value_1978,estate_added_value_1978,others_added_value_1978
0,2004,110.113621,106.299247,111.553732,108.150194,106.567742,114.476882,112.339049,104.687860,105.843980,112.705149,1089.031973,319.244886,1669.064630,1123.175007,1002.332471,1108.754043,2175.315189,1978.220309,1661.381331,1605.769106
1,2005,111.394592,105.233407,111.646371,116.002637,113.026599,111.205063,112.260496,114.129737,112.125283,112.006286,1213.122721,335.952270,1863.450091,1302.912623,1132.902300,1232.990633,2442.019620,2257.737628,1862.828524,1798.562340
2,2006,112.720956,105.000549,112.928587,117.228093,119.463069,109.969858,112.568107,123.731721,115.365491,110.860796,1367.443524,352.751726,2104.367857,1527.379620,1353.399852,1355.918054,2748.935265,2793.537624,2149.061278,1993.900532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,108.448469,107.084545,110.376195,101.058679,110.967943,115.130431,115.563005,103.956719,103.512590,109.117779,4350.039756,656.177882,6716.846884,5243.600728,5608.719606,3996.133422,6150.208921,11338.403152,5249.143151,7385.221432
18,2022,103.000000,104.400000,102.700000,102.900000,102.500000,100.700000,97.200000,103.100000,96.100000,105.800000,4478.400000,685.000000,6894.900000,5398.200000,5747.600000,4024.400000,5975.100000,11685.500000,5045.600000,7815.000000
19,2023,105.200000,104.200000,104.200000,107.100000,106.200000,108.000000,114.500000,106.800000,98.700000,106.300000,4713.500000,713.700000,7185.800000,5779.200000,6104.200000,4344.800000,6843.800000,12475.000000,4978.900000,8305.000000

### 2.2 GDP Industry Components

In [8]:
dai.query("""
SELECT *
FROM cn_macro_industry_gdp_contribution_momentum_yearly
""").df()

,year,overall_contribution,primary_industry_contribution,secondary_industry_contribution,tertiary_industry_contribution,gdp_added,primary_industry_momentum,secondary_industry_momentum,tertiary_industry_momentum
0,2004,100.0,7.348221,51.815706,40.836072,10.113621,0.743171,5.240444,4.130006
1,2005,100.0,5.223253,50.513681,44.263066,11.394592,0.595168,5.755828,5.043596
2,2006,100.0,4.351760,49.720037,45.928203,12.720956,0.553586,6.324864,5.842506
...,...,...,...,...,...,...,...,...,...
17,2021,100.0,6.445976,38.854397,54.699627,8.448469,0.544586,3.282602,4.621281
18,2022,100.0,10.800000,33.900000,55.300000,3.000000,0.300000,1.000000,1.600000
19,2023,100.0,5.900000,33.900000,60.200000,5.200000,0.300000,1.800000,3.200000

## 3. GDP Demand Components

In [9]:
dai.query("""
SELECT *
FROM cn_macro_demand_gdp_contribution_momentum_yearly
""").df()

,year,final_consume_expend_contribution,final_consume_expend_momentum,gross_capital_format_contribution,gross_capital_format_momentum,net_export_contribution,net_export_momentum
0,2004,42.887563,4.337486,62.006901,6.271143,-4.894465,-0.495008
1,2005,56.819243,6.474321,33.116397,3.773478,10.064360,1.146793
2,2006,43.219631,5.497950,42.481185,5.404013,14.299184,1.818993
...,...,...,...,...,...,...,...
17,2021,58.261397,4.922196,19.813875,1.673969,21.924728,1.852304
18,2022,39.385127,1.162137,46.779060,1.380310,13.835813,0.408253
19,2023,82.513111,4.331608,28.917019,1.518028,-11.430130,-0.600036