# United States Data - Bond Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. US TBond Interest Rate

### 1.1 US TBond Short-Term Interest Rate

In [2]:
dai.query("""
SELECT *
FROM us_tbond_short_rate
WHERE date = '2024-07-01'
""").df()

,date,w4_bd,w4_ce,w8_bd,w8_ce,w13_bd,w13_ce,w26_bd,w26_ce,w52_bd,w52_ce
0,2024-07-01,5.28,5.38,5.27,5.39,5.24,5.38,5.12,5.33,4.87,5.12

### 1.2 US TBond Long-Term Interest Rate

#### 1.2.1 Long-Term Interest Rate Data

In [3]:
dai.query("""
SELECT *
FROM us_tbond_long_rate
WHERE date = '2024-07-01'
""").df()

        date   ltc   cmt  e_factor
0 2024-07-01  4.72  4.76       NaN

#### 1.2.2 Long-Term Real Interest Rate Data

In [4]:
dai.query("""
SELECT *
FROM us_tbond_real_long_rate_ave
WHERE date = '2024-07-01'
""").df()

        date  ltr_avg
0 2024-07-01     2.33

## 2. US TBond Yield Curve

### 2.1 US TBond Yield Data

In [5]:
dai.query("""
SELECT *
FROM us_tbond_interest_rate
WHERE date = '2024-07-01'
""").df()

,date,m1,m2,m3,m6,y1,y2,y3,y5,y7,y10,y20,y30
0,2024-07-01,5.48,5.48,5.47,5.37,5.1,4.77,4.58,4.44,4.45,4.48,4.76,4.64

### 2.2 US TBond Real Yield Data

In [6]:
dai.query("""
SELECT *
FROM us_tbond_real_interest_rate
WHERE date = '2024-07-01'
""").df()

        date    y5    y7   y10   y20   y30
0 2024-07-01  2.15  2.15  2.16  2.25  2.32