# United States Data - Stock Index Data

In [8]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. US & EU Stock Index Market Data

In [9]:
dai.query("""
SELECT *
FROM ea_stock_index_bar1d
WHERE date = '2026-02-12'
AND instrument = 'SPX.GI'
""").df()

,date,instrument,name,pre_close,open,high,low,close,volume,amount,change,change_ratio
0,2026-02-12,SPX.GI,标普500,6941.47,6957.54,6973.22,6824.04,6832.76,45295389,NaN,-108.71,-0.015661

## 2. US & EU Stock Index Component

In [10]:
dai.query("""
SELECT *
FROM us_stock_index_component
WHERE date = '2026-02-12'
AND instrument = 'SPX.GI'
""").df()

    instrument       date       name member_code member_name
0       SPX.GI 2026-02-12  标准普尔500指数      AAPL.O          苹果
1       SPX.GI 2026-02-12  标准普尔500指数      ABBV.N         艾伯维
2       SPX.GI 2026-02-12  标准普尔500指数      ABNB.O         爱彼迎
..         ...        ...        ...         ...         ...
500     SPX.GI 2026-02-12  标准普尔500指数       ZBH.N    齐默巴奥米特控股
501     SPX.GI 2026-02-12  标准普尔500指数      ZBRA.O        斑马技术
502     SPX.GI 2026-02-12  标准普尔500指数       ZTS.N          硕腾

[503 rows x 5 columns]