# United States Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. US Stock Basic Information

In [10]:
dai.query("""
SELECT *
FROM us_stock_basic_info
WHERE instrument = 'AAPL.O'
""").df()

,instrument,name,stock_varieties,list_date,delist_date,trade_market,list_sector,list_exchange
0,AAPL.O,苹果,海外普通股,1980-12-12,NaT,美国NASDAQ证券交易所,Nasdaq Global Select Market,美国NASDAQ证券交易所

## 2. US Stock Price-Volume & Trading Data

### 2.1 US Stock Trading Record

In [ ]:
dai.query("""
SELECT *
FROM us_stock_instruments
WHERE date = '2026-02-12'
AND instrument = 'AAPL.O'
""").df()

### 2.2 US Stock Price-Volume Data - Post-Adjusted

In [8]:
dai.query("""
SELECT *
FROM us_stock_bar1d
WHERE date = '2026-02-12'
AND instrument = 'AAPL.O'
""").df()

,instrument,date,chinese_name,pre_close,open,high,low,close,volume,change,change_ratio,amplitude,currency
0,AAPL.O,2026-02-12,苹果,275.5,275.59,275.72,260.18,261.73,81077229,-13.77,-4.998185,5.640653,美元

### 2.3 US Stock Price-Volume Data - Pre-Adjusted

In [11]:
dai.query("""
SELECT *
FROM us_stock_real_bar1d
WHERE date = '2026-02-12'
AND instrument = 'AAPL.O'
""").df()

,instrument,date,chinese_name,pre_close,open,high,low,close,volume,change,change_ratio,amplitude,currency
0,AAPL.O,2026-02-12,苹果,275.5,275.59,275.72,260.18,261.73,81077229,-13.77,-4.998185,5.640653,美元

## 3. US Stock Shares Data

In [12]:
dai.query("""
SELECT *
FROM us_stock_shares
WHERE date = '2026-02-12'
AND instrument = 'AAPL.O'
""").df()

,instrument,date,common_shares,float_shares,total_shares,depositary_receipt,depositary_receipt_stock_type,depositary_receipt_stock_ratio
0,AAPL.O,2026-02-12,1.468114e+10,1.468114e+10,1.468114e+10,NaN,,NaN

## 4. US Stock IPO Information

In [14]:
dai.query("""
SELECT *
FROM us_stock_ipo_info
WHERE instrument = 'AAPL.O'
""").df()

,instrument,ipo_announcement_date,ipo_listing_date,ipo_price,ipo_quantity,ipo_new_shares,holder_share_sale_num,ipo_total_funds_raised,ipo_issue_expenses,ipo_funds_raised,ipo_lead_underwriter
0,AAPL.O,1980-09-26,1980-12-12,22.0,4600000.0,4000000.0,600000.0,101200000.0,NaN,82800000.0,