# Chinese (Mainland) Stock Industry Data - Information Data - Basic Information

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Industry Information

In [2]:
dai.query("""
SELECT *
FROM cn_stock_industry
""").df()

,industry,industry_level1_name,industry_level1_code,industry_level2_name,industry_level2_code,industry_level3_name,industry_level3_code,industry_level4_code,industry_level4_name
0,hs2023,能源业,000000,石油及天然气,001000,油气生产商,001010,None,None
1,hs2023,能源业,000000,石油及天然气,001000,油气设备与服务,001020,None,None
2,hs2023,能源业,000000,煤炭,002000,煤炭,002010,None,None
...,...,...,...,...,...,...,...,...,...
957,sw2021,美容护理,770000,医疗美容,770300,医美耗材,770301,None,None
958,sw2021,美容护理,770000,医疗美容,770300,医美服务,770302,None,None
959,hs2023,综合企业,800000,综合企业,800000,综合企业,800010,None,None

## 2. Industry Classification Mapping

In [3]:
dai.query("""
SELECT *
FROM cn_stock_industry_index_mapper
""").df()

   industry_level1_code industry_level1_name index_level1_code kind
0                110000                 农林牧渔        801010.SWI   sw
1                220000                 基础化工        801030.SWI   sw
2                230000                   钢铁        801040.SWI   sw
..                  ...                  ...               ...  ...
28               750000                 石油石化        801960.SWI   sw
29               760000                   环保        801970.SWI   sw
30               770000                 美容护理        801980.SWI   sw

[31 rows x 4 columns]