# Chinese Hong Kong Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. CNHK Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM hk_stock_basic_info
WHERE instrument LIKE '%0700.HK%'
""").df()

,instrument,name,isin,used_name,corp_cn_name,corp_en_name,list_date,delist_date,found_date,fiscal_year_end,register_addr,list_exchange,lot,a_instrument,sector,subcat,hs_industry_level3_code,hs_industry_level3_name
0,00700.HK,腾讯控股,KYG875721634,,腾讯控股有限公司,Tencent Holdings Ltd.,2004-06-16,NaT,1999-11-23,12-31,开曼群岛,港交所,100,None,主板,股本证券,702020,电子商贸及互联网服务
1,80700.HK,腾讯控股-R,KYG875721899,,腾讯控股有限公司,Tencent Holdings Ltd.,2023-06-19,NaT,1999-11-23,12-31,开曼群岛,港交所,100,None,主板,股本证券,702020,电子商贸及互联网服务

## 2. CNHK Stock Price-Volume & Trading Data

### 2.1 CNHK Stock Trading Record

In [3]:
dai.query("""
SELECT *
FROM cnhk_stock_instruments
WHERE date = '2025-06-30'
AND instrument LIKE '%0700.HK%'
""").df()

  instrument       date  name
0    0700.HK 2025-06-30  腾讯控股

### 2.2 CNHK Stock Price-Volume Data - Post-Adjusted

In [4]:
dai.query("""
SELECT *
FROM cnhk_stock_bar1d
WHERE date = '2025-06-30'
AND instrument LIKE '%0700.HK%'
""").df()

,instrument,date,name,pre_close,open,high,low,close,volume,amount,change,change_ratio,turn
0,0700.HK,2025-06-30,腾讯控股,513.0,509.0,511.5,503.0,503.0,18464531,9.333594e+09,-10.0,-1.949318,0.002012

### 2.3 CNHK Stock Price-Volume Data - Pre-Adjusted

In [5]:
dai.query("""
SELECT *
FROM hk_stock_real_bar1d
WHERE date = '2025-06-30'
AND instrument LIKE '%0700.HK%'
""").df()

,date,instrument,name,pre_close,open,close,high,low,volume,amount,change,change_ratio,turn
0,2025-06-30,00700.HK,腾讯控股,513.0,509.0,503.0,511.5,503.0,18464531,9.333594e+09,-10.0,-0.0195,0.002

## 2.4 CNHK Stock Price Comparison - Chinese Mainland vs Chinese Hong Kong

In [6]:
dai.query("""
SELECT *
FROM hk_stock_ah_midpoint
WHERE date = '2025-06-30'
AND name LIKE '%平安%'
""").df()

,date,instrument,name,close,a_instrument,a_name,a_close,a2h_ratio,premium
0,2025-06-30,02318.HK,中国平安,49.85,601318.SH,XD中国平,55.48,1.22,22.04

## 3. CNHK Stock Shares Data

In [7]:
dai.query("""
SELECT *
FROM hk_stock_shares
WHERE date = '2025-06-30'
AND instrument LIKE '%0700.HK%'
""").df()

,date,instrument,total_shares,common_shares,float_shares,free_float_shares
0,2025-06-30,00700.HK,9.176263e+09,9.176263e+09,9.161520e+09,6.156205e+09

## 4. CNHK Stock Connect Data

### 4.1 CNHK Stock Connect Component

In [8]:
dai.query("""
SELECT *
FROM cn_stock_hsgt_components
WHERE date = '2025-06-30'
""").df()

           date instrument  name
0    2025-06-30  000001.SZ  平安银行
1    2025-06-30  000002.SZ   万科A
2    2025-06-30  000006.SZ  深振业A
...         ...        ...   ...
3454 2025-06-30  688800.SH   瑞可达
3455 2025-06-30  688819.SH  天能股份
3456 2025-06-30  688981.SH  中芯国际

[3457 rows x 3 columns]

### 4.2 CNHK Stock Connect Deals Data

In [9]:
dai.query("""
SELECT *
FROM cn_stock_ggt_deal_count
WHERE date = '2024-07-02'
""").df()

        date  buy_amount  buy_volume  sell_amount  sell_volume
0 2024-07-02      126.95        29.9        105.8        26.81

### 4.3 CNHK Stock Connect Top 10 Shares

#### 4.3.1 CNHK Stock Connect Top 10 Shares - Hong Kong

In [10]:
dai.query("""
SELECT *
FROM cn_stock_ggt_top10_TS_raw
WHERE date = '2024-07-04'
""").df()

,date,instrument,name,close,p_change,rank,market_type,amount,net_amount,sh_amount,sh_net_amount,sh_buy,sh_sell,sz_amount,sz_net_amount,sz_buy,sz_sell
0,2024-07-04,00020.HK,商汤-W,1.61,-0.6173,9,港股通(沪),NaN,NaN,3.864120e+08,NaN,233200760.0,1.532113e+08,NaN,NaN,7.998950e+07,NaN
1,2024-07-04,00386.HK,中国石油化工股份,5.40,2.6616,7,港股通(深),NaN,NaN,NaN,NaN,NaN,NaN,411572680.0,321918760.0,3.667457e+08,44826960.0
2,2024-07-04,00700.HK,腾讯控股,382.40,0.7907,4,港股通(深),NaN,NaN,NaN,NaN,NaN,NaN,707581580.0,-184408420.0,2.615866e+08,445995000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,2024-07-04,02015.HK,理想汽车-W,80.80,3.9228,10,港股通(深),NaN,NaN,NaN,NaN,NaN,NaN,266107306.0,-10379316.0,1.278640e+08,138243311.0
10,2024-07-04,02800.HK,盈富基金,18.51,0.5978,1,港股通(沪),NaN,NaN,1.091789e+09,NaN,16575410.0,1.075214e+09,NaN,NaN,-1.058639e+09,NaN
11,2024-07-04,03690.HK,美团-W,119.70,2.2203,5,港股通(深),NaN,NaN,NaN,NaN,NaN,NaN,664253331.0,-100677851.0,2.817877e+08,382465591.0

#### 4.3.2 CNHK Stock Connect Top 10 Shares - Shanghai & Shenzhen

In [11]:
dai.query("""
SELECT *
FROM cn_stock_hsgt_top10_TS_raw
WHERE date = '2024-07-04'
""").df()

,date,instrument,name,close,change,rank,market_type,amount,net_amount,buy,sell
0,2024-07-04,000333.SZ,美的集团,64.60,2.4909,5,SZ,626876801.0,272093929.0,449485365.0,177391436.0
1,2024-07-04,000651.SZ,格力电器,38.02,-0.2885,7,SZ,568406862.0,-283661354.0,142372754.0,426034108.0
2,2024-07-04,002050.SZ,三花智控,20.18,5.5439,8,SZ,498695575.0,198414179.0,348554877.0,150140698.0
...,...,...,...,...,...,...,...,...,...,...,...
17,2024-07-04,601888.SH,中国中免,64.75,-4.7514,7,SH,443950049.0,80260617.0,262105333.0,181844716.0
18,2024-07-04,601899.SH,紫金矿业,18.17,1.5651,5,SH,640499212.0,-81882568.0,279308322.0,361190890.0
19,2024-07-04,603501.SH,韦尔股份,97.87,0.4207,6,SH,528296562.0,-48077716.0,240109423.0,288187139.0

## 5. CNHK Stock Warrants

### 5.1 CNHK Stock Warrants Basic Information

In [12]:
dai.query("""
SELECT *
FROM hk_warrants_basic_info
-- WHERE date = '2024-07-04'
WHERE name LIKE '%腾讯花旗五五%'
""").df()

,instrument,name,issuer,stock_code,type,lot,strike_price,strike_price_ccy,issue_total,issue_price,issue_ccy,entitlement_ratio,launch_date,settle_start_date,list_date,last_trade_date,expiry_date
0,13024.HK,腾讯花旗五五购B,CT,00700,认购,10000.0,424.19,HKD,90000000.0,0.15,HKD,100.0,2025-01-07,2025-01-09,2025-01-10,2025-05-23,2025-05-29
1,28874.HK,腾讯花旗五五购A,CT,00700,认购,10000.0,520.50,HKD,100000000.0,0.15,HKD,100.0,2024-10-31,2024-11-04,2024-11-05,2025-05-20,2025-05-26

In [13]:
dai.query("""
SELECT *
FROM hk_warrants_instruments
WHERE date = '2025-03-31'
AND name LIKE '%腾讯花旗五五%'
""").df()

        date instrument      name
0 2025-03-31   13024.HK  腾讯花旗五五购B
1 2025-03-31   28874.HK  腾讯花旗五五购A