# Chinese (Mainland) Industry Data - Gold Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

# 1. Gold Spot Price

In [2]:
dai.query("""
SELECT *
FROM au_spot_latest_price
WHERE date = '2026-02-13'
""").df()

        date            spec brand_or_origin    price  trader
0 2026-02-13  Au不小于(%):99.99              上海  1108.30  上海黄金现货
1 2026-02-13  Au不小于(%):99.99              上海  1109.43    上海黄金

## 2. Gold Price Statistics

In [5]:
dai.query("""
SELECT *
FROM au_annual_statistics
WHERE date >= '2025-05-01'
""").df()

,date,price,change,yearly_position,high,low,median,top_diff,bottom_diff,avrage,alert
0,2025-05-06,780.65,7.8065,高位,543.79,828.26,686.03,-47.61,236.86,620.85,1年超涨 2年超涨 3年超涨
1,2025-05-05,780.65,7.8065,高位,543.79,828.26,686.03,-47.61,236.86,620.21,1年超涨 2年超涨 3年超涨
2,2025-05-02,780.65,7.8065,高位,543.79,828.26,686.03,-47.61,236.86,618.30,1年超涨 2年超涨 3年超涨
3,2025-05-01,780.65,7.8065,高位,543.79,828.26,686.03,-47.61,236.86,617.67,1年超涨 2年超涨 3年超涨