# FF5 Stock Factors

In [8]:
import dai
import pandas as pd

In [9]:
sd = '2023-01-01'
ed = '2024-01-01'

## 1. FF5 Stock Factors SQL

In [10]:
def get_ff5_sql(sql_base):
    sql = f"""--sql
    WITH
    data1 AS (
        {sql_base}
    ),

    data_mkt AS (
        SELECT DISTINCT
            date,
            c_sum(float_market_cap * change_ratio) / c_sum(float_market_cap) AS MKT
        FROM data1
    ),

    hv AS (
        WITH hv0 AS (
            SELECT
                date,
                instrument,
                change_ratio,
                float_market_cap,
                c_pct_rank(float_market_cap) AS rank_sb,
                c_pct_rank(bp_ratio)         AS rank_lmh,
                CASE WHEN rank_sb < 0.5 THEN 1 ELSE 2 END AS group_sb,
                CASE
                    WHEN rank_lmh < 0.3 THEN 1
                    WHEN rank_lmh > 0.7 THEN 3
                    ELSE 2
                END AS group_lmh
            FROM data1
        ),
        SL AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SL
            FROM hv0 WHERE group_sb=1 AND group_lmh=1
        ),
        SM_v AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SM_v
            FROM hv0 WHERE group_sb=1 AND group_lmh=2
        ),
        SH AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SH
            FROM hv0 WHERE group_sb=1 AND group_lmh=3
        ),
        BL AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BL
            FROM hv0 WHERE group_sb=2 AND group_lmh=1
        ),
        BM_v AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BM_v
            FROM hv0 WHERE group_sb=2 AND group_lmh=2
        ),
        BH AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BH
            FROM hv0 WHERE group_sb=2 AND group_lmh=3
        )
        SELECT
            SL.date AS date,
            (1/3)*(SL + SM_v + SH) - (1/3)*(BL + BM_v + BH) AS SMB_HML,
            (1/2)*(SH + BH)        - (1/2)*(SL + BL)        AS HML
        FROM SL
        JOIN SM_v USING(date)
        JOIN SH   USING(date)
        JOIN BL   USING(date)
        JOIN BM_v USING(date)
        JOIN BH   USING(date)
    ),
    hp AS (
        WITH hp0 AS (
            SELECT
                date,
                instrument,
                change_ratio,
                float_market_cap,
                c_pct_rank(float_market_cap) AS rank_sb,
                c_pct_rank(prof_ratio)       AS rank_wmr,
                CASE WHEN rank_sb < 0.5 THEN 1 ELSE 2 END AS group_sb,
                CASE
                    WHEN rank_wmr < 0.3 THEN 1
                    WHEN rank_wmr > 0.7 THEN 3
                    ELSE 2
                END AS group_wmr
            FROM data1
            QUALIFY prof_ratio IS NOT NULL
        ),
        SW AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SW
            FROM hp0 WHERE group_sb=1 AND group_wmr=1
        ),
        SM_p AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SM_p
            FROM hp0 WHERE group_sb=1 AND group_wmr=2
        ),
        SR AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SR
            FROM hp0 WHERE group_sb=1 AND group_wmr=3
        ),
        BW AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BW
            FROM hp0 WHERE group_sb=2 AND group_wmr=1
        ),
        BM_p AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BM_p
            FROM hp0 WHERE group_sb=2 AND group_wmr=2
        ),
        BR AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BR
            FROM hp0 WHERE group_sb=2 AND group_wmr=3
        )
        SELECT
            SW.date AS date,
            (1/3)*(SW + SM_p + SR) - (1/3)*(BW + BM_p + BR) AS SMB_RMW,
            (1/2)*(SR + BR)        - (1/2)*(SW + BW)        AS RMW
        FROM SW
        JOIN SM_p USING(date)
        JOIN SR   USING(date)
        JOIN BW   USING(date)
        JOIN BM_p USING(date)
        JOIN BR   USING(date)
    ),
    hi AS (
        WITH hi0 AS (
            SELECT
                date,
                instrument,
                change_ratio,
                float_market_cap,
                c_pct_rank(float_market_cap) AS rank_sb,
                c_pct_rank(inv_ratio)        AS rank_cma,
                CASE WHEN rank_sb < 0.5 THEN 1 ELSE 2 END AS group_sb,
                CASE
                    WHEN rank_cma < 0.3 THEN 1
                    WHEN rank_cma > 0.7 THEN 3
                    ELSE 2
                END AS group_cma
            FROM data1
            QUALIFY inv_ratio IS NOT NULL
        ),
        SC AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SC
            FROM hi0 WHERE group_sb=1 AND group_cma=1
        ),
        SM_i AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SM_i
            FROM hi0 WHERE group_sb=1 AND group_cma=2
        ),
        SA AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS SA
            FROM hi0 WHERE group_sb=1 AND group_cma=3
        ),
        BC AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BC
            FROM hi0 WHERE group_sb=2 AND group_cma=1
        ),
        BM_i AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BM_i
            FROM hi0 WHERE group_sb=2 AND group_cma=2
        ),
        BA AS (
            SELECT DISTINCT date, c_sum(float_market_cap*change_ratio)/c_sum(float_market_cap) AS BA
            FROM hi0 WHERE group_sb=2 AND group_cma=3
        )
        SELECT
            SC.date AS date,
            (1/3)*(SC + SM_i + SA) - (1/3)*(BC + BM_i + BA) AS SMB_CMA,
            (1/2)*(SC + BC)        - (1/2)*(SA + BA)        AS CMA
        FROM SC
        JOIN SM_i USING(date)
        JOIN SA   USING(date)
        JOIN BC   USING(date)
        JOIN BM_i USING(date)
        JOIN BA   USING(date)
    ),

    data_ff5 AS (
        SELECT
            m.date,
            m.MKT,
            (hv.SMB_HML + hp.SMB_RMW + hi.SMB_CMA) / 3 AS SMB,
            hv.HML,
            hp.RMW,
            hi.CMA
        FROM data_mkt m
        JOIN hv USING(date)
        JOIN hp USING(date)
        JOIN hi USING(date)
        QUALIFY COLUMNS(*) IS NOT NULL
    )
    SELECT *
    FROM data_ff5
    ORDER BY date
    """
    return sql

## 2. FF5 Factors

### 2.1 FF5 Daily

In [11]:
sql_ff5_base_daily = f"""--sql
SELECT
    date,
    instrument,
    change_ratio,
    float_market_cap,
    1 / pb                     AS bp_ratio,
    net_profit_rate_lf         AS prof_ratio,
    invested_capital_lf_yoy    AS inv_ratio
FROM cn_stock_prefactors
WHERE instrument NOT LIKE '%BJ%'
"""

sql_ff5_daily = get_ff5_sql(sql_ff5_base_daily)

In [12]:
df_ff5_daily = dai.query(sql_ff5_daily, filters={"date":[sd, ed]}).df()
df_ff5_daily

          date       MKT       SMB       HML       RMW       CMA
0   2023-01-03  0.010998  0.015268 -0.004603 -0.003603  0.002195
1   2023-01-04  0.002176  0.004357  0.008139 -0.003562  0.007957
2   2023-01-05  0.013000 -0.008526 -0.014943  0.009229 -0.013476
3   2023-01-06  0.001170 -0.003763 -0.006305  0.008799 -0.010890
4   2023-01-09  0.006535 -0.000008 -0.004306  0.000809 -0.000520
..         ...       ...       ...       ...       ...       ...
237 2023-12-25  0.002003 -0.008841 -0.005550  0.003849 -0.004892
238 2023-12-26 -0.008222 -0.005391  0.005306  0.002695 -0.001564
239 2023-12-27  0.005632  0.002380 -0.001444 -0.000445 -0.000001
240 2023-12-28  0.017699  0.001538 -0.008186  0.000559 -0.009065
241 2023-12-29  0.008601  0.008788 -0.009785 -0.003318  0.001459

[242 rows x 6 columns]

### 2.2 FF5 Weekly

In [13]:
sql_ff5_base_weekly = """
WITH 
data_orgn AS (
    SELECT
        date,
        instrument,
        close,
        float_market_cap,
        pb,
        net_profit_rate_lf,
        invested_capital_lf_yoy
    FROM cn_stock_prefactors
),

data_freq AS (
    WITH 
    data_temp_1 AS (
        SELECT
            instrument,
            CONCAT(CAST(year(date) AS CHAR), CAST(week(date) AS CHAR)) AS period,

            FIRST_VALUE(date) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS date,

            LAST_VALUE(close) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS close,

            LAST_VALUE(float_market_cap) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS float_market_cap,

            LAST_VALUE(pb) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS pb,

            LAST_VALUE(net_profit_rate_lf) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS prof_ratio,

            LAST_VALUE(invested_capital_lf_yoy) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS inv_ratio,

            ROW_NUMBER() OVER (PARTITION BY period, instrument ORDER BY date DESC) AS rn
        FROM data_orgn
    ),

    data_temp_2 AS (
        SELECT
            date,
            instrument,
            close,
            LAG(close) OVER (PARTITION BY instrument ORDER BY period) AS close_w_lag_1,
            float_market_cap,
            pb,
            prof_ratio,
            inv_ratio
        FROM data_temp_1
        WHERE rn = 1
    )

    SELECT
        date,
        instrument,
        close / close_w_lag_1 - 1 AS change_ratio,
        float_market_cap,
        1 / pb AS bp_ratio,
        prof_ratio,
        inv_ratio
    FROM data_temp_2
)

SELECT
    date,
    instrument,
    change_ratio,
    float_market_cap,
    bp_ratio,
    prof_ratio,
    inv_ratio
FROM data_freq
WHERE instrument NOT LIKE '%BJ%'
ORDER BY date, instrument
"""

sql_ff5_weekly = get_ff5_sql(sql_ff5_base_weekly)

In [14]:
df_ff5_weekly = dai.query(sql_ff5_weekly, filters={"date":[sd, ed]}).df()
df_ff5_weekly

         date       MKT       SMB       HML       RMW       CMA
0  2023-01-09  0.035558 -0.019914 -0.155243  0.028188 -0.085519
1  2023-01-16  0.079507 -0.044459 -0.200385  0.037787 -0.041075
2  2023-01-30  0.200125 -0.144454 -0.271747  0.081416 -0.186072
3  2023-02-06  0.192790 -0.129297 -0.248397  0.047756 -0.156018
4  2023-02-13 -0.012301 -0.004072  0.004109 -0.001559  0.008417
5  2023-02-20  0.011990 -0.002575  0.009568  0.001360  0.003584
6  2023-02-27  0.015465 -0.012781  0.013716 -0.011732  0.017328
7  2023-03-06  0.035022  0.028906 -0.010232 -0.022253  0.037287
8  2023-03-13  0.002497 -0.019434  0.012719 -0.010587  0.015878
9  2023-03-20  0.017927  0.001601 -0.021531 -0.005032 -0.001781
10 2023-03-27  0.005481 -0.019462 -0.017358  0.003695 -0.002640
11 2023-04-03  0.018755 -0.017242 -0.017227 -0.000361 -0.003837
12 2023-04-10  0.000302 -0.002513  0.013119  0.003326 -0.002348
13 2023-04-17 -0.015742 -0.032463  0.011906  0.016939  0.000443
14 2023-04-24  0.006717 -0.002373  0.011324  0.021052  0.015305
15 2023-05-04  0.001946 -0.002526  0.024003  0.010820  0.019580
16 2023-05-08 -0.014596  0.006269  0.004305 -0.002141 -0.002653
17 2023-05-15  0.065228 -0.035671 -0.030684  0.018596  0.075332
18 2023-05-22 -0.015936  0.018479 -0.017722  0.003431 -0.006791
19 2023-05-29  0.010675 -0.006192 -0.007997 -0.019799  0.016972
20 2023-06-05 -0.002509 -0.008261  0.007836  0.000378  0.016075
21 2023-06-12  0.028601 -0.008304 -0.048029 -0.001259 -0.006255
22 2023-06-19 -0.019792  0.002436 -0.012240 -0.002650 -0.006925
23 2023-06-26  0.006282  0.022728  0.015516  0.003955 -0.003019
24 2023-07-03 -0.001599 -0.000434  0.010394 -0.010822  0.010187
25 2023-07-10  0.017516 -0.010766 -0.009387  0.007444 -0.000934
26 2023-07-17 -0.015840 -0.003115  0.017579 -0.002747  0.010720
27 2023-07-24  0.064527 -0.039669  0.000150  0.024694  0.119093
28 2023-07-31  0.008159 -0.009625 -0.008930 -0.012088  0.008244
29 2023-08-07 -0.030673  0.007708 -0.005681  0.005106 -0.002236
30 2023-08-14 -0.019412  0.014272  0.009062  0.005041  0.004241
31 2023-08-21 -0.023463 -0.017986  0.001443  0.011075  0.002239
32 2023-08-28  0.029543  0.023956 -0.029608 -0.002005 -0.003757
33 2023-09-04 -0.004933  0.007032 -0.000720 -0.011105  0.004038
34 2023-09-11 -0.002678 -0.010812  0.016082 -0.002416  0.009328
35 2023-09-18  0.005691 -0.001907 -0.001422  0.003500  0.005394
36 2023-09-25 -0.004368  0.013318 -0.008804  0.003146 -0.005451
37 2023-10-09 -0.002945 -0.009810 -0.014451 -0.014675  0.000775
38 2023-10-16 -0.038140 -0.004246  0.018171 -0.001654  0.007973
39 2023-10-23  0.019363  0.015914 -0.014298 -0.003101 -0.001064
40 2023-10-30  0.007824  0.009879 -0.025192 -0.005789  0.006725
41 2023-11-06  0.008389  0.014163 -0.016131 -0.007154  0.002331
42 2023-11-13  0.007938  0.018254 -0.012111 -0.015863  0.004859
43 2023-11-20 -0.005242 -0.000734  0.015122 -0.000750  0.012272
44 2023-11-27 -0.003598  0.009145 -0.013436 -0.000863  0.004616
45 2023-12-04 -0.019584 -0.011273 -0.007215 -0.006604  0.004150
46 2023-12-11 -0.017624 -0.002074 -0.072609  0.012241  0.078312
47 2023-12-18 -0.012320 -0.015289 -0.001841  0.020873 -0.016143
48 2023-12-25  0.025157 -0.001123 -0.018981  0.003279 -0.013926

### 2.3 FF5 Monthly

In [15]:
sql_ff5_base_monthly = """
WITH 
data_orgn AS (
    SELECT
        date,
        instrument,
        close,
        float_market_cap,
        pb,
        net_profit_rate_lf,
        invested_capital_lf_yoy
    FROM cn_stock_prefactors
),
data_freq AS (
    WITH 
    data1 AS (
        SELECT
            instrument,
            CONCAT(CAST(year(date) AS CHAR), CAST(month(date) AS CHAR)) AS period,

            FIRST_VALUE(date) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS date,

            LAST_VALUE(close) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS close,

            LAST_VALUE(float_market_cap) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS float_market_cap,

            LAST_VALUE(pb) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS pb,

            LAST_VALUE(net_profit_rate_lf) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS prof_ratio,

            LAST_VALUE(invested_capital_lf_yoy) OVER (
                PARTITION BY period, instrument 
                ORDER BY date 
                ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
            ) AS inv_ratio,

            ROW_NUMBER() OVER (PARTITION BY period, instrument ORDER BY date DESC) AS rn
        FROM data_orgn
    ),
    data2 AS (
        SELECT
            date,
            instrument,
            close,
            LAG(close) OVER (PARTITION BY instrument ORDER BY period) AS close_m_lag_1,
            float_market_cap,
            pb,
            prof_ratio,
            inv_ratio
        FROM data1
        WHERE rn = 1 
    )
    SELECT 
        date,
        instrument,
        close / close_m_lag_1 - 1 AS change_ratio,
        float_market_cap,
        1 / pb AS bp_ratio,
        prof_ratio,
        inv_ratio
    FROM data2
)
SELECT
    date,
    instrument,
    change_ratio,
    float_market_cap,
    bp_ratio,
    prof_ratio,
    inv_ratio
FROM data_freq
WHERE instrument NOT LIKE '%BJ%'
ORDER BY date, instrument
"""

sql_ff5_monthly = get_ff5_sql(sql_ff5_base_monthly)

In [16]:
df_ff5_monthly = dai.query(sql_ff5_monthly, filters={"date":[sd, ed]}).df()
df_ff5_monthly

         date       MKT       SMB       HML       RMW       CMA
0  2023-02-01  0.184054 -0.130650 -0.215686  0.043323 -0.133270
1  2023-03-01  0.010762 -0.037960 -0.029034 -0.019719  0.023423
2  2023-04-03  0.012244 -0.053866  0.023377  0.048321  0.010725
3  2023-05-04 -0.023972  0.037204 -0.021567  0.002464  0.013088
4  2023-06-01  0.022841  0.008400 -0.038238 -0.003430  0.000175
5  2023-07-03  0.040959 -0.041853  0.040181 -0.010019  0.030162
6  2023-08-01 -0.049022  0.020751 -0.035505  0.019495 -0.000654
7  2023-09-01 -0.002098 -0.000203  0.012825 -0.009967  0.017288
8  2023-10-09 -0.007133 -0.020292 -0.027054  0.024634  0.055271
9  2023-11-01  0.009180  0.039600 -0.031618 -0.018660  0.019966
10 2023-12-01 -0.015010 -0.004819 -0.016391  0.004798 -0.008649

## 3. FF5 Analysis

In [17]:
def ff5_analysis(df, n):
    
    import pandas as pd
    from sklearn.linear_model import LinearRegression

    results = []

    for instrument, group in df.groupby('instrument'):

        group = group.sort_values('date')

        beta_ICP  = []
        beta_MKT  = []
        beta_SMB  = []
        beta_HML  = []
        beta_RMW  = []
        beta_CMA  = []
        alpha     = []
        regr_resd = []
        regr_pred = []
        regr_r2   = []

        if len(group) < n:
            group['beta_ICP']  = [None] * len(group)
            group['beta_MKT']  = [None] * len(group)
            group['beta_SMB']  = [None] * len(group)
            group['beta_HML']  = [None] * len(group)
            group['beta_RMW']  = [None] * len(group)
            group['beta_CMA']  = [None] * len(group)
            group['alpha']     = [None] * len(group)
            group['regr_resd'] = [None] * len(group)
            group['regr_pred'] = [None] * len(group)
            group['regr_r2']   = [None] * len(group)

        else:
            for i in range(len(group) - n + 1):

                window = group.iloc[i:i+n]
                y = window['Return'].values
                X = window[['MKT', 'SMB', 'HML', 'RMW', 'CMA']].values

                model = LinearRegression()
                model.fit(X, y)

                yhat_last = model.predict(X)[-1]

                beta_ICP.append(model.intercept_)
                beta_MKT.append(model.coef_[0])
                beta_SMB.append(model.coef_[1])
                beta_HML.append(model.coef_[2])
                beta_RMW.append(model.coef_[3])
                beta_CMA.append(model.coef_[4])

                regr_pred.append(yhat_last)
                regr_resd.append(y[-1] - yhat_last)
                regr_r2.append(model.score(X, y))

                # æŒ‰ä½ åŽŸæ¥çš„å®šä¹‰ï¼šalpha = æˆªè· + æœ€åŽä¸€æ¡æ®‹å·®
                alpha.append(model.intercept_ + (y[-1] - yhat_last))

            pad = [None] * (n - 1)
            group['beta_ICP']  = pad + beta_ICP
            group['beta_MKT']  = pad + beta_MKT
            group['beta_SMB']  = pad + beta_SMB
            group['beta_HML']  = pad + beta_HML
            group['beta_RMW']  = pad + beta_RMW
            group['beta_CMA']  = pad + beta_CMA
            group['alpha']     = pad + alpha
            group['regr_resd'] = pad + regr_resd
            group['regr_pred'] = pad + regr_pred
            group['regr_r2']   = pad + regr_r2

        results.append(group)

    result_df = pd.concat(results).sort_index()
    return result_df

In [18]:
df_ff5_daily_cs = pd.merge(dai.query("""
SELECT
    date,
    instrument,
    change_ratio AS Return
FROM cn_stock_prefactors
""", filters = {"date":[sd,ed]}).df(), df_ff5_daily, how = "inner", on = ["date"])

In [19]:
df_ff5_derived_daily = ff5_analysis(df_ff5_daily_cs, 20)
df_ff5_derived_daily

,date,instrument,Return,MKT,SMB,HML,RMW,CMA,beta_ICP,beta_MKT,beta_SMB,beta_HML,beta_RMW,beta_CMA,alpha,regr_resd,regr_pred,regr_r2
0,2023-01-03,000001.SZ,0.046353,0.010998,0.015268,-0.004603,-0.003603,0.002195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-03,000002.SZ,0.001648,0.010998,0.015268,-0.004603,-0.003603,0.002195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-03,000004.SZ,0.026860,0.010998,0.015268,-0.004603,-0.003603,0.002195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-03,000005.SZ,0.005376,0.010998,0.015268,-0.004603,-0.003603,0.002195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-03,000006.SZ,-0.028571,0.010998,0.015268,-0.004603,-0.003603,0.002195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260979,2023-02-14,603855.SH,-0.005078,0.001545,-0.001280,0.004398,0.000877,-0.001089,-0.001694,0.830714,2.597920,1.098653,3.327090,2.367758,-0.008206,-0.006512,1.433714e-03,0.208307
1260980,2023-02-14,603856.SH,0.014528,0.001545,-0.001280,0.004398,0.000877,-0.001089,0.000423,0.847824,1.372661,0.024423,3.781575,3.121577,0.014951,0.014528,-6.098681e-07,0.379385
1260981,2023-02-14,603858.SH,0.015144,0.001545,-0.001280,0.004398,0.000877,-0.001089,-0.003472,0.001299,-0.364142,-2.376331,2.869350,4.496174,0.027505,0.030977,-1.583313e-02,0.294431
1260982,2023-02-14,603859.SH,-0.016104,0.001545,-0.001280,0.004398,0.000877,-0.001089,0.010178,0.175385,-1.977370,-2.139773,-0.598067,0.752599,-0.008153,-0.018331,2.227146e-03,0.148456
1260983,2023-02-14,603860.SH,-0.009023,0.001545,-0.001280,0.004398,0.000877,-0.001089,-0.000566,0.470091,0.653720,-1.079667,0.484863,1.645690,-0.002798,-0.002232,-6.790880e-03,0.398118