# Chinese (Mainland) Economic Data - Foreign Economy - Foreign Exchange Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

In [2]:
dai.query("""
SELECT *
FROM rmb_exchange_rate_midpoint
WHERE date = '2026-02-13'
""").df()

,date,USD,EUR,JPY,HKD,GBP,AUD,NZD,SGD,CHF,CAD,MOP,MYR,RUB,ZAR,KRW,AED,SAR,HUF,PLN,DKK,SEK,NOK,TRY,MXN,THB
0,2026-02-13,693.98,821.95,4.5304,88.787,942.45,490.48,417.09,548.51,899.93,508.65,116.07,56.336,NaN,230.36,20856.0,53.057,54.177,4605.17,51.213,90.88,128.98,137.78,631.34,248.32,449.16