# Chinese (Mainland) Economic Data - Foreign Economy - Foreign Trade Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Foreign Trade

In [2]:
dai.query("""
SELECT *
FROM cn_macro_trade_value_yearly
""").df()

,year,total_rmb,export_rmb,import_rmb,balance_rmb,total_dollar,export_dollar,import_dollar,balance_dollar
0,2004,95539.1,49103.3,46435.8,2667.6,1154550.0,593330.0,561230.0,32100.0
1,2005,116921.8,62648.1,54273.7,8374.4,1421910.0,761950.0,659950.0,102000.0
2,2006,140974.7,77597.9,63376.9,14221.0,1760440.0,968980.0,791460.0,177520.0
...,...,...,...,...,...,...,...,...,...
17,2021,387414.6,214255.2,173159.4,41095.9,5995790.0,3316020.0,2679770.0,636250.0
18,2022,418011.6,237411.5,180600.1,56811.5,6270110.0,3560539.0,2709574.0,850970.0
19,2023,417568.3,237725.9,179842.4,57883.0,5936830.0,3380020.0,2556800.0,NaN

## 2. Foreign Trade by SITC

### 2.1 Export

In [3]:
dai.query("""
SELECT *
FROM cn_macro_export_value_sitc_yearly
""").df()

,year,export_dollar,primary_products,food_live_animal,drinks_tobacco,nonfood_raw_materials,mineral_fuel_lubricant_materials,oils_waxes,manufactured_goods,chemical,raw_materials_finished_products,machinery_transport_equipment,miscellaneous_manufactures,others
0,2004,593330.0,40549.0,18864.0,1214.0,5843.2,14480.0,148.0,552777.0,26360.0,100646.0,268260.0,156398.0,1112.0
1,2005,761950.0,49037.0,22480.0,1183.0,7484.0,17622.0,268.0,712916.0,35772.0,129121.0,352234.0,194183.0,1606.0
2,2006,968980.0,52919.0,25723.0,1193.0,7860.0,17770.0,373.0,916017.0,44530.0,174816.0,456343.0,238014.0,2315.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,3316020.0,140072.0,69846.0,2750.0,22297.0,42848.0,2331.0,3222951.0,264235.0,543268.0,1617740.0,757276.0,40432.0
18,2022,3560539.0,169118.0,73498.0,3069.0,24829.0,64163.0,3559.0,3391421.0,312088.0,591566.0,1691602.0,742888.0,53277.0
19,2023,3380020.0,164100.0,73320.0,3780.0,22370.0,61160.0,3460.0,3215930.0,260010.0,543960.0,1647580.0,693060.0,71320.0

### 2.2 Import

In [4]:
dai.query("""
SELECT *
FROM cn_macro_import_value_sitc_yearly
""").df()

,year,import_dollar,primary_products,food_live_animal,drinks_tobacco,nonfood_raw_materials,mineral_fuel_lubricant_materials,oils_waxes,manufactured_goods,chemical,raw_materials_finished_products,machinery_transport_equipment,miscellaneous_manufactures,others
0,2004,561230.0,117267.000,9154.000,548.000,55358.000,47993.000,4214.000,443962.000,65473.000,73986.0,252830.000,50143.000,1529.000
1,2005,659950.0,147714.000,9388.000,783.000,70226.000,63947.000,3370.000,512239.000,77734.000,81157.0,290478.000,60862.000,2008.000
2,2006,791460.0,187128.569,9994.272,1040.618,83156.652,89000.589,3936.437,604332.299,87046.841,86923.8,357020.746,71310.507,2030.404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,2679770.0,976631.000,122837.000,7626.000,426261.000,405329.000,14578.000,1710512.000,264078.000,210828.0,1005797.000,169397.000,60413.000
18,2022,2709574.0,1089148.000,131145.000,7026.000,402385.000,535666.000,12925.000,1620426.000,266313.000,197764.0,938075.000,133839.000,84436.000
19,2023,2556800.0,1085410.000,129040.000,7900.000,419160.000,515660.000,13640.000,1471390.000,238980.000,168400.0,830680.000,130520.000,102810.000