# Chinese (Mainland) ETF Data - Information Data - Shares Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. ETF Market Shares Data

### 1.1 ETF Market Shares

In [2]:
dai.query("""
SELECT *
FROM cn_fund_holder_structure
""").df()

,date,fund_count,institutional_ownership_ratio,individual_ownership_ratio,internal_ownership_ratio,total_shares
0,2004-06-30,127,0.4574,0.5425,0.0000,25768500
1,2004-12-31,153,0.4109,0.5890,0.0000,31823700
2,2005-06-30,184,0.4549,0.5428,0.0000,43386000
...,...,...,...,...,...,...
41,2024-12-31,21852,0.4459,0.5503,0.0153,3037773800
42,2025-06-30,23094,0.4398,0.5559,0.0166,3126384000
43,2025-12-31,1,0.0762,0.9238,0.0000,27900

### 1.2 ETF Market Shares Changes

In [3]:
dai.query("""
SELECT *
FROM cn_fund_scale_change
""").df()

,date,disclosed_fund_count,subscription_during_period,redemption_during_period,ending_total_shares,ending_net_assets
0,1998-06-30,4,NaN,NaN,80.00,82.72
1,1998-09-30,5,NaN,NaN,100.00,101.79
2,1998-12-31,5,NaN,NaN,100.00,107.42
...,...,...,...,...,...,...
108,2025-06-30,23291,386823.64,374087.11,313759.58,344910.84
109,2025-09-30,24013,511777.23,513197.10,314070.01,364586.45
110,2025-12-31,24678,489260.32,482493.95,323508.25,375030.57

### 1.3 ETF Market Asset Allocation

In [4]:
dai.query("""
SELECT *
FROM cn_fund_asset_allocation
""").df()

,date,fund_count,stock_nav_ratio,bond_nav_ratio,currency_nav_ratio,nav
0,1998-06-30,4,0.4131,0.0000,0.1386,8.272000e+09
1,1998-09-30,5,0.4002,0.0000,0.0000,1.017900e+10
2,1998-12-31,5,0.6155,0.0000,0.0000,1.074200e+10
...,...,...,...,...,...,...
103,2024-03-31,20257,0.1528,0.5827,0.2309,5.713562e+13
104,2024-06-30,20905,0.1365,0.5768,0.2233,6.223154e+13
105,2024-09-30,21440,0.1590,0.5294,0.2419,6.357945e+13

## 2. EFT Shares Data

### 2.1 Shares Data

In [5]:
dai.query("""
SELECT *
FROM cn_fund_etf_holder
WHERE date = '2024-06-30'
AND name = '嘉实沪深300ETF'
""").df()

,instrument,date,report_date,name,rank,holder_name,holder_share,holder_ratio
0,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,1,中央汇金投资有限责任公司,1.954369e+10,68.17
1,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,2,嘉实沪深300交易型开放式指数证券投资基金联接基金(LOF),2.406281e+09,8.39
2,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,3,中央汇金资产管理有限责任公司,8.135838e+08,2.84
...,...,...,...,...,...,...,...,...
7,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,8,国泰君安证券股份有限公司,2.531949e+08,0.88
8,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,9,中国平安财产保险股份有限公司-传统-普通保险产品,1.525940e+08,0.53
9,159919.SZ,2024-06-30,2024-06-30,嘉实沪深300ETF,10,友邦人寿保险有限公司-分红,1.029255e+08,0.36

In [6]:
dai.query("""
SELECT *
FROM cn_fund_size_te
WHERE instrument LIKE '%160213%'
""").df()

      fd_share fund_type market instrument       date
0   55598.2545       LOF      O  160213.OF 2010-04-29
1   42031.1354       LOF      O  160213.OF 2010-06-30
2   35248.5864       LOF      O  160213.OF 2010-09-30
..         ...       ...    ...        ...        ...
14  23070.6208       LOF      O  160213.OF 2019-09-30
15  25740.4472       LOF      O  160213.OF 2019-12-31
16  32705.3607       LOF      O  160213.OF 2022-09-30

[17 rows x 5 columns]

### 2.2 Dividend Data

In [7]:
dai.query("""
SELECT *
FROM cn_fund_dividend
WHERE date = '2025-11-25'
AND instrument = '160213'
""").df()

,name,date,register_date,cash_dividend,dividend_distribution_date,fund_type,instrument
0,国泰纳斯达克100指数,2025-11-25,2025-11-26,0.9,2025-12-05,指数型-海外股票,160213

### 2.3 Split Information

In [8]:
dai.query("""
SELECT *
FROM cn_fund_split
WHERE date = '2025-12-03'
AND instrument = '000277'
""").df()

       name       date split_type  split_conversion fund_type instrument
0  博时双月薪债券A 2025-12-03       份额折算          1.003052    债券型-长债     000277