# Chinese (Mainland) Financial Market Trading Calandar

In [7]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Trading Days

In [8]:
# Officially Updated
dai.query("""
SELECT *
FROM all_trading_days
WHERE market_code = 'CN'
""").df()

           date market_code
0    1990-12-03          CN
1    1990-12-04          CN
2    1990-12-05          CN
...         ...         ...
8806 2026-12-29          CN
8807 2026-12-30          CN
8808 2026-12-31          CN

[8809 rows x 2 columns]

In [9]:
# Till Today
dai.query("""
SELECT *
FROM trading_days
WHERE market_code = 'CN'
""").df()

           date market_code
0    1990-12-03          CN
1    1990-12-04          CN
2    1990-12-05          CN
...         ...         ...
8594 2026-02-11          CN
8595 2026-02-12          CN
8596 2026-02-13          CN

[8597 rows x 2 columns]

## 2. Holidays

In [10]:
dai.query("""
SELECT *
FROM holidays
WHERE market_code = 'CN'
""").df()

          date market_code
0   2005-01-03          CN
1   2005-02-07          CN
2   2005-02-08          CN
..         ...         ...
393 2026-10-05          CN
394 2026-10-06          CN
395 2026-10-07          CN

[396 rows x 2 columns]