# Chinese (Mainland) Stock Index Data - Market Data - Price-Volume Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Stock Index Price-Volume Data

### 1.1 Daily Price-Volume Record

In [2]:
dai.query("""
SELECT *
FROM cn_stock_index_bar1d
WHERE date = '2026-02-13'
AND instrument = '000300.SH'
""").df()

,date,instrument,name,pre_close,open,high,low,close,volume,amount,change,change_ratio
0,2026-02-13,000300.SH,沪深300,4719.578,4693.4106,4703.6332,4658.4038,4660.4056,189167756,4.528786e+11,-59.1724,-0.012538

### 1.2 Intraday Price-Volume Data

In [3]:
dai.query("""
SELECT *
FROM cn_stock_index_bar1m
WHERE date = '2026-02-13 10:30:00'
AND instrument = '000300.SH'
""").df()

,date,instrument,trading_day,open,close,high,low,volume,amount
0,2026-02-13 10:30:00,000300.SH,20260213,4699.94,4698.91,4700.01,4698.86,57829400,1.347050e+09

## 2. Stock Concept Index Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM cn_stock_index_concept_bar1d
WHERE date = '2026-02-13'
AND instrument = '300013.BI'
""").df()

,date,instrument,name,pre_close,open,high,low,close,volume,amount,change,change_ratio,turn
0,2026-02-13,300013.BI,煤化工,2727.567,2712.708,2717.258,2677.761,2680.015,43100778.0,4.202964e+10,-47.552,-0.017434,0.012291