# Chinese (Mainland) Economic Data - Production Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

In [2]:
dai.query("""
SELECT *
FROM cn_macro_per_capita_production_yearly
""").df()

,year,food,cotton,oil,sugar,tea,fruit,meat,aquatic_product,raw_coal,crude_oil,yarn,cloth,paper,cement,crude_steel,power_generation
0,2004,362.224018,4.878969,23.655340,73.843347,0.644431,118.364153,40.390000,32.760000,1.637722,135.696854,9.963467,37.196921,41.766642,745.959840,218.282815,1699.985726
1,2005,371.262161,4.382980,23.602729,72.499538,0.717069,123.646910,41.980000,33.900000,1.814152,139.104179,11.126162,37.154450,47.597797,819.844675,270.947596,1917.789096
2,2006,379.889148,5.745745,20.139393,79.784975,0.784171,130.447800,42.778980,34.960000,1.960101,140.932785,13.294687,45.655291,52.348706,943.360742,319.711751,2185.875120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,2021,483.479776,4.057700,25.582531,81.101489,NaN,212.199435,46.075499,47.369612,2.920000,140.810000,20.350000,35.540000,96.180000,1683.170000,732.990000,6042.540000
18,2022,486.149151,4.234731,25.876470,79.568398,NaN,221.617298,48.040976,48.600000,3.228037,144.969538,19.262872,33.121666,96.952310,1507.796006,720.844796,6266.016591
19,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN