In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_a191 import *

In [2]:
sd, ed = get_sd_ed('2024-11-24', '2024-11-25')

In [3]:
alpha_a191_f0001(sd, ed, get_factor_df_function=get_factor_df_cbond)

          date instrument  alpha_a191_f0001
0   2024-11-25  110048.SH         -0.786643
1   2024-11-25  110052.SH         -0.882012
2   2024-11-25  110055.SH          0.029896
3   2024-11-25  110058.SH         -0.355615
4   2024-11-25  110059.SH          0.437361
..         ...        ...               ...
541 2024-11-25  128138.SZ          0.040830
542 2024-11-25  128141.SZ         -0.320385
543 2024-11-25  128142.SZ         -0.634483
544 2024-11-25  128143.SZ         -0.429813
545 2024-11-25  128144.SZ         -0.344974

[546 rows x 3 columns]