# Italy Data - Stock Data

In [9]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. IT Stock Basic Information

In [10]:
dai.query("""
SELECT *
FROM it_stock_basic_info
WHERE instrument = 'ISP.MI' 
""").df()

,instrument,name,type,exchange_id,local_symbol,conid,under_conid,isin,cusip,currency,country,is_prime_exch_id,is_new_pdt,assoc_entity_id
0,ISP.MI,INTESA SANPAOLO,STK,BVME,ISP,29816328,None,IT0000072618,T55067101,EUR,IT,T,F,e1431205

## 2. IT Stock Price-Volume & Trading Data

### 2.1 IT Stock Trading Record

In [11]:
dai.query("""
SELECT *
FROM it_stock_instruments
WHERE date = '2025-01-31'
AND instrument = 'ISP.MI' 
""").df()

        date instrument             name
0 2025-01-31     ISP.MI  INTESA SANPAOLO

### 2.2 IT Stock Price-Volume Data

In [ ]:
dai.query("""
SELECT *
FROM it_stock_bar1d
WHERE date = '2025-01-31'
AND instrument = 'ISP.MI' 
""").df()