# United Kingdom Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. UK Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM uk_stock_basic_info
WHERE instrument = 'FERG.L' 
""").df()

,instrument,name,type,exchange_id,local_symbol,conid,under_conid,isin,cusip,currency,country,is_prime_exch_id,is_new_pdt,assoc_entity_id
0,FERG.L,FERGUSON ENTERPRISES INC,STK,LSE,FERG,719706201,None,US31488V1070,31488V107,GBP,GB,T,F,e5683400

## 2. UK Stock Price-Volume & Trading Data

### 2.1 UK Stock Trading Record

In [3]:
dai.query("""
SELECT *
FROM uk_stock_instruments
WHERE date = '2025-01-31'
AND instrument = 'FERG.L' 
""").df()

        date instrument                      name
0 2025-01-31     FERG.L  FERGUSON ENTERPRISES INC

### 2.2 UK Stock Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM uk_stock_bar1d
WHERE date = '2025-01-31'
AND instrument = 'FERG.L' 
""").df()

,instrument,date,name,open,high,low,close,volume,dividends,stock_splits
0,FERG.L,2025-01-31,FERGUSON ENTERPRISES INC,14748.490319,14748.490319,14518.51386,14558.509766,24136,0.0,0.0