# CN Stock Factor VPTA (5)

In [8]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [9]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

## 3. Technical Factors

### 3.3 Price & Volume Indicators

#### MFI

In [10]:
alpha_vpta_MFI(sd, ed, n=14, data_base="cn_stock_bar1d")

,date,instrument,alpha_vpta_MFI_PMF_14,alpha_vpta_MFI_NMF_14,alpha_vpta_MFI_MFR_14,alpha_vpta_MFI_MFI_14
0,2024-11-25,603369.SH,9.510580e+09,7.422542e+09,1.281310,56.165544
1,2024-11-25,603392.SH,9.791267e+09,4.216506e+09,2.322128,69.898810
2,2024-11-25,603687.SH,6.010705e+08,3.371664e+08,1.782712,64.063834
3,2024-11-25,603697.SH,1.964786e+09,1.262821e+09,1.555871,60.874391
4,2024-11-25,603788.SH,9.872806e+08,9.579097e+08,1.030661,50.754962
...,...,...,...,...,...,...
5364,2024-11-25,836942.BJ,8.084161e+08,3.746386e+08,2.157856,68.332943
5365,2024-11-25,837748.BJ,6.982621e+08,3.803425e+08,1.835877,64.737542
5366,2024-11-25,872351.BJ,1.146468e+09,3.990428e+08,2.873044,74.180518
5367,2024-11-25,873703.BJ,8.869126e+08,6.907707e+08,1.283947,56.216138
5368,2024-11-25,920088.BJ,1.255343e+09,1.117581e+09,1.123268,52.902796

#### OBV

In [11]:
alpha_vpta_OBV(sd, ed, data_base="cn_stock_bar1d")

           date instrument alpha_vpta_OBV_OBV  alpha_vpta_OBV_OBV_ADJ
0    2024-11-25  000006.SZ        10430975228           -3.891614e+09
1    2024-11-25  000011.SZ         4620151399            2.614689e+09
2    2024-11-25  000027.SZ         9686755908           -2.636477e+09
3    2024-11-25  000029.SZ         5470743061            3.497088e+09
4    2024-11-25  000066.SZ        15227228913           -1.043994e+10
...         ...        ...                ...                     ...
5364 2024-11-25  871970.BJ           15514055           -3.840053e+06
5365 2024-11-25  872895.BJ           60480091            5.002461e+07
5366 2024-11-25  873122.BJ           93395288           -5.385476e+07
5367 2024-11-25  873593.BJ          154286984            5.590910e+07
5368 2024-11-25  873690.BJ           29039482           -4.120558e+06

[5369 rows x 4 columns]

#### PVT

In [12]:
alpha_vpta_PVT(sd, ed, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_PVT
0    2024-11-25  000019.SZ    2.098525e+08
1    2024-11-25  000058.SZ    3.207063e+08
2    2024-11-25  000060.SZ    7.347669e+08
3    2024-11-25  000061.SZ    3.091390e+08
4    2024-11-25  000404.SZ    2.607813e+08
...         ...        ...             ...
5364 2024-11-25  871970.BJ    1.493173e+07
5365 2024-11-25  872895.BJ    1.431861e+07
5366 2024-11-25  873122.BJ    2.924285e+07
5367 2024-11-25  873593.BJ    2.093533e+07
5368 2024-11-25  873690.BJ    4.344081e+06

[5369 rows x 3 columns]

#### SOVB

In [13]:
alpha_vpta_SOBV(sd, ed, data_base="cn_stock_bar1d")

           date instrument alpha_vpta_SOBV
0    2024-11-25  605056.SH         8153629
1    2024-11-25  605168.SH       118709774
2    2024-11-25  605178.SH       132987002
3    2024-11-25  605186.SH       126076544
4    2024-11-25  605228.SH       627973345
...         ...        ...             ...
5364 2024-11-25  871970.BJ        12142745
5365 2024-11-25  872895.BJ       134115891
5366 2024-11-25  873122.BJ       230556884
5367 2024-11-25  873593.BJ       163500054
5368 2024-11-25  873690.BJ         7702112

[5369 rows x 3 columns]

#### WVAD

In [14]:
alpha_vpta_WVAD(sd, ed, n=6, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_WVAD_6
0    2024-11-25  000016.SZ      -2.738209e+07
1    2024-11-25  000030.SZ       1.703151e+07
2    2024-11-25  000050.SZ      -2.903340e+07
3    2024-11-25  000065.SZ      -3.632014e+07
4    2024-11-25  000301.SZ      -5.096394e+07
...         ...        ...                ...
5364 2024-11-25  838810.BJ       6.080574e+06
5365 2024-11-25  838924.BJ      -1.473147e+07
5366 2024-11-25  870976.BJ      -2.584595e+06
5367 2024-11-25  873132.BJ       5.501732e+06
5368 2024-11-25  920066.BJ      -4.087662e+05

[5369 rows x 3 columns]