In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

In [3]:
alpha_vpta_mavg(sd, ed, col="close", n=5, data_base="cn_cbond_bar1d")

          date instrument  alpha_vpta_mavg_close_5
0   2024-11-25  110073.SH                  113.306
1   2024-11-25  110079.SH                  123.862
2   2024-11-25  110081.SH                  113.570
3   2024-11-25  111008.SH                  124.220
4   2024-11-25  111009.SH                   98.818
..         ...        ...                      ...
543 2024-11-25  127073.SZ                  114.102
544 2024-11-25  127085.SZ                  107.192
545 2024-11-25  128071.SZ                  109.106
546 2024-11-25  128087.SZ                  126.230
547 2024-11-25  128124.SZ                  101.790

[548 rows x 3 columns]