# Japanese Data - Stock Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. JP Stock Basic Information

In [2]:
dai.query("""
SELECT *
FROM jp_stock_basic_info
WHERE instrument = '6758.T' 
""").df()

,instrument,name,type,exchange_id,local_symbol,conid,under_conid,isin,cusip,currency,country,is_prime_exch_id,is_new_pdt,assoc_entity_id
0,6758.T,SONY GROUP CORP,STK,JPNNEXT,6758,13905705,None,JP3435000009,J76379106,JPY,JP,None,F,e1415867

## 2. JP Stock Price-Volume & Trading Data

### 2.1 JP Stock Trading Record

In [3]:
dai.query("""
SELECT *
FROM jp_stock_instruments
WHERE date = '2025-01-31'
AND instrument = '6758.T'
""").df()

        date instrument             name
0 2025-01-31     6758.T  SONY GROUP CORP

### 2.2 JP Stock Price-Volume Data

In [4]:
dai.query("""
SELECT *
FROM jp_stock_bar1d
WHERE date = '2025-01-31'
AND instrument = '6758.T'
""").df()

,instrument,date,name,open,high,low,close,volume,dividends,stock_splits
0,6758.T,2025-01-31,SONY GROUP CORP,3422.116077,3463.009916,3381.222239,3431.092773,13213600,0.0,0.0