# Chinese (Mainland) Stock Data - Financial Data - Financial Performance Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

## 1. Performance Report

In [5]:
dai.query("""
SELECT *
FROM cn_stock_financial_performance_forecast_te_raw
WHERE instrument = '600519.SH'
""", full_db_scan=True).df()

,instrument,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min,net_profit_max,last_parent_net,first_ann_date,summary,change_reason,update_flag
0,600519.SH,20231230,20231231,略增,17.2,17.2,7350000.0,7350000.0,6.271644e+06,20231230,预计净利润7350000万,None,1

## 2. Performance Forecasting

### 2.1 Consensus Forecasting

In [ ]:
dai.query("""
SELECT *
FROM cn_stock_financial_forecast_consensus_rolling
WHERE date = '2024-12-31'
AND instrument = '600519.SH'
""", full_db_scan=True).df()

,date,instrument,forecast_eps_fy1,forecast_eps_fy2,forecast_eps_fy3,forecast_eps_12m,forecast_np_fy1,forecast_np_fy2,forecast_np_fy3,forecast_np_12m,forecast_np_yoy,forecast_np_yoy_fy2to1,forecast_np_cagr_2,forecast_revenue_fy1,forecast_revenue_fy2,forecast_revenue_fy3,forecast_revenue_12m,forecast_revenue_yoy,forecast_revenue_yoy_fy2to1,forecast_revenue_cagr_2
0,2024-12-31,600519.SH,68.536,76.5857,85.1602,76.5857,8.609469e+10,9.620723e+10,1.069777e+11,9.620723e+10,15.201394,11.745832,13.460458,1.736343e+11,1.931785e+11,2.137205e+11,1.931785e+11,17.563855,11.255972,14.366433

In [ ]:
dai.query("""
SELECT *
FROM cn_stock_consensus_data
WHERE date = '2024-06-01'
AND instrument = '600519.SH'
""", full_db_scan=True).df()

,date,instrument,est_report_dt,num_est_inst,eps_avg,main_bus_inc_avg,net_profit_avg,ebit_avg,ebitda_avg,eps_median,main_bus_inc_median,net_profit_median,ebit_median,ebitda_median,consen_data_cycle_typ,eps_dev,main_bus_inc_dev,net_profit_dev,ebit_dev,ebitda_dev,eps_max,eps_min,main_bus_inc_max,main_bus_inc_min,main_bus_inc_upgrade,main_bus_inc_downgrade,main_bus_inc_maintain,net_profit_max,net_profit_min,net_profit_upgrade,net_profit_downgrade,net_profit_maintain,s_est_avgcps,s_est_mediancps,s_est_stdcps,s_est_maxcps,s_est_mincps,s_est_avgdps,s_est_mediandps,s_est_stddps,s_est_maxdps,s_est_mindps,ebit_max,ebit_min,ebitda_max,ebitda_min,s_est_avgbps,s_est_medianbps,s_est_stdbps,s_est_maxbps,s_est_minbps,s_est_avgebt,s_est_medianebt,s_est_stdebt,s_est_maxebt,s_est_minebt,s_est_avgroa,s_est_medianroa,s_est_stdroa,s_est_maxroa,s_est_minroa,s_est_avgroe,s_est_medianroe,s_est_stdroe,s_est_maxroe,s_est_minroe,s_est_avgoperatingprofit,s_est_medianoperatingprofit,s_est_stdoperatingprofit,s_est_maxoperatingprofit,s_est_minoperatingprofit,s_est_epsinstnum,s_est_mainbusincinstnum,s_est_netprofitinstnum,s_est_cpsinstnum,s_est_dpsinstnum,s_est_ebitinstnum,s_est_ebitdainstnum,s_est_bpsinstnum,s_est_ebtinstnum,s_est_roainstnum,s_est_roeinstnum,s_est_oprofitinstnum,s_est_avgoc,s_est_mediaoc,s_est_stoc,s_est_maxoc,s_est_minoc,s_est_ocinstnum,s_est_baseshare,s_est_yeartype,updatetime
0,2024-06-01,600519.SH,20241231,41.0,69.7571,1.749545e+07,8.762871e+06,11995540.0,1.221385e+07,69.7605,17495110.0,8763300.0,12060000.0,12180100.0,263004000,0.5066,108948.3593,63644.7341,164250.4277,192268.1134,70.7874,68.4828,17759700.0,17218500.0,2.0,7.0,32.0,8892300.0,8602800.0,6.0,9.0,26.0,72.7300,75.8581,11.7920,84.2067,35.1400,37.8680,36.2443,9.1500,63.68,25.91,12162400.0,11749100.0,12596100.0,11925400.0,208.3710,206.2075,15.7884,242.47,177.62,1.218342e+07,12178300.0,120544.0688,12592100.0,11933000.0,27.3383,27.45,2.5281,31.0,23.16,33.9105,33.85,2.6317,39.0,28.2,1.219040e+07,12180550.0,122026.3308,12607000.0,11937600.0,40.0,41.0,41.0,23.0,11.0,5.0,19.0,31.0,39.0,12.0,40.0,40.0,3.730651e+06,3831600.0,562380.7611,4082400.0,1338100.0,40.0,125619.78,FY1,2024-06-03 08:25:42
1,2024-06-01,600519.SH,20251231,41.0,81.0071,2.015056e+07,1.017609e+07,13936720.0,1.409678e+07,81.0167,20154500.0,10177300.0,13947100.0,14088500.0,263004000,1.1833,220333.6489,148646.2933,284889.5084,280402.6976,84.3410,77.4305,20609300.0,19610900.0,2.0,6.0,33.0,10594900.0,9726800.0,7.0,13.0,21.0,86.6116,81.3300,30.4564,222.6300,64.3100,43.6821,42.1000,10.9976,73.93,27.57,14297500.0,13594600.0,14817100.0,13683500.0,252.5407,246.6004,31.3087,326.81,184.51,1.413461e+07,14144400.0,219584.8196,14606400.0,13492300.0,26.9625,27.45,3.1254,32.0,21.00,32.9178,32.90,3.9737,44.0,24.9,1.414458e+07,14143950.0,222731.4318,14619200.0,13496900.0,40.0,41.0,41.0,23.0,11.0,5.0,19.0,31.0,39.0,12.0,40.0,40.0,4.257111e+06,4414550.0,649232.7294,4675200.0,1512600.0,40.0,125619.78,FY2,2024-06-03 08:25:42
2,2024-06-01,600519.SH,20261231,40.0,93.1029,2.299807e+07,1.169556e+07,16083800.0,1.616715e+07,93.4560,23127950.0,11739920.5,16141700.0,16147900.0,263004000,2.2760,435693.3986,285911.4073,362772.5596,419507.6992,98.0092,87.4138,23735100.0,21973600.0,1.0,6.0,32.0,12311900.0,10980900.0,8.0,11.0,20.0,94.7631,96.7540,8.9299,108.6611,74.1283,49.8664,48.4000,14.1987,83.27,28.12,16600100.0,15707100.0,17260600.0,15455700.0,303.2552,293.3721,51.2263,424.82,192.27,1.623025e+07,16324150.0,395612.4126,17006800.0,15232000.0,26.1455,26.50,3.6191,32.0,19.40,31.8441,31.51,5.2083,47.0,22.3,1.624623e+07,16357000.0,398778.9167,17019600.0,15236600.0,39.0,40.0,40.0,22.0,9.0,5.0,18.0,30.0,38.0,11.0,39.0,39.0,4.815662e+06,4987500.0,757786.8785,5399500.0,1688300.0,39.0,125619.78,FY3,2024-06-03 08:25:42

### 2.2 Performance Forecasting

In [ ]:
dai.query("""
SELECT *
FROM cn_stock_earning_forecast
WHERE date > '2005-06-01'
AND instrument = '000001.SZ'
""", full_db_scan=True).df()

,date,instrument,name,report_num,rating_buy_num,rating_add_num,rating_neutral_num,rating_reduce_num,rating_sale_num,region_board,industry_board,forecast_return,price_max,price_min,predict_year1,predict_year2,predict_year3,predict_year4,predict_year1_eps,predict_year2_eps,predict_year3_eps,predict_year4_eps
0,2024-06-28,000001.SZ,平安银行,21,11,10,0,0,0,广东板块,银行,NaN,17.91,11.56,2023,2024,2025,2026,2.393857,2.3695,2.4515,2.582105

In [ ]:
dai.query("""
SELECT *
FROM cn_stock_earning_research_report
WHERE date > '2005-06-01'
AND instrument = '002001.SZ'
""", full_db_scan=True).df()

,date,instrument,name,report_count_1m,title,rating,rating_value,organization,predict_eps,predict_pe,predict_next_year_eps,predict_next_year_pe,predict_after_next_year_eps,predict_after_next_year_pe,industry_board
0,2024-06-28,002001.SZ,新和成,2,维生素价格上涨，看好景气修复,增持,2,群益证券(香港)有限公司,1.17,16.44,1.44,13.3,1.77,10.82,化学制药