# Chinese (Mainland) Industry Data - Hog Data

In [1]:
import dai
import pandas as pd
pd.set_option('display.max_row', 6)
pd.set_option('display.max_column', None)

# 1. Hog Price

## 1.1 Hog Price

#### 1.1.1 Hog Core Price

In [2]:
dai.query("""
SELECT *
FROM national_hog_core
WHERE date >= '2026-01-01'
""").df()

         date indicator  price
0  2026-01-01       土杂猪  17.66
1  2026-01-02       土杂猪  17.71
2  2026-01-03       土杂猪  17.77
..        ...       ...    ...
4  2026-01-05       土杂猪  17.92
5  2026-01-06       土杂猪  17.95
6  2026-01-07       土杂猪  17.91

[7 rows x 3 columns]

#### 1.1.2 Hog Price Index

In [3]:
dai.query("""
SELECT *
FROM national_hog_price_index
WHERE date >= '2026-01-01'
""").df()

,date,region,index_value,month_avg_4,month_avg_6,month_avg_12,presale_avg_price,transaction_avg_price,transaction_avg_weight
0,2026-01-05,全国,86.56,82.99,88.38,95.27,12.23,12.68,119.0
1,2026-01-05,东北地区,86.03,83.98,88.76,94.88,11.13,12.19,111.0
2,2026-01-05,华北地区,86.92,83.13,88.34,95.44,10.57,12.49,124.0
...,...,...,...,...,...,...,...,...,...
45,2026-02-09,华南地区,81.93,84.02,88.82,97.04,10.51,12.06,126.0
46,2026-02-09,西北地区,83.18,81.06,84.40,91.73,17.40,12.04,0.0
47,2026-02-09,西南地区,80.56,80.51,83.51,90.96,12.24,11.81,162.0

#### 1.1.3 Hog Price Fluctuation

In [4]:
dai.query("""
SELECT *
FROM national_hog_price_fluctuation
WHERE date >= '2026-01-01'
""").df()

,date,hog_type,region,province,price,pre_price,fluct,fluct_last_week
0,2026-01-01,外三元,华东,安徽省,13.40,12.87,0.53,1.34
1,2026-01-01,外三元,华东,山东省,13.10,12.72,0.38,1.15
2,2026-01-01,外三元,华东,浙江省,13.54,13.19,0.35,1.40
...,...,...,...,...,...,...,...,...
4182,2026-02-20,土杂猪,西南,云南省,10.00,10.00,0.00,0.00
4183,2026-02-20,土杂猪,西南,重庆市,11.00,11.00,0.00,0.00
4184,2026-02-20,土杂猪,西南,西藏,12.82,12.97,-0.15,-0.57

### 1.2 Hog Carcass Price

#### 1.2.1 Hog Carcass Price

In [5]:
dai.query("""
SELECT *
FROM national_hog_carcass
WHERE date >= '2025-01-01'
""").df()

         date  price  price_ratio  price_ratio_year
0   2025年第01周  22.74          0.6              11.7
1   2025年第02周  22.82          0.4              13.9
2   2025年第03周  22.78         -0.2              14.1
..        ...    ...          ...               ...
58   2025年第7周  22.02         -2.7               3.3
59   2025年第8周  21.87         -0.7               6.1
60   2025年第9周  21.73         -0.6               6.9

[61 rows x 4 columns]

#### 1.2.2 Hog Carcass Fluctuation

In [6]:
dai.query("""
SELECT *
FROM national_hog_carcass_price_fluctuation
WHERE date >= '2026-01-01'
""").df()

,date,hog_type,province,county,price,pre_price,fluct,fluct_last_week
0,2026-01-01,外三元,云南省,曲靖市,12.18,11.94,0.24,1.09
1,2026-01-01,外三元,云南省,玉溪市,12.03,11.95,0.08,0.93
2,2026-01-01,外三元,云南省,保山市,12.27,11.95,0.32,1.24
...,...,...,...,...,...,...,...,...
21234,2026-02-20,土杂猪,山东省,聊城市,11.53,11.73,-0.20,0.53
21235,2026-02-20,土杂猪,山东省,滨州市,12.19,12.41,-0.22,0.19
21236,2026-02-20,土杂猪,山东省,菏泽市,12.35,12.37,-0.02,0.35

### 1.3 Piglets Price

In [7]:
dai.query("""
SELECT *
FROM national_hog_piglets_price_index
WHERE date >= '2026-01-01'
""").df()

          date province county  weight hog_type  price
0   2026-01-01      河北省    行唐县    15.0      外三元   30.0
1   2026-01-01      吉林省    农安县    15.0      内三元   20.0
2   2026-01-01      辽宁省    黑山县    10.0      外三元   18.0
..         ...      ...    ...     ...      ...    ...
474 2026-02-20      湖北省    宜城市    10.0      外三元   45.0
475 2026-02-20      河北省    古冶区    10.0      外三元   25.0
476 2026-02-20      辽宁省  阜新自治县    10.0      土杂猪   35.0

[477 rows x 6 columns]

## 2. Hog Supply & Capacity

### 2.1 Hog Supply

In [8]:
dai.query("""
SELECT *
FROM national_hog_supply
WHERE date >= '2026-01-01'
""").df()

         date indicator  value
0  2026-01-01     猪肉批发价  17.66
1  2026-01-02     猪肉批发价  17.71
2  2026-01-03     猪肉批发价  17.77
..        ...       ...    ...
4  2026-01-05     猪肉批发价  17.92
5  2026-01-06     猪肉批发价  17.95
6  2026-01-07     猪肉批发价  17.91

[7 rows x 3 columns]

### 2.2 Hog Capacity

In [9]:
dai.query("""
SELECT *
FROM national_hog_capacity
WHERE date >= '2023-01-01'
""").df()

,date,breeding_sow_production,pork_production,hog_inventory,hog_outlet
0,2024,4078.0,5706.0,42743.0,70256.0
1,2025年10月,3990.0,0.0,0.0,0.0
2,2025年7月,4042.0,0.0,0.0,0.0
...,...,...,...,...,...
4,2025年一季度（末）,4039.0,1602.0,41731.0,19476.0
5,2025年三季度（末）,4035.0,1348.0,43680.0,16373.0
6,2025年二季度（末）,4043.0,1418.0,42447.0,17143.0

### 2.3 Hog Feed & Inputs

In [10]:
dai.query("""
SELECT *
FROM national_hog_feed_raw_yearly
""").df()

,year,soybean_import_value,soybean_sowing_area,corn_import_value,corn_sowing_area
0,2012,3498872.22,7405.0,168926.71,39109.23
1,2013,3798510.43,7050.0,93749.62,41299.21
2,2014,4027222.08,7098.0,72966.71,42996.81
...,...,...,...,...,...
10,2022,6122672.98,10240.0,710548.30,43070.10
11,2023,5975549.20,10473.8,901285.70,44218.90
12,2024,5270000.00,10333.3,371900.00,44740.70

### 2.4 Hog Production Cost

In [11]:
dai.query("""
SELECT *
FROM national_hog_cost
WHERE date >= '2026-01-01'
""").df()

          date indicator   value
0   2026-01-01        玉米  2349.0
1   2026-01-01        豆粕  3008.0
2   2026-01-02        玉米  2348.0
..         ...       ...     ...
99  2026-02-19        豆粕  2988.0
100 2026-02-20        玉米  2361.0
101 2026-02-20        豆粕  2982.0

[102 rows x 3 columns]