In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_a191 import *

In [2]:
sd, ed = get_sd_ed('2024-11-24', '2024-11-25')

In [3]:
alpha_a191_f0001(sd, ed, get_factor_df_function=get_factor_df_future)

           date  instrument  alpha_a191_f0001
0    2024-11-25  AP0000.CZC         -0.296069
1    2024-11-25   AP412.CZC         -0.839798
2    2024-11-25   AP501.CZC         -0.502423
3    2024-11-25   AP503.CZC          0.738093
4    2024-11-25   AP504.CZC          0.856946
...         ...         ...               ...
1014 2024-11-25  zn2509.SHF         -0.697805
1015 2024-11-25  zn2510.SHF         -0.486899
1016 2024-11-25  zn2511.SHF               NaN
1017 2024-11-25  zn8888.SHF          0.577575
1018 2024-11-25  zn9999.SHF               NaN

[1019 rows x 3 columns]