# Volume & Price Based Factors

Volume & Price Based Factors can be applied to any financial securities at any data frequency.

To use these factors, users only need to specify the corresponding data table through the `data_base` parameter in each function.
The specified data table must contain the following columns: `open`, `close`, `high`, `low`, `volume`, `amount`. For stock-related factors, the turnover rate (`turn`) may be required. Some factors additionally require a benchmark data table specified by the `data_benchmark` parameter. This benchmark table should include the benchmark’s `open`, `close`, `high`, `low`, `volume`, `amount` fields.

The BigQuant platform provides data at multiple frequencies for the following Chinese (Mainland) and overseas financial securities: 

- Stock

- Stock Index

- Stock Industry

- Future

- Option

- Fund

- Convertible Bonds

- Cryptocurrency

Some securities or indicators provide only a single price (e.g., mid price, average price, aggregated value, etc.). These data can also be used to compute Volume & Price Based Factors, although the set of supported factors is more limited. When performing the calculation, users should explicitly specify the single-price column name, or rename the single-price column to `close`.

On the BigQuant platform, data for such Chinese (Mainland) and overseas securities and indicators include:

- Bond

- Foreign Exchange Rate

- Macroeconomy

    - GDP

    - CPI

    - Money Supply

    - Population

    - Employment
    
    - Import & Export
    
    - Production (Industrial & Agricultural)

    - ...

- Industry

    - Gold

    - Live Hogs

    - White Sugar
    
    - Car

    - ...

In [1]:
import dai
import pandas as pd

import sys
sys.path.append("/home/aiuser/work/GitHub/BigQuant_Resources_Collection/BigQuant_Research_Frameworks/General_Tools")
from General_Tools import *

In [2]:
sd = get_date_str('2023-01-01')
ed = get_date_str('2026-01-01')

## 1. Moving Statistics

### 1.1 Simple Statistics

#### N-period moving average

In [3]:
def alpha_vp_mavg(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg({col}, {n}) AS alpha_vp_mavg_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mavg(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mavg_close_5
4       2023-01-09  000034.SZ              73.079323
5       2023-01-10  000034.SZ              72.960809
6       2023-01-11  000034.SZ              72.243489
7       2023-01-12  000034.SZ              72.143688
8       2023-01-13  000034.SZ              72.100025
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ              45.251888
3858631 2025-12-23  920978.BJ              45.589512
3858632 2025-12-24  920978.BJ              45.816312
3858633 2025-12-25  920978.BJ              46.499292
3858634 2025-12-26  920978.BJ              46.901347

[3822714 rows x 3 columns]

#### N-period moving summation

In [4]:
def alpha_vp_msum(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_sum({col}, {n}) AS alpha_vp_msum_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_msum(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_msum_close_5
4       2023-01-09  000034.SZ             365.396616
5       2023-01-10  000034.SZ             364.804047
6       2023-01-11  000034.SZ             361.217447
7       2023-01-12  000034.SZ             360.718441
8       2023-01-13  000034.SZ             360.500127
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ             226.259440
3858631 2025-12-23  920978.BJ             227.947558
3858632 2025-12-24  920978.BJ             229.081562
3858633 2025-12-25  920978.BJ             232.496458
3858634 2025-12-26  920978.BJ             234.506737

[3822714 rows x 3 columns]

#### N-period moving standard deviation

In [5]:
def alpha_vp_mstd(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_stddev({col}, {n}) AS alpha_vp_mstd_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mstd(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mstd_close_5
4       2023-01-09  000034.SZ               1.743787
5       2023-01-10  000034.SZ               1.678444
6       2023-01-11  000034.SZ               1.617353
7       2023-01-12  000034.SZ               1.462739
8       2023-01-13  000034.SZ               1.477790
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ               0.527446
3858631 2025-12-23  920978.BJ               0.710238
3858632 2025-12-24  920978.BJ               0.670006
3858633 2025-12-25  920978.BJ               1.110050
3858634 2025-12-26  920978.BJ               0.932489

[3822714 rows x 3 columns]

#### N-period moving variance

In [6]:
def alpha_vp_mvar(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_var_pop({col}, {n}) AS alpha_vp_mvar_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mvar(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mvar_close_5
4       2023-01-09  000034.SZ               2.432636
5       2023-01-10  000034.SZ               2.253740
6       2023-01-11  000034.SZ               2.092664
7       2023-01-12  000034.SZ               1.711685
8       2023-01-13  000034.SZ               1.747090
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ               0.222559
3858631 2025-12-23  920978.BJ               0.403551
3858632 2025-12-24  920978.BJ               0.359127
3858633 2025-12-25  920978.BJ               0.985768
3858634 2025-12-26  920978.BJ               0.695629

[3822714 rows x 3 columns]

#### N-period moving skewness

In [7]:
def alpha_vp_mskw(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_skewness({col}, {n}) AS alpha_vp_mskw_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mskw(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mskw_close_5
4       2023-01-09  000034.SZ              -0.827238
5       2023-01-10  000034.SZ              -0.654239
6       2023-01-11  000034.SZ               0.467827
7       2023-01-12  000034.SZ               0.281465
8       2023-01-13  000034.SZ               0.404964
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ               1.612239
3858631 2025-12-23  920978.BJ               0.582383
3858632 2025-12-24  920978.BJ              -0.573436
3858633 2025-12-25  920978.BJ               1.343569
3858634 2025-12-26  920978.BJ               1.066497

[3822552 rows x 3 columns]

#### N-period moving kurtosis

In [8]:
def alpha_vp_mkrt(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_kurtosis({col}, {n}) AS alpha_vp_mkrt_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mkrt(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mkrt_close_5
4       2023-01-09  000034.SZ              -1.834947
5       2023-01-10  000034.SZ              -1.669825
6       2023-01-11  000034.SZ              -2.195172
7       2023-01-12  000034.SZ              -2.796252
8       2023-01-13  000034.SZ              -2.868621
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ               2.450388
3858631 2025-12-23  920978.BJ              -2.152947
3858632 2025-12-24  920978.BJ              -1.667229
3858633 2025-12-25  920978.BJ               2.667197
3858634 2025-12-26  920978.BJ              -0.090234

[3822552 rows x 3 columns]

#### N-period moving covariance

In [9]:
def alpha_vp_mcov(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_covar_samp({col1}, {col2}, {n}) AS alpha_vp_mcov_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mcov(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mcov_close_volume_5
4       2023-01-09  000034.SZ                  4.020892e+06
5       2023-01-10  000034.SZ                  2.171299e+06
6       2023-01-11  000034.SZ                  2.877711e+06
7       2023-01-12  000034.SZ                  5.148549e+06
8       2023-01-13  000034.SZ                  5.052334e+06
...            ...        ...                           ...
3858630 2025-12-22  920978.BJ                 -4.146139e+03
3858631 2025-12-23  920978.BJ                  2.468902e+05
3858632 2025-12-24  920978.BJ                  2.954294e+05
3858633 2025-12-25  920978.BJ                  1.210584e+06
3858634 2025-12-26  920978.BJ                  8.492446e+05

[3822714 rows x 3 columns]

#### N-period moving correlation

In [10]:
def alpha_vp_mcor(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_corr({col1}, {col2}, {n}) AS alpha_vp_mcor_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mcor(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mcor_close_volume_5
4       2023-01-09  000034.SZ                      0.433457
5       2023-01-10  000034.SZ                      0.349173
6       2023-01-11  000034.SZ                      0.459696
7       2023-01-12  000034.SZ                      0.905944
8       2023-01-13  000034.SZ                      0.886371
...            ...        ...                           ...
3858630 2025-12-22  920978.BJ                     -0.008873
3858631 2025-12-23  920978.BJ                      0.679299
3858632 2025-12-24  920978.BJ                      0.889964
3858633 2025-12-25  920978.BJ                      0.968450
3858634 2025-12-26  920978.BJ                      0.932573

[3822517 rows x 3 columns]

#### N-period maximum

In [11]:
def alpha_vp_mmax(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_max({col}, {n}) AS alpha_vp_mmax_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mmax(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mmax_close_5
4       2023-01-09  000034.SZ              74.507726
5       2023-01-10  000034.SZ              74.507726
6       2023-01-11  000034.SZ              74.351787
7       2023-01-12  000034.SZ              73.852781
8       2023-01-13  000034.SZ              73.852781
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ              46.133318
3858631 2025-12-23  920978.BJ              46.532796
3858632 2025-12-24  920978.BJ              46.532796
3858633 2025-12-25  920978.BJ              48.324006
3858634 2025-12-26  920978.BJ              48.324006

[3822714 rows x 3 columns]

#### N-period minimum

In [12]:
def alpha_vp_mmin(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_min({col}, {n}) AS alpha_vp_mmin_{col}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_mmin(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_mmin_close_5
4       2023-01-09  000034.SZ              70.640435
5       2023-01-10  000034.SZ              70.640435
6       2023-01-11  000034.SZ              70.640435
7       2023-01-12  000034.SZ              70.640435
8       2023-01-13  000034.SZ              70.640435
...            ...        ...                    ...
3858630 2025-12-22  920978.BJ              44.844678
3858631 2025-12-23  920978.BJ              44.909110
3858632 2025-12-24  920978.BJ              44.909110
3858633 2025-12-25  920978.BJ              45.334361
3858634 2025-12-26  920978.BJ              46.133318

[3822714 rows x 3 columns]

### 1.2 Regression - column vs window

#### N-period regression slope: col vs window

In [13]:
def alpha_vp_regr_slope_with_window(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        ROW_NUMBER() OVER (PARTITION BY instrument ORDER BY date ASC) AS _rn,
        m_regr_slope({col}, _rn, {n}) AS alpha_vp_regr_slope_{col}_window_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_slope_with_window(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_slope_close_window_5
4       2023-01-09  000034.SZ                           -0.954348
5       2023-01-10  000034.SZ                           -0.576975
6       2023-01-11  000034.SZ                           -0.520837
7       2023-01-12  000034.SZ                            0.433511
8       2023-01-13  000034.SZ                            0.230790
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                            0.287367
3858631 2025-12-23  920978.BJ                            0.421385
3858632 2025-12-24  920978.BJ                            0.372417
3858633 2025-12-25  920978.BJ                            0.601795
3858634 2025-12-26  920978.BJ                            0.421385

[3822714 rows x 3 columns]

#### N-period regression intercept: col vs window

In [14]:
def alpha_vp_regr_intercept_with_window(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        ROW_NUMBER() OVER (PARTITION BY instrument ORDER BY date ASC) AS _rn,
        m_regr_intercept({col}, _rn, {n}) AS alpha_vp_regr_intercept_{col}_window_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_intercept_with_window(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_intercept_close_window_5
4       2023-01-09  000034.SZ                               75.942366
5       2023-01-10  000034.SZ                               75.268709
6       2023-01-11  000034.SZ                               74.847673
7       2023-01-12  000034.SZ                               69.542623
8       2023-01-13  000034.SZ                               70.484496
...            ...        ...                                     ...
3858630 2025-12-22  920978.BJ                             -109.064060
3858631 2025-12-23  920978.BJ                             -181.115798
3858632 2025-12-24  920978.BJ                             -154.916454
3858633 2025-12-25  920978.BJ                             -278.469985
3858634 2025-12-26  920978.BJ                             -181.068118

[3822714 rows x 3 columns]

#### N-period regression R2: col vs window

In [15]:
def alpha_vp_regr_r2_with_window(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        ROW_NUMBER() OVER (PARTITION BY instrument ORDER BY date ASC) AS _rn,
        m_regr_r2({col}, _rn, {n}) AS alpha_vp_regr_r2_{col}_window_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_r2_with_window(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_r2_close_window_5
4       2023-01-09  000034.SZ                         0.748800
5       2023-01-10  000034.SZ                         0.295420
6       2023-01-11  000034.SZ                         0.259259
7       2023-01-12  000034.SZ                         0.219587
8       2023-01-13  000034.SZ                         0.060975
...            ...        ...                              ...
3858630 2025-12-22  920978.BJ                         0.742091
3858631 2025-12-23  920978.BJ                         0.880016
3858632 2025-12-24  920978.BJ                         0.772399
3858633 2025-12-25  920978.BJ                         0.734772
3858634 2025-12-26  920978.BJ                         0.510518

[3822714 rows x 3 columns]

#### N-period regression residual: col vs window

In [16]:
def alpha_vp_regr_resid_with_window(sd, ed, col, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        ROW_NUMBER() OVER (PARTITION BY instrument ORDER BY date ASC) AS _rn,
        {col} - m_regr_slope({col}, _rn, {n})*_rn - m_regr_intercept({col}, _rn, {n}) AS alpha_vp_regr_resid_{col}_window_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_resid_with_window(sd=sd, ed=ed, col='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_resid_close_window_5
4       2023-01-09  000034.SZ                           -0.530193
5       2023-01-10  000034.SZ                            1.671668
6       2023-01-11  000034.SZ                           -0.280690
7       2023-01-12  000034.SZ                            0.842071
8       2023-01-13  000034.SZ                           -0.954348
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                            0.306696
3858631 2025-12-23  920978.BJ                            0.100514
3858632 2025-12-24  920978.BJ                           -0.389169
3858633 2025-12-25  920978.BJ                            0.621125
3858634 2025-12-26  920978.BJ                           -0.399478

[3822714 rows x 3 columns]

### 1.3 Regression - col1 vs col2

#### N-period regression slope: col1 vs col2

In [17]:
def alpha_vp_regr_slope(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_regr_slope({col1}, {col2}, {n}) AS alpha_vp_regr_slope_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_slope(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_slope_close_volume_5
4       2023-01-09  000034.SZ                        1.420876e-07
5       2023-01-10  000034.SZ                        1.581886e-07
6       2023-01-11  000034.SZ                        1.920894e-07
7       2023-01-12  000034.SZ                        3.410765e-07
8       2023-01-13  000034.SZ                        3.395975e-07
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                       -5.282752e-09
3858631 2025-12-23  920978.BJ                        9.428156e-07
3858632 2025-12-24  920978.BJ                        1.203508e-06
3858633 2025-12-25  920978.BJ                        9.546492e-07
3858634 2025-12-26  920978.BJ                        8.904738e-07

[3822686 rows x 3 columns]

#### N-period regression intercept: col1 vs col2

In [18]:
def alpha_vp_regr_intercept(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_regr_intercept({col1}, {col2}, {n}) AS alpha_vp_regr_intercept_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_intercept(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_intercept_close_volume_5
4       2023-01-09  000034.SZ                               70.357913
5       2023-01-10  000034.SZ                               70.052309
6       2023-01-11  000034.SZ                               68.821590
7       2023-01-12  000034.SZ                               65.742235
8       2023-01-13  000034.SZ                               65.648051
...            ...        ...                                     ...
3858630 2025-12-22  920978.BJ                               45.264267
3858631 2025-12-23  920978.BJ                               43.626157
3858632 2025-12-24  920978.BJ                               43.361768
3858633 2025-12-25  920978.BJ                               43.949536
3858634 2025-12-26  920978.BJ                               44.293267

[3822686 rows x 3 columns]

#### N-period regression R2: col1 vs col2

In [19]:
def alpha_vp_regr_r2(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_regr_r2({col1}, {col2}, {n}) AS alpha_vp_regr_r2_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_r2(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_r2_close_volume_5
4       2023-01-09  000034.SZ                         0.187885
5       2023-01-10  000034.SZ                         0.121922
6       2023-01-11  000034.SZ                         0.211320
7       2023-01-12  000034.SZ                         0.820735
8       2023-01-13  000034.SZ                         0.785654
...            ...        ...                              ...
3858630 2025-12-22  920978.BJ                         0.000079
3858631 2025-12-23  920978.BJ                         0.461448
3858632 2025-12-24  920978.BJ                         0.792036
3858633 2025-12-25  920978.BJ                         0.937895
3858634 2025-12-26  920978.BJ                         0.869693

[3822686 rows x 3 columns]

#### N-period regression residual: col1 vs col2

In [20]:
def alpha_vp_regr_resid(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        {col1} - m_regr_slope({col1}, {col2}, {n})*{col2} - m_regr_intercept({col1}, {col2}, {n}) AS alpha_vp_regr_resid_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_regr_resid(sd=sd, ed=ed, col1='close', col2= 'volume', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_regr_resid_close_volume_5
4       2023-01-09  000034.SZ                           -1.840285
5       2023-01-10  000034.SZ                           -0.442277
6       2023-01-11  000034.SZ                           -0.934003
7       2023-01-12  000034.SZ                            1.041843
8       2023-01-13  000034.SZ                           -0.521108
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                            0.882979
3858631 2025-12-23  920978.BJ                            0.679104
3858632 2025-12-24  920978.BJ                            0.275298
3858633 2025-12-25  920978.BJ                            0.000730
3858634 2025-12-26  920978.BJ                            0.417902

[3822686 rows x 3 columns]

## 2. Volume-Price Indicators

### 2.1 Moving Indicators

#### N-period return

In [21]:
def alpha_vp_return(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        close / m_lag(close,{n}) - 1 AS alpha_vp_return_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_return(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_return_5
5       2023-01-10  000034.SZ          -0.008000
6       2023-01-11  000034.SZ          -0.048137
7       2023-01-12  000034.SZ          -0.006711
8       2023-01-13  000034.SZ          -0.003040
9       2023-01-16  000034.SZ           0.030905
...            ...        ...                ...
3858630 2025-12-22  920978.BJ           0.021107
3858631 2025-12-23  920978.BJ           0.037644
3858632 2025-12-24  920978.BJ           0.025179
3858633 2025-12-25  920978.BJ           0.076040
3858634 2025-12-26  920978.BJ           0.044343

[3818555 rows x 3 columns]

#### N-period price_ratio

In [22]:
def alpha_vp_price_ratio(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_lag({col1}, {n}) / {col2} AS alpha_vp_price_ratio_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_price_ratio(sd=sd, ed=ed, col1='close', col2='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_price_ratio_close_close_5
5       2023-01-10  000034.SZ                            1.008065
6       2023-01-11  000034.SZ                            1.050572
7       2023-01-12  000034.SZ                            1.006757
8       2023-01-13  000034.SZ                            1.003049
9       2023-01-16  000034.SZ                            0.970021
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                            0.979330
3858631 2025-12-23  920978.BJ                            0.963722
3858632 2025-12-24  920978.BJ                            0.975440
3858633 2025-12-25  920978.BJ                            0.929333
3858634 2025-12-26  920978.BJ                            0.957539

[3818555 rows x 3 columns]

#### N-period average price ratio

In [23]:
def alpha_vp_avg_price_ratio(sd, ed, col1, col2, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg({col1}, {n}) / {col2} AS alpha_vp_avg_price_ratio_{col1}_{col2}_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_avg_price_ratio(sd=sd, ed=ed, col1='close', col2='close', n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_avg_price_ratio_close_close_5
4       2023-01-09  000034.SZ                                1.034525
5       2023-01-10  000034.SZ                                0.992954
6       2023-01-11  000034.SZ                                1.018646
7       2023-01-12  000034.SZ                                0.976858
8       2023-01-13  000034.SZ                                1.006882
...            ...        ...                                     ...
3858630 2025-12-22  920978.BJ                                0.980894
3858631 2025-12-23  920978.BJ                                0.979729
3858632 2025-12-24  920978.BJ                                0.992297
3858633 2025-12-25  920978.BJ                                0.962240
3858634 2025-12-26  920978.BJ                                0.990637

[3822714 rows x 3 columns]

#### N-period volume ratio

In [24]:
def alpha_vp_volume_ratio(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_lag(volume, {n}) / volume AS alpha_vp_volume_ratio_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_volume_ratio(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_volume_ratio_5
5       2023-01-10  000034.SZ                 1.156770
6       2023-01-11  000034.SZ                 1.181160
7       2023-01-12  000034.SZ                 0.769772
8       2023-01-13  000034.SZ                 0.939602
9       2023-01-16  000034.SZ                 0.621359
...            ...        ...                      ...
3858630 2025-12-22  920978.BJ                 1.453607
3858631 2025-12-23  920978.BJ                 1.552054
3858632 2025-12-24  920978.BJ                 1.101948
3858633 2025-12-25  920978.BJ                 0.310937
3858634 2025-12-26  920978.BJ                 0.563827

[3821735 rows x 3 columns]

#### N-period average volume ratio

In [25]:
def alpha_vp_avg_volume_ratio(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg(volume, {n}) / volume AS alpha_vp_volume_ratio_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_avg_volume_ratio(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_volume_ratio_5
4       2023-01-09  000034.SZ                 1.281987
5       2023-01-10  000034.SZ                 0.751843
6       2023-01-11  000034.SZ                 1.128022
7       2023-01-12  000034.SZ                 0.905605
8       2023-01-13  000034.SZ                 0.995627
...            ...        ...                      ...
3858630 2025-12-22  920978.BJ                 0.888780
3858631 2025-12-23  920978.BJ                 0.881402
3858632 2025-12-24  920978.BJ                 0.968296
3858633 2025-12-25  920978.BJ                 0.582969
3858634 2025-12-26  920978.BJ                 0.990358

[3827313 rows x 3 columns]

#### N-period vwap

In [26]:
def alpha_vp_vwap(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_sum(amount, {n}) / m_sum(volume, {n}) AS alpha_vp_vwap_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_vwap(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_vwap_5
4       2023-01-09  000034.SZ        23.326498
5       2023-01-10  000034.SZ        23.372657
6       2023-01-11  000034.SZ        23.251501
7       2023-01-12  000034.SZ        23.156733
8       2023-01-13  000034.SZ        23.093456
...            ...        ...              ...
3858630 2025-12-22  920978.BJ        35.245904
3858631 2025-12-23  920978.BJ        35.327021
3858632 2025-12-24  920978.BJ        35.622940
3858633 2025-12-25  920978.BJ        36.180775
3858634 2025-12-26  920978.BJ        36.457769

[3822605 rows x 3 columns]

#### N-period relative price change

In [27]:
def alpha_vp_ralative_price_change(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (close - m_min(low, {n})) / (m_max(high, {n}) - m_min(low, {n}) + 1e-12) AS alpha_vp_relative_price_change_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_ralative_price_change(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_relative_price_change_5
4       2023-01-09  000034.SZ                          0.338776
5       2023-01-10  000034.SZ                          0.646766
6       2023-01-11  000034.SZ                          0.238806
7       2023-01-12  000034.SZ                          0.747368
8       2023-01-13  000034.SZ                          0.368421
...            ...        ...                               ...
3858630 2025-12-22  920978.BJ                          0.716102
3858631 2025-12-23  920978.BJ                          0.873362
3858632 2025-12-24  920978.BJ                          0.710660
3858633 2025-12-25  920978.BJ                          0.877966
3858634 2025-12-26  920978.BJ                          0.608392

[3822714 rows x 3 columns]

#### N-period highest price relative location

In [28]:
def alpha_vp_high_relative_location(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_imax(high, {n})/{n} AS alpha_vp_high_relative_location_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_high_relative_location(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_high_relative_location_5
4       2023-01-09  000034.SZ                                0.4
5       2023-01-10  000034.SZ                                0.2
6       2023-01-11  000034.SZ                                0.0
7       2023-01-12  000034.SZ                                0.8
8       2023-01-13  000034.SZ                                0.6
...            ...        ...                                ...
3858630 2025-12-22  920978.BJ                                0.0
3858631 2025-12-23  920978.BJ                                0.6
3858632 2025-12-24  920978.BJ                                0.4
3858633 2025-12-25  920978.BJ                                0.8
3858634 2025-12-26  920978.BJ                                0.6

[3822714 rows x 3 columns]

#### N-period lowest price relative location

In [29]:
def alpha_vp_low_relative_location(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_imin(low, {n})/{n} AS alpha_vp_low_relative_location_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_low_relative_location(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_low_relative_location_5
4       2023-01-09  000034.SZ                               0.0
5       2023-01-10  000034.SZ                               0.8
6       2023-01-11  000034.SZ                               0.6
7       2023-01-12  000034.SZ                               0.4
8       2023-01-13  000034.SZ                               0.2
...            ...        ...                               ...
3858630 2025-12-22  920978.BJ                               0.2
3858631 2025-12-23  920978.BJ                               0.0
3858632 2025-12-24  920978.BJ                               0.0
3858633 2025-12-25  920978.BJ                               0.0
3858634 2025-12-26  920978.BJ                               0.0

[3822714 rows x 3 columns]

#### N-period high-low relative distance

In [30]:
def alpha_vp_high_low_relative_distance(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (m_imax(high, {n})-m_imin(low, {n}))/{n} AS alpha_vp_high_low_relative_distance_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_high_low_relative_distance(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_high_low_relative_distance_5
4       2023-01-09  000034.SZ                                    0.4
5       2023-01-10  000034.SZ                                   -0.6
6       2023-01-11  000034.SZ                                   -0.6
7       2023-01-12  000034.SZ                                    0.4
8       2023-01-13  000034.SZ                                    0.4
...            ...        ...                                    ...
3858630 2025-12-22  920978.BJ                                   -0.2
3858631 2025-12-23  920978.BJ                                    0.6
3858632 2025-12-24  920978.BJ                                    0.4
3858633 2025-12-25  920978.BJ                                    0.8
3858634 2025-12-26  920978.BJ                                    0.6

[3822714 rows x 3 columns]

#### N-period price-volume correlation

In [31]:
def alpha_vp_price_volume_correlation(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_corr(close, volume, {n}) AS alpha_vp_price_volume_correlation_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_price_volume_correlation(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_price_volume_correlation_5
4       2023-01-09  000034.SZ                             0.433457
5       2023-01-10  000034.SZ                             0.349173
6       2023-01-11  000034.SZ                             0.459696
7       2023-01-12  000034.SZ                             0.905944
8       2023-01-13  000034.SZ                             0.886371
...            ...        ...                                  ...
3858630 2025-12-22  920978.BJ                            -0.008873
3858631 2025-12-23  920978.BJ                             0.679299
3858632 2025-12-24  920978.BJ                             0.889964
3858633 2025-12-25  920978.BJ                             0.968450
3858634 2025-12-26  920978.BJ                             0.932573

[3822517 rows x 3 columns]

#### N-period price-volume change correlation

In [32]:
def alpha_vp_price_volume_change_correlation(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_corr(close/m_lag(close, 1), log(volume/m_lag(volume, 1)+1), {n}) AS alpha_vp_price_volume_change_correlation_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_price_volume_change_correlation(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_price_volume_change_correlation_5
5       2023-01-10  000034.SZ                                    0.481058
6       2023-01-11  000034.SZ                                    0.771459
7       2023-01-12  000034.SZ                                    0.815207
8       2023-01-13  000034.SZ                                    0.928643
9       2023-01-16  000034.SZ                                    0.927321
...            ...        ...                                         ...
3858630 2025-12-22  920978.BJ                                    0.713006
3858631 2025-12-23  920978.BJ                                    0.928784
3858632 2025-12-24  920978.BJ                                    0.805698
3858633 2025-12-25  920978.BJ                                    0.932353
3858634 2025-12-26  920978.BJ                                    0.953727

[3815846 rows x 3 columns]

#### N-period up days ratio

In [33]:
def alpha_vp_up_days_ratio(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg(IF(close>m_lag(close, 1), 1, 0), {n}) AS alpha_vp_up_days_ratio_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_up_days_ratio(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_up_days_ratio_5
4       2023-01-09  000034.SZ                       0.2
5       2023-01-10  000034.SZ                       0.4
6       2023-01-11  000034.SZ                       0.2
7       2023-01-12  000034.SZ                       0.4
8       2023-01-13  000034.SZ                       0.4
...            ...        ...                       ...
3858630 2025-12-22  920978.BJ                       0.6
3858631 2025-12-23  920978.BJ                       0.8
3858632 2025-12-24  920978.BJ                       0.6
3858633 2025-12-25  920978.BJ                       0.8
3858634 2025-12-26  920978.BJ                       0.6

[3836274 rows x 3 columns]

#### N-period down days ratio

In [34]:
def alpha_vp_down_days_ratio(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg(IF(close<m_lag(close, 1), 1, 0), {n}) AS alpha_vp_down_days_ratio_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_down_days_ratio(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_down_days_ratio_5
4       2023-01-09  000034.SZ                         0.6
5       2023-01-10  000034.SZ                         0.6
6       2023-01-11  000034.SZ                         0.8
7       2023-01-12  000034.SZ                         0.6
8       2023-01-13  000034.SZ                         0.6
...            ...        ...                         ...
3858630 2025-12-22  920978.BJ                         0.4
3858631 2025-12-23  920978.BJ                         0.2
3858632 2025-12-24  920978.BJ                         0.4
3858633 2025-12-25  920978.BJ                         0.2
3858634 2025-12-26  920978.BJ                         0.4

[3836274 rows x 3 columns]

#### N-period up-down days ratio

In [35]:
def alpha_vp_up_down_days_ratio(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_avg(IF(close>m_lag(close, 1), 1, 0), {n}) - m_avg(IF(close<m_lag(close, 1), 1, 0), {n}) AS alpha_vp_up_down_days_ratio_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_up_down_days_ratio(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_up_down_days_ratio_5
4       2023-01-09  000034.SZ                           -0.4
5       2023-01-10  000034.SZ                           -0.2
6       2023-01-11  000034.SZ                           -0.6
7       2023-01-12  000034.SZ                           -0.2
8       2023-01-13  000034.SZ                           -0.2
...            ...        ...                            ...
3858630 2025-12-22  920978.BJ                            0.2
3858631 2025-12-23  920978.BJ                            0.6
3858632 2025-12-24  920978.BJ                            0.2
3858633 2025-12-25  920978.BJ                            0.6
3858634 2025-12-26  920978.BJ                            0.2

[3836274 rows x 3 columns]

#### N-period relative close profit

In [36]:
def alpha_vp_relative_close_profit(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_sum(IF(close-m_lag(close, 1)>0, close-m_lag(close, 1), 0), {n}) / (m_sum(abs(close-m_lag(close, 1)), {n}) + 1e-12) AS alpha_vp_relative_close_profit_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_relative_close_profit(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_relative_close_profit_5
5       2023-01-10  000034.SZ                          0.458515
6       2023-01-11  000034.SZ                          0.306397
7       2023-01-12  000034.SZ                          0.479275
8       2023-01-13  000034.SZ                          0.490716
9       2023-01-16  000034.SZ                          0.592593
...            ...        ...                               ...
3858630 2025-12-22  920978.BJ                          0.753425
3858631 2025-12-23  920978.BJ                          0.933775
3858632 2025-12-24  920978.BJ                          0.768293
3858633 2025-12-25  920978.BJ                          0.912773
3858634 2025-12-26  920978.BJ                          0.714286

[3815993 rows x 3 columns]

#### N-period relative close loss

In [37]:
def alpha_vp_relative_close_loss(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_sum(IF(m_lag(close, 1)-close < 0, 0, m_lag(close, 1)-close), {n}) / (m_sum(abs(close-m_lag(close, 1)), {n}) + 1e-12) AS alpha_vp_relative_close_loss_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_relative_close_loss(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_relative_close_loss_5
5       2023-01-10  000034.SZ                        0.541485
6       2023-01-11  000034.SZ                        0.693603
7       2023-01-12  000034.SZ                        0.520725
8       2023-01-13  000034.SZ                        0.509284
9       2023-01-16  000034.SZ                        0.407407
...            ...        ...                             ...
3858630 2025-12-22  920978.BJ                        0.246575
3858631 2025-12-23  920978.BJ                        0.066225
3858632 2025-12-24  920978.BJ                        0.231707
3858633 2025-12-25  920978.BJ                        0.087227
3858634 2025-12-26  920978.BJ                        0.285714

[3815993 rows x 3 columns]

#### N-period relative close net gain

In [38]:
def alpha_vp_relative_close_net_gain(sd, ed, n, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        m_sum(IF(m_lag(close, 1)-close > 0, m_lag(close, 1)-close, 0), {n}) / (m_sum(abs(close-m_lag(close, 1)), {n})+1e-12) AS alpha_vp_relative_close_net_gain_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_relative_close_net_gain(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_relative_close_net_gain_5
5       2023-01-10  000034.SZ                            0.541485
6       2023-01-11  000034.SZ                            0.693603
7       2023-01-12  000034.SZ                            0.520725
8       2023-01-13  000034.SZ                            0.509284
9       2023-01-16  000034.SZ                            0.407407
...            ...        ...                                 ...
3858630 2025-12-22  920978.BJ                            0.246575
3858631 2025-12-23  920978.BJ                            0.066225
3858632 2025-12-24  920978.BJ                            0.231707
3858633 2025-12-25  920978.BJ                            0.087227
3858634 2025-12-26  920978.BJ                            0.285714

[3815993 rows x 3 columns]

#### N-period consecutive rise

In [39]:
def alpha_vp_consecutive_rise(sd, ed, n, data_base):
    sql_str = " AND ".join([f"m_lag(close, {i}) > m_lag(close, {i + 1})" for i in range(1, n)])
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        IF(close > m_lag(close, 1) AND {sql_str if sql_str != '' else '1=1'}, 1, 0) AS alpha_vp_consecutive_rise_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_consecutive_rise(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_consecutive_rise_5
0       2023-01-03  000034.SZ                            0
1       2023-01-04  000034.SZ                            0
2       2023-01-05  000034.SZ                            0
3       2023-01-06  000034.SZ                            0
4       2023-01-09  000034.SZ                            0
...            ...        ...                          ...
3858630 2025-12-22  920978.BJ                            0
3858631 2025-12-23  920978.BJ                            0
3858632 2025-12-24  920978.BJ                            0
3858633 2025-12-25  920978.BJ                            0
3858634 2025-12-26  920978.BJ                            0

[3858635 rows x 3 columns]

#### N-period consecutive down

In [40]:
def alpha_vp_consecutive_down(sd, ed, n, data_base):
    sql_str = " AND ".join([f"m_lag(close, {i}) < m_lag(close, {i + 1})" for i in range(1, n)])
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        IF(close < m_lag(close, 1) AND {sql_str if sql_str != '' else '1=1'}, 1, 0) AS alpha_vp_consecutive_rise_{n}
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_consecutive_down(sd=sd, ed=ed, n=5, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_consecutive_rise_5
0       2023-01-03  000034.SZ                            0
1       2023-01-04  000034.SZ                            0
2       2023-01-05  000034.SZ                            0
3       2023-01-06  000034.SZ                            0
4       2023-01-09  000034.SZ                            0
...            ...        ...                          ...
3858630 2025-12-22  920978.BJ                            0
3858631 2025-12-23  920978.BJ                            0
3858632 2025-12-24  920978.BJ                            0
3858633 2025-12-25  920978.BJ                            0
3858634 2025-12-26  920978.BJ                            0

[3858635 rows x 3 columns]

### 2.2 K Stick Indicators

#### K length

In [41]:
def alpha_vp_k_length(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (close - open)/open AS alpha_vp_k_length
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_length(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_length
0       2023-01-03  000001.SZ           0.043182
1       2023-01-03  000002.SZ           0.007182
2       2023-01-03  000004.SZ           0.027921
3       2023-01-03  000005.SZ           0.010811
4       2023-01-03  000006.SZ          -0.012903
...            ...        ...                ...
3858630 2025-12-26  920978.BJ          -0.015013
3858631 2025-12-26  920981.BJ           0.001230
3858632 2025-12-26  920982.BJ           0.033659
3858633 2025-12-26  920985.BJ           0.015957
3858634 2025-12-26  920992.BJ          -0.024876

[3849722 rows x 3 columns]

#### K relative length

In [42]:
def alpha_vp_k_relative_length(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (close-open)/(high-low+1e-12) AS alpha_vp_k_relative_length
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_relative_length(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_relative_length
0       2023-01-03  000001.SZ                    0.712500
1       2023-01-03  000002.SZ                    0.209677
2       2023-01-03  000004.SZ                    0.613636
3       2023-01-03  000005.SZ                    0.400000
4       2023-01-03  000006.SZ                   -0.285714
...            ...        ...                         ...
3858630 2025-12-26  920978.BJ                   -0.455285
3858631 2025-12-26  920981.BJ                    0.080000
3858632 2025-12-26  920982.BJ                    0.705281
3858633 2025-12-26  920985.BJ                    0.521739
3858634 2025-12-26  920992.BJ                   -1.000000

[3849722 rows x 3 columns]

#### K upper shadow

In [43]:
def alpha_vp_k_upper_shadow(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (high-IF(open > close, open, close))/open AS alpha_vp_k_upper_shadow
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_upper_shadow(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_upper_shadow
0       2023-01-03  000001.SZ                 0.006061
1       2023-01-03  000002.SZ                 0.014917
2       2023-01-03  000004.SZ                 0.011375
3       2023-01-03  000005.SZ                 0.005405
4       2023-01-03  000006.SZ                 0.009677
...            ...        ...                      ...
3858630 2025-12-26  920978.BJ                 0.013405
3858631 2025-12-26  920981.BJ                 0.010151
3858632 2025-12-26  920982.BJ                 0.011626
3858633 2025-12-26  920985.BJ                 0.014628
3858634 2025-12-26  920992.BJ                 0.000000

[3849722 rows x 3 columns]

#### K upper shadow ratio

In [44]:
def alpha_vp_k_upper_shadow_ratio(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (high-IF(open > close, open, close))/(high-low+1e-12) AS alpha_vp_k_upper_shadow_ratio
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_upper_shadow_ratio(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_upper_shadow_ratio
0       2023-01-03  000001.SZ                       0.100000
1       2023-01-03  000002.SZ                       0.435484
2       2023-01-03  000004.SZ                       0.250000
3       2023-01-03  000005.SZ                       0.200000
4       2023-01-03  000006.SZ                       0.214286
...            ...        ...                            ...
3858630 2025-12-26  920978.BJ                       0.406504
3858631 2025-12-26  920981.BJ                       0.660000
3858632 2025-12-26  920982.BJ                       0.243612
3858633 2025-12-26  920985.BJ                       0.478261
3858634 2025-12-26  920992.BJ                       0.000000

[3849722 rows x 3 columns]

#### K lower shadow

In [45]:
def alpha_vp_k_lower_shadow(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (IF(open > close, close, open)-low)/open AS alpha_vp_k_lower_shadow
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_lower_shadow(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_lower_shadow
0       2023-01-03  000001.SZ                 0.011364
1       2023-01-03  000002.SZ                 0.012155
2       2023-01-03  000004.SZ                 0.006205
3       2023-01-03  000005.SZ                 0.010811
4       2023-01-03  000006.SZ                 0.022581
...            ...        ...                      ...
3858630 2025-12-26  920978.BJ                 0.004558
3858631 2025-12-26  920981.BJ                 0.003999
3858632 2025-12-26  920982.BJ                 0.002439
3858633 2025-12-26  920985.BJ                 0.000000
3858634 2025-12-26  920992.BJ                 0.000000

[3849722 rows x 3 columns]

#### K lower shadow ratio

In [3]:
def alpha_vp_k_lower_shadow_ratio(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (IF(open > close, close, open)-low)/(high-low+1e-12) AS alpha_vp_k_lower_shadow_ratio
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_k_lower_shadow_ratio(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_k_lower_shadow_ratio
0       2023-01-03  000001.SZ                       0.187500
1       2023-01-03  000002.SZ                       0.354839
2       2023-01-03  000004.SZ                       0.136364
3       2023-01-03  000005.SZ                       0.400000
4       2023-01-03  000006.SZ                       0.500000
...            ...        ...                            ...
3858630 2025-12-26  920978.BJ                       0.138211
3858631 2025-12-26  920981.BJ                       0.260000
3858632 2025-12-26  920982.BJ                       0.051107
3858633 2025-12-26  920985.BJ                       0.000000
3858634 2025-12-26  920992.BJ                       0.000000

[3849722 rows x 3 columns]

#### TRIN

In [4]:
def alpha_vp_TRIN(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (2*close-high-low)/open AS alpha_vp_TRIN
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_TRIN(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_TRIN
0       2023-01-03  000001.SZ       0.048485
1       2023-01-03  000002.SZ       0.004420
2       2023-01-03  000004.SZ       0.022751
3       2023-01-03  000005.SZ       0.016216
4       2023-01-03  000006.SZ       0.000000
...            ...        ...            ...
3858630 2025-12-26  920978.BJ      -0.023861
3858631 2025-12-26  920981.BJ      -0.004922
3858632 2025-12-26  920982.BJ       0.024472
3858633 2025-12-26  920985.BJ       0.001330
3858634 2025-12-26  920992.BJ      -0.024876

[3849722 rows x 3 columns]

#### TRIN ratio

In [5]:
def alpha_vp_TRIN_ratio(sd, ed, data_base):
    sql_alpha = f"""
    SELECT
        date,
        instrument,
        (2*close-high-low)/(high-low+1e-12) AS alpha_vp_TRIN_ratio
    FROM {data_base}
    """
    return dai.query(sql_alpha, filters={'date':[sd, ed]}).df().dropna()

alpha_vp_TRIN_ratio(sd=sd, ed=ed, data_base='cn_stock_bar1d')

              date instrument  alpha_vp_TRIN_ratio
0       2023-01-03  000001.SZ             0.800000
1       2023-01-03  000002.SZ             0.129032
2       2023-01-03  000004.SZ             0.500000
3       2023-01-03  000005.SZ             0.600000
4       2023-01-03  000006.SZ             0.000000
...            ...        ...                  ...
3858630 2025-12-26  920978.BJ            -0.723577
3858631 2025-12-26  920981.BJ            -0.320000
3858632 2025-12-26  920982.BJ             0.512777
3858633 2025-12-26  920985.BJ             0.043478
3858634 2025-12-26  920992.BJ            -1.000000

[3849722 rows x 3 columns]